<div
  class="container grey-bg filter"
  [ngClass]="{
    'filter-space-bottom': addSpacing,
    'filter-space-top': addSpacing
  }"
  fxLayoutGap="20px"
  fxLayoutAlign="space-between center"
>
  <div fxLayoutGap="20px" fxLayout>
    <!-- <mat-calendar *ngIf="calendar"></mat-calendar> -->
    <span
      style="cursor: pointer"
      *ngFor="let filterHeading of filterData.filtersObj | keyvalue"
      [matMenuTriggerFor]="fl"
      fxLayoutAlign="center center"
    >
      <span class="mat-body-1">{{
        defaultQuery ? defaultQuery : filterHeading.key
      }}</span>
      <mat-icon class="material-icons-round">keyboard_arrow_down</mat-icon>
      <mat-menu #fl>
        <span
          (click)="onQueryDefault(filterHeading.key, filterValue)"
          *ngFor="let filterValue of filterHeading.value"
          mat-menu-item
        >
          {{ filterValue }}
        </span>
      </mat-menu>
    </span>
    <span
      style="cursor: pointer"
      *ngFor="let filterHeading of filterData.fetchablefiltersObj | keyvalue"
      [matMenuTriggerFor]="fl"
      fxLayoutAlign="center center"
    >
      <span class="mat-body-1">{{ filterHeading.key }}</span>
      <mat-icon class="material-icons-round">keyboard_arrow_down</mat-icon>
      <mat-menu #fl>
        <span *ngFor="let filterValue of filterHeading.value" mat-menu-item>
          {{ filterValue }}
        </span>
      </mat-menu>
    </span>
  </div>
  <div>
    <button
      matTooltip="Reset filter"
      (click)="onResetFilter()"
      mat-icon-button
      color="warn"
    >
      <mat-icon class="material-icons-round"> clear </mat-icon>
    </button>
    <button disabled matTooltip="Filters" mat-icon-button>
      <mat-icon class="material-icons-round"> filter_alt </mat-icon>
    </button>
  </div>
</div>
