<div
  class="container grey-bg filter"
  [ngClass]="{
    'filter-space-bottom': addSpacing,
    'filter-space-top': addSpacing
  }"
  fxLayoutGap="20px"
  fxLayoutAlign="space-between center"
>
  <div fxLayoutGap="20px" fxLayout>
    <!-- <mat-calendar *ngIf="calendar"></mat-calendar> -->
    <span
      style="cursor: pointer"
      *ngFor="let filter of filters"
      [matMenuTriggerFor]="fl"
      fxLayoutAlign="center center"
    >
      <span class="mat-body-1">{{ filter }}</span>
      <mat-icon class="material-icons-round">keyboard_arrow_down</mat-icon>
    </span>
  </div>
  <div>
    <button
      matTooltip="Reset filter"
      (click)="onResetFilter()"
      mat-icon-button
      color="warn"
    >
      <mat-icon class="material-icons-round"> clear </mat-icon>
    </button>
    <button matTooltip="Apply filter" mat-icon-button>
      <mat-icon class="material-icons-round"> filter_alt </mat-icon>
    </button>
  </div>
</div>

<mat-menu #fl>
  <span
    *ngFor="let item of [1, 2, 3, 4, 5, 5, 6, 6]; let i = index"
    mat-menu-item
  >
    {{ "Value " + i }}
  </span>
</mat-menu>
