<mat-card>
  <span mat-card-title class="mat-subheading-2">Ongoing Tournaments</span>
  <div mat-card-content>
    <div
      *ngIf="loadingStatus === SUCCESS"
      class="loading-container"
      fxLayoutAlign="center center"
    >
      <div
        class="loading-container"
        fxLayout="column"
        fxLayoutGap="8px"
        fxLayoutAlign="center center"
      >
        <app-tick-animation></app-tick-animation>
        <span class="mat-body-1"> Payment Completed! Enjoy your Season. </span>
        <button
          *ngIf="selectedSeason"
          (click)="onExitScreen()"
          [routerLink]="['/s', selectedSeason]"
          class="primaryButton margin-top buttonText"
        >
          View Season
        </button>
      </div>
    </div>
    <div
      *ngIf="loadingStatus === LOADING"
      class="loading-container"
      fxLayoutAlign="center center"
    >
      <div class="loading-container" fxLayoutAlign="center center">
        <app-loading></app-loading>
      </div>
    </div>
    <ul *ngIf="loadingStatus === HOME">
      <li
        class="tournament"
        *ngFor="let season of seasons$ | async"
        fxLayoutAlign="space-between center"
      >
        <span class="mat-subheading-1">
          {{ season.name }}
          (FKC{{ season.cont_tour.length > 1 ? " & more..." : "" }})</span
        >
        <button
          [disabled]="isParticipated(season.id)"
          (click)="onPayNow(season)"
          class="buttonText secondaryButtonInv"
        >
          {{ isParticipated(season.id) ? "Paid" : "Pay Now" }}
        </button>
      </li>
    </ul>
  </div>
</mat-card>
