<div mat-card-title class="mat-subheading-2" fxLayoutAlign="start center" fxLayoutGap="8px">
  <span>
    Live Seasons
  </span>
  <span class="material-icons-round red">sensors</span>
</div>
<div *ngIf="status === statusEnum.success" class="loading-container" fxLayoutAlign="center center">
  <div class="loading-container" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
    <app-tick-animation></app-tick-animation>
    <span class="mat-body-1 center"> Payment Completed! <br> Freekyk wishes you all the best for your season. </span>
  </div>
</div>
<ul class="list-container" *ngIf="status === statusEnum.default">
  <li *ngIf="!seasons?.length">
    <app-no-items-message items="live seasons"></app-no-items-message>
  </li>
  <li class="tournament mat-elevation-z4" *ngFor=" let season of seasons" fxLayout="row" fxLayoutGap="16px"
    fxLayoutAlign="start center" fxLayoutAlign.lt-md="center center" fxLayout.lt-md="column">
    <div class="photo-container">
      <img [src]="season.imgpath" alt="Season image" appFallbackImg>
    </div>
    <div class="text-container" fxLayoutAlign="center start" fxLayoutAlign.lt-md="center center" fxLayout="column"
      fxLayoutGap="4px">
      <span (click)="goToSeason(season.name)" class="mat-body-2 name" [matTooltip]="season.name"
        fxLayoutAlign="center center">
        {{ season.name | textShorten: 30 }}
        <span class="material-icons-round">open_in_new</span>
      </span>
      <span class="mat-body-1" *ngIf="season.discountedFees > 0">
        Team Entry Fees is <span class="striked">{{ season.feesPerTeam | currency:'INR' }}</span>
        <span class="mat-body-2 green">{{season.discountedFees | currency:'INR'}}</span>
      </span>
      <span class="mat-body-1" *ngIf="season.discountedFees === 0">
        Team Entry Fees is
        <span class="mat-body-2 green">FREE</span>
      </span>
      <span class="mat-body-1 red">
        Registration ends on {{ season.lastRegDate | date: 'short' }}
      </span>
      <div fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="16px" fxLayout.lt-md="column"
        fxLayoutGap.lt-md="8px">
        <button fxFlexOrder.lt-md="2" fxFlexOrder.lt-md="1" [disabled]="!isUserAllowedParticipation" mat-stroked-button
          (click)="openOffers(season)" color="primary" *ngIf="season.discountedFees > 0">
          Pay Now
        </button>
        <button fxFlexOrder.lt-md="3" [disabled]="!isUserAllowedParticipation" mat-stroked-button
          (click)="openOffers(season)" color="primary" *ngIf="season.feesPerTeam === 0">
          Participate
        </button>
        <span *ngIf="isUserAllowedParticipation; else message" fxFlexOrder.lt-md="1" class="mat-body-1">Hurry! Book
          your slot now </span>
        <ng-template #message>
          <span fxFlexOrder.lt-md="0" class="mat-body-1">(Captains Only) </span>
        </ng-template>
      </div>
    </div>
  </li>
</ul>
<app-loading *ngIf="status === statusEnum.loading"></app-loading>
