.mat-card {
  padding: 20px;
  border-radius: var(--borderRadiusCard);
  overflow: hidden;
  min-height: 100vh;
}

.min-height {
  height: 100vh;
}

.tournament {
  width: 100%;
  border: 2px solid white;
  color: white;
  height: 150px;
  border-radius: var(--borderRadiusCard);
  padding: 20px;
  margin: 20px 0;
  background-image: url("/assets/images/fkc_background.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-color: #cccccc3b;
}

.loading-container {
  height: 60vh;
}

.margin-top {
  margin-top: 20px;
}

.name:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and (max-width: 959px) {
  .tournament {
    text-align: center;
    width: 100%;
    border: 2px solid white;
    color: white;
    height: 230px;
    border-radius: var(--borderRadiusCard);
    padding: 20px;
    margin: 20px 0;
    background-image: url("/assets/images/fkc_background.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-color: #cccccc3b;
  }
}
