.red {
  color: var(--red);
}

img {
  max-height: 320px;
}

.striked {
  text-decoration: line-through;
}

li {
  margin-bottom: 16px;
}

.spaced-heading {
  width: 100px;
}

.spacy {
  margin-top: 12px;
}

.section-footer {
  margin-top: 8px;
}

.back-button {
  margin-bottom: 16px;
}
