<div fxLayout="column" class="back-button">
  <button [routerLink]="['/dashboard/home']" class="buttonText secondaryButton" fxLayoutAlign="center center"
    fxLayoutGap="8px">
    <span class="material-icons-round">chevron_left</span>
    <span>
      Go to Dashboard
    </span>
  </button>
</div>

<mat-card class="dashboard-card mat-elevation-z8">
  <span class="dash-h5">My Profile Settings</span>
  <app-acc-profile></app-acc-profile>
</mat-card>

<mat-card class="dashboard-card mat-elevation-z8">
  <div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
    <span class="mat-caption align">
      (For security reasons, changing your email or password requires you to
      re-login to your account)
    </span>
    <div class="buttons-container" fxLayout="column" fxLayoutGap="12px">
      <button class="link-button" fxFlex="100%" (click)="onChangeCredentials('password')" mat-stroked-button
        color="primary">
        <span class="material-icons-round external-icon">password</span>
        Change password
      </button>
      <button class="link-button" fxFlex="100%" (click)="onChangeCredentials('email')" mat-stroked-button
        color="primary">
        <span class="material-icons-round external-icon">email</span>
        Change email
      </button>
      <button class="link-button" routerLink="/support" fxFlex="100%" mat-stroked-button color="primary">
        <span class="material-icons-round external-icon">help</span>
        Need help? Contact us!
      </button>
      <a (click)="onDeactivateAccount()" class="mat-caption" mat-button color="warn">
        Deactivate Account
      </a>
    </div>
  </div>
</mat-card>
