.mat-card {
  border-radius: var(--borderRadiusCard);
}

mat-tab-group {
  min-height: 100vh;
}

.nopad {
  padding: 0 !important;

  @media screen and (max-width: 600px) {
    padding: 10px 0 0 0 !important;
  }
}

.go-back-button {
  padding: 10px;
}
