<div class="reward-container" fxLayout="column" fxLayoutGap="12px">
  <div class="confetti-container" fxLayout="row" fxLayoutAlign="center start">
    <img src="assets/gifs/confetti-reward.gif" alt="Confetti SVG" appFallbackImg class="confetti">
    <span class="material-icons-round close-button" mat-dialog-close (click)="onCloseDialog()">close</span>
  </div>
  <div fxLayout="column" fxLayoutGap="12px">
    <span class="mat-body-2 center" *ngIf="!data.isAdded; else addedPoints">
      Woohooo! You have earned <br>
      <strong class="mat-subheading-2">
        +{{data.points}} points
      </strong><br>
      <span class="mat-body-2" *ngIf="data.activityID >= 0">
        for {{extendedDesc}}
      </span> 😇
    </span>
    <ng-template #addedPoints>
      <span class="mat-body-2 center">
        Woohooo! You have added <br>
        <strong class="mat-subheading-2">
          +{{data.points}} points
        </strong><br>
        <span class="mat-body-2">
          in your wallet
        </span> 😇
      </span>
    </ng-template>
    <button mat-flat-button color="primary" (click)="claimReward()" *ngIf="data.showCTA">
      <span class="material-icons-round left-icon">
        celebration
      </span>
      <span>
        Redeem
      </span>
    </button>

    <a (click)="openInfo()" class="center mat-caption">Learn More</a>
  </div>
</div>