.head {
  height: 72px;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  border-bottom: 2px solid var(--grey1);
}
.price {
  margin-top: 20px;
}
.get_started_button_container {
  height: 100px;
}
.grey {
  color: var(--grey1);
}
.premium-bg {
  background-color: var(--premiumServiceColor);
  color: black;
}
.green {
  color: var(--primaryColor);
}
.premium {
  color: var(--premiumServiceColor);
}

.premiumBorder {
  border: 5px solid var(--premiumServiceColor);
  border-radius: var(--borderRadiusCard);
}
.content_container {
  padding: 20px;
}
.mat-card {
  padding: 0px;
  border-radius: var(--borderRadiusCard);
  overflow: hidden;
}
