<mat-toolbar color="primary" class="mat-elevation-z4" fxLayoutAlign="start center" fxLayoutGap="16px">
  <button matTooltip="Close" mat-icon-button mat-dialog-close (click)="onCloseDialog()">
    <mat-icon class="material-icons-round"> close </mat-icon>
  </button>
  <span *ngIf="!data?.concluded" class="mat-body-1"> Fixture Details </span>
  <span *ngIf="data?.concluded" class="mat-body-1">Result Details</span>
</mat-toolbar>
<div class="container-2" fxLayout="column" fxLayoutGap="20px">
  <app-match-detail-header [data]="data"></app-match-detail-header>

  <mat-tab-group mat-align-tabs="start" [(selectedIndex)]="selectedIndex" color="primary">
    <mat-tab label="Overview" [disabled]="!data">
      <ng-template matTabContent>
        <div class="seperator" fxLayoutGap="16px" fxLayout="column">
          <div class="basic" fxLayout="column" fxLayoutGap="16px">
            <span class="dash-h5 align">
              {{ "Basic details" | titlecase }}
            </span>
            <div fxLayoutAlign="space-between center">
              <span class="mat-body-2">Kick Off</span>
              <span class="mat-body-1">
                {{ data?.date | date: "short" }}
              </span>
            </div>
            <div fxLayoutAlign="space-between center">
              <span class="mat-body-2">Stadium/Ground</span><a matTooltip="View Ground" (click)="OnOpenGround()"
                class="mat-body-1">{{
                data?.ground }}</a>
            </div>
            <div fxLayoutAlign="space-between center">
              <span class="mat-body-2">Season Name</span><span class="mat-body-1">{{ data?.season }}</span>
            </div>
            <div fxLayoutAlign="space-between center">
              <span class="mat-body-2">Match Type</span><span class="mat-body-1"> {{ data?.type }} </span>
            </div>
            <div fxLayoutAlign="space-between center">
              <span class="mat-body-2">Match Referee</span><span [matTooltip]="overViewData?.ref_phno | contactNumber"
                class="mat-body-1">{{ statsData?.referee }}</span>
            </div>
            <div fxLayoutAlign="space-between center">
              <span class="mat-body-2">Match Live Stream</span>
              <a [href]="overViewData?.live_link" class="mat-body-2"> Available </a>
            </div>
            <div fxLayoutAlign="space-between center">
              <span class="mat-body-2">Match Organizer</span><span [matTooltip]="overViewData?.org_phno | contactNumber"
                class="mat-body-1"> {{ overViewData?.organizer }} </span>
            </div>

            <div fxLayoutAlign="space-between center">
              <span class="mat-body-2">Refreshments Availability</span>
              <span [matTooltip]="overViewData?.refresh_phno | contactNumber" class="mat-body-1">
                {{ overViewData?.refresh ? "Available" : "No" }}
              </span>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="other" fxLayout="column" fxLayoutGap="16px">
            <span class="dash-h5 align">
              {{ "Other details" | titlecase }}
            </span>
            <div fxLayoutAlign="start" fxLayout="column">
              <span class="mat-body-2">Match Description</span><span class="mat-body-1">
                {{ overViewData?.desc }}
              </span>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Lineup" [disabled]="!lineups">
      <ng-template matTabContent>
        <div class="filter-spacing seperator" fxLayoutGap="20px" fxLayout="column">
          <div fxLayout="column" fxLayoutGap="16px">
            <span class="dash-h5 align">
              {{ data?.home.name + " Lineup" | titlecase }}
            </span>
            <div fxLayoutAlign="start" fxLayout="column">
              <span *ngFor="let player of lineups?.home" class="mat-body-1">
                {{ player }}
              </span>
            </div>
            <mat-divider></mat-divider>
            <span class="dash-h5 align">
              {{ data?.away.name + " Lineup" | titlecase }}
            </span>
            <div fxLayoutAlign="start" fxLayout="column">
              <span *ngFor="let player of lineups?.away" class="mat-body-1">
                {{ player }}
              </span>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Stats" [disabled]="!statsData">
      <ng-template matTabContent>
        <div class="seperator" fxLayoutGap="16px" fxLayout="column">
          <div class="basic" fxLayout="column" fxLayoutGap="16px">
            <span class="dash-h5 align">
              {{ "Match Stats" | titlecase }}
            </span>
            <div fxLayout="column" fxLayoutAlign="center start">
              <span class="mat-body-2">{{data?.home?.name}}'s Scorers</span>
              <span class="mat-body-1" *ngIf="!statsData?.scorers?.home.length">-</span>
              <div *ngFor="let scorer of statsData?.scorers?.home" class="mat-body-1">
                {{ scorer }}
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center start">
              <span class="mat-body-2">{{data?.away?.name}}'s Scorers</span>
              <span class="mat-body-1" *ngIf="!statsData?.scorers?.away.length">-</span>
              <div *ngFor="let scorer of statsData?.scorers?.away" class="mat-body-1">
                {{ scorer }}
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center start">
              <span class="mat-body-2">Red Cards</span>
              <span class="mat-body-1" *ngIf="!statsData?.cards?.red.length">-</span>
              <div *ngFor="let scorer of statsData?.cards?.red" class="mat-body-1">
                {{ scorer }}
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center start">
              <span class="mat-body-2">Yellow Cards</span>
              <span class="mat-body-1" *ngIf="!statsData?.cards?.yellow.length">-</span>
              <div *ngFor="let scorer of statsData?.cards?.yellow" class="mat-body-1">
                {{ scorer }}
              </div>
            </div>

          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
