<mat-toolbar color="primary" class="mat-elevation-z4" fxLayoutAlign="start center" fxLayoutGap="16px">
  <button matTooltip="Close" mat-icon-button mat-dialog-close (click)="onCloseDialog()">
    <mat-icon class="material-icons-round"> close </mat-icon>
  </button>
  <span *ngIf="!data?.concluded" class="mat-body-1"> Fixture Details </span>
  <span *ngIf="data?.concluded" class="mat-body-1">Result Details</span>
</mat-toolbar>
<div class="container-2" fxLayout="column" fxLayoutGap="20px">
  <app-match-detail-header [data]="data"></app-match-detail-header>

  <mat-tab-group mat-align-tabs="start" color="primary">
    <mat-tab label="Overview">
      <ng-template matTabContent>
        <div class="seperator" fxLayoutGap="16px" fxLayout="column">
          <div fxLayoutAlign="space-between center">
            <span class="mat-body-2">Kick Off</span>
            <span class="mat-body-1">
              {{ data?.date | date: "short" }}
            </span>
          </div>
          <div fxLayoutAlign="space-between center">
            <span class="mat-body-2">Stadium/Ground</span><a matTooltip="View Ground" (click)="OnOpenGround()"
              class="mat-body-1">{{
              data?.ground }}</a>
          </div>
          <div fxLayoutAlign="space-between center">
            <span class="mat-body-2">Season Name</span><span class="mat-body-1">{{ data?.season }}</span>
          </div>
          <div fxLayoutAlign="space-between center">
            <span class="mat-body-2">Match Type</span><span class="mat-body-1"> {{ data?.type }} </span>
          </div>
          <ng-container *ngIf="statsData">
            <mat-divider></mat-divider>
            <div fxLayout="column" fxLayoutAlign="center start">
              <span class="mat-body-2">{{data?.home?.name}}'s Scorers</span>
              <span class="mat-body-1" *ngIf="!statsData?.scorers?.home.length">-</span>
              <div *ngFor="let scorer of statsData?.scorers?.home" class="mat-body-1">
                {{ scorer }}
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center start">
              <span class="mat-body-2">{{data?.away?.name}}'s Scorers</span>
              <span class="mat-body-1" *ngIf="!statsData?.scorers?.away.length">-</span>
              <div *ngFor="let scorer of statsData?.scorers?.away" class="mat-body-1">
                {{ scorer }}
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center start">
              <span class="mat-body-2">Red Cards</span>
              <span class="mat-body-1" *ngIf="!statsData?.cards?.red.length">-</span>
              <div *ngFor="let scorer of statsData?.cards?.red" class="mat-body-1">
                {{ scorer }}
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center start">
              <span class="mat-body-2">Yellow Cards</span>
              <span class="mat-body-1" *ngIf="!statsData?.cards?.yellow.length">-</span>
              <div *ngFor="let scorer of statsData?.cards?.yellow" class="mat-body-1">
                {{ scorer }}
              </div>
            </div>
          </ng-container>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Lineup">
      <ng-template matTabContent>
        <div class="filter-spacing seperator" fxLayoutGap="20px" fxLayout="column">
          <div fxLayout="column" fxLayoutGap="16px">
            <ng-container *ngIf="homeLineup?.length > 0">

              <span class="mat-body-1">
                {{ data?.home.name + " Lineup" | titlecase }}
              </span>
              <app-team-player-members-list [list]="homeLineup"></app-team-player-members-list>
            </ng-container>
            <ng-container *ngIf="awayLineup?.length > 0">
              <mat-divider></mat-divider>
              <span class="mat-body-1">
                {{ data?.away.name + " Lineup" | titlecase }}
              </span>
              <app-team-player-members-list [list]="awayLineup"></app-team-player-members-list>
            </ng-container>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
