<mat-card class="dashboard-card mat-elevation-z8" *ngIf="game" (click)="joinGame()">
  <mat-card-title>
    <span class="mat-body-2">
      {{game.name}}
    </span>
  </mat-card-title>
  <mat-card-subtitle *ngIf="game.city && game.state">
    <span class="mat-body-2">
      {{game.city}}, {{game.state}}
    </span>
  </mat-card-subtitle>
  <mat-card-actions fxLayoutAlign="end center">
    <div fxLayoutAlign="start center">
      <span class="mat-body-2 red">
        {{game.fees | currency: 'INR'}}
      </span>
      <span class="material-icons-round">chevron_right</span>
    </div>
  </mat-card-actions>
</mat-card>