mat-card {
  .season-image {
    height: 100%;
    margin-bottom: 0px !important;
  }

  mat-card-content {
    margin-top: -8px !important;
  }

  mat-card-actions {
    padding-right: 12px;
  }

  .participant-type {
    margin-right: 16px;
  }
}