<mat-card class="dashboard-card mat-elevation-z8" *ngIf="game" (click)="joinGame()">
  <mat-card-title>
    <span class="mat-body-2">
      {{game.name}}
    </span>
  </mat-card-title>
  <mat-card-subtitle fxLayout="column">
    <span class="mat-body-1" *ngIf="game?.more?.groundName">
      {{game?.more?.groundName}}
    </span>
    <span class="mat-caption" *ngIf="game?.city && game?.state">
      ({{game?.city}}, {{game?.state }})
    </span>
  </mat-card-subtitle>
  <mat-card-actions fxLayoutAlign="center start" fxLayout="column">
    <div fxLayoutAlign="start center">
      <span class="mat-body-2 red">
        {{game.fees | currency: 'INR'}}
      </span>
      <span class="material-icons-round">chevron_right</span>
    </div>
    <div fxLayoutAlign="end center" class="participant-type">
      <span class="mat-caption sec-menu">
        {{participantType}}
      </span>
    </div>
  </mat-card-actions>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>