<div fxLayout="column">
  <!-- features -->
  <div
    class="container section-space-top section-space-bottom"
    fxLayout="column"
    fxLayoutGap="48px"
    fxLayoutGap.gt-sm="120px"
  >
    <app-feature-section
      [openDialog]="true"
      DialogData="journey"
      [featureContent]="{
        head: 'freekyk freestyle journey',
        route: '/freestyle'
      }"
    ></app-feature-section>
    <app-feature-section
      [openDialog]="true"
      DialogData="contest"
      [featureContent]="{
        head: 'freekyk freestyle contests',
        route: '/freestyle'
      }"
      [invert]="true"
    ></app-feature-section>
    <app-feature-section
      [openDialog]="true"
      DialogData="leaderboard"
      [featureContent]="{
        head: 'freekyk freestyle leaderboard',
        route: '/freestyle'
      }"
    ></app-feature-section>
  </div>
  <!-- features -->

  <!-- action-strip-mini -->
  <div class="section-space-top">
    <app-action-strip
      heading="ready to top the leaderboard?"
      [compact]="true"
    ></app-action-strip>
  </div>
  <!-- action-strip-mini -->

  <!-- why choose fk -->
  <app-why-choose-section name="Play"></app-why-choose-section>
  <!-- why choose fk -->

  <!-- community numbers -->
  <app-community-numbers-section
    [data]="communityNumbers"
  ></app-community-numbers-section>
  <!-- community numbers -->
</div>
