<div fxLayout="column">
  <!-- features -->
  <div
    class="container section-space-top section-space-bottom"
    fxLayout="column"
    fxLayoutGap="48px"
    fxLayoutGap.gt-sm="120px"
  >
    <app-feature-section
      svg="assets/svgs/Banner/freestyle_journey.svg"
      [featureContent]="journey"
    ></app-feature-section>
    <app-feature-section
      svg="assets/svgs/Banner/freestyle_contests.svg"
      [featureContent]="leaderboard"
      [invert]="true"
    ></app-feature-section>
    <app-feature-section
      svg="assets/svgs/Banner/freestyle_leaderboard.svg"
      [featureContent]="contests"
    ></app-feature-section>
  </div>
  <!-- features -->

  <!-- action-strip-mini -->
  <app-action-strip
    formCTA="Contact Us"
    heading="Want to conduct your freestyling training sessions?"
    elementSpacing="space-between center"
    [enableFreestyleTrainingForm]="true"
    [compact]="true"
  ></app-action-strip>
  <!-- action-strip-mini -->

  <!-- why choose fk -->
  <app-why-choose-section name="Freestyle"></app-why-choose-section>
  <!-- why choose fk -->

  <!-- community numbers -->
  <app-community-numbers-section
    [content]="communityNumbers"
  ></app-community-numbers-section>
  <!-- community numbers -->
</div>
