ul.matches-container li {
  display: inline-block;
  margin-right: 10px;
}

ul.matches-container li:last-child {
  display: inline-block;
  margin-right: 0px !important;
}

ul.info-container li {
  margin-bottom: 10px;
}

mat-selection-list {
  min-height: 300px;
  max-height: 400px;
  border: 1px solid var(--grey1);
  overflow: hidden;
  overflow-y: auto;
  border-radius: 20px;
  margin: 16px 0;
  padding: 8px;
  box-sizing: border-box;
}

.heading {
  margin: 8px 0;
  text-align: center;
}

.grey {
  color: var(--grey1);
}

.season-heading {
  text-align: center;
  margin-top: 16px;
}

.fixtures {
  height: 100%;
  margin: 20px 0;
}

.buttons-container-generate {
  margin: 100px 0 0;
}

.table-container {
  height: 500px;
  border: 2px solid var(--grey1);
  border-radius: 20px;
  padding: 0px;
  overflow: hidden;
  overflow-y: auto;
}

.table {
  height: 100%;
  width: 100%;
}

.mat-column-mid {
  width: 12%;
}

.mat-column-home {
  width: 10%;
}

.mat-column-away {
  width: 10%;
}

.mat-column-date {
  width: 20%;
}

.mat-column-location {
  width: 25%;
}

.mat-column-ground {
  width: 20%;
}
