<mat-toolbar color="primary" class="mat-elevation-z4" fxLayoutAlign="start center" fxLayoutGap="16px">
  <button mat-icon-button mat-dialog-close (click)="onCloseDialog()">
    <mat-icon class="material-icons-round"> close </mat-icon>
  </button>
  <span class="mat-body-1">Add/Edit Team Photo</span>
</mat-toolbar>
<div class="container-2">
  <div *ngIf="!isUploadComplete" ngClass.lt-md="dialogData" ngClass.gt-sm="stepdata" fxLayoutAlign="center center"
    fxLayout="column" fxLayoutGap="20px">
    <mat-label> Choose Image for? </mat-label>
    <mat-radio-group class="radio-group" color="primary" aria-labelledby="ground-referee" matInput
      [(ngModel)]="photoType" required>
      <mat-radio-button *ngFor="let option of options" [value]="option.value">
        {{ option.viewValue | titlecase }}
      </mat-radio-button>
    </mat-radio-group>
    <input hidden type="file" name="fileInput" accept="image/*" #fileInput (change)="onChooseImage($event)" id="file" />
    <div>
      <img [src]="previewFile" class="preview" alt="Image" appFallbackImg />
    </div>
    <p class="file">
      {{ selectedPhoto$?.name }}
    </p>
    <div fxLayoutGap="20px">
      <button (click)="fileInput.click()" class="buttonText secondaryButton">
        Choose New Photo
      </button>
      <button [disabled]="!selectedPhoto$" (click)="upload()" class="buttonText primaryButton">
        Upload
      </button>
    </div>
  </div>
  <div *ngIf="isUploadComplete && !isLoading" ngClass.lt-md="dialogData" ngClass.gt-sm="stepdata"
    fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="8px">
    <app-tick-animation></app-tick-animation>
    <span class="mat-body-1"> Upload Complete! </span>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
