.social-list {
  width: 100%;

  a {
    img {
      max-height: 32px;
      max-width: 32px;
      height: 32px;
      width: 32px;
    }
  }
}

.follow-link {
  margin-top: 12px;
}

.gap-bottom {
  margin-bottom: 32px;
}