<div fxLayout="column" class="container upper_space" fxLayoutGap="20px">
  <!-- follow links -->

  <mat-divider fxHide.gt-sm="true"></mat-divider>

  <div class="follow-link" fxLayoutGap="12px" fxLayout="column">
    <span class="dash-h5 center">Follow Us!</span>
    <div class="social-list-buttons" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="24px">
      <a href="{{fb}}freekyk" target="_blank" fxLayoutAlign="start center">
        <img src="assets/svgs/facebook.svg" alt="facebook" appFallbackImg />
      </a>
      <a href="{{ig}}freekyk_india" target="_blank" fxLayoutAlign="start center">
        <img src="assets/svgs/instagram.svg" alt="instagram" appFallbackImg />
      </a>
      <a href="{{yt}}UCTPWvfgbyHa8K-XX2Nw1X3w" target="_blank" fxLayoutAlign="start center">
        <img src="assets/svgs/youtube.svg" alt="youtube" appFallbackImg />
      </a>
      <a href="{{linkedIn}}freekyk-india" target="_blank" fxLayoutAlign="start center">
        <img src="assets/svgs/linkedin.svg" alt="linkedin" appFallbackImg />
      </a>
    </div>
  </div>
  <!-- follow links -->

  <mat-divider fxHide.gt-sm="true"></mat-divider>

  <!-- freekyk intro -->
  <div fxLayout="column" fxLayoutAlign="space-evenly start" fxLayoutGap="20px" class="gap-bottom">
    <a class="logo" [routerLink]="['/']" fxLayoutAlign="start center">
      <img src="assets/images/brand_logo_2.png" alt="Freekyk Logo" appFallbackImg />
    </a>
    <p class="mat-body-1">
      Freekyk is an online platform which facilitates end-to-end football for
      all passionate football lovers without any interruptions.
    </p>
    <div fxLayoutGap="20px">
      <p class="mat-body-1">Copyright © 2023. Freekyk.<br> All rights reserved.</p>
      <a [routerLink]="['/terms']" class="mat-caption"> Terms & Conditions </a>
      <a [routerLink]="['/privacypolicy']" class="mat-caption">
        Privacy Policy
      </a>
    </div>
  </div>
  <!-- freekyk intro -->
</div>