<div fxLayoutGap="20px" fxLayout="column">
  <!-- button laoding -->
  <div
    *ngIf="showMobile && isLoading"
    class="_fixture"
    fxLayout="column"
    fxLayoutGap="16px"
  >
    <span class="_button shine" *ngFor="let fixt of [1, 2, 3, 4]"></span>
  </div>
  <!-- button laoding -->

  <!-- mobile buttons -->
  <div *ngIf="showMobile" fxLayout="column" fxLayoutGap="8px">
    <!-- complete your profile button -->
    <button
      [routerLink]="['/dashboard', 'account']"
      class="wide-button"
      fxLayout
      fxLayoutAlign="space-between center"
    >
      <div class="b-name" fxLayout fxLayoutGap="20px" fxLayoutGap.lt-sm="4px">
        <span class="material-icons-round">account_box</span>
        <span class="mat-body-1"> Complete your profile </span>
      </div>

      <span class="mat-caption"> 25% Done </span>
    </button>
    <!-- complete your profile button -->

    <!-- open journey button -->
    <button
      (click)="onOpenJourney()"
      class="wide-button"
      fxLayout
      fxLayoutAlign="space-between center"
    >
      <div class="b-name" fxLayout fxLayoutGap="20px" fxLayoutGap.lt-sm="4px">
        <span class="material-icons-round">map</span>
        <span class="mat-body-1"> Open my Freestyle Journey </span>
      </div>

      <span class="material-icons-round"> keyboard_arrow_right </span>
    </button>
    <!-- open journey button -->

    <!-- view contests button -->
    <button
      (click)="onViewFreestyleContests()"
      class="wide-button"
      fxLayout
      fxLayoutAlign="space-between center"
    >
      <div
        class="b-name"
        fxLayout
        fxLayoutGap="20px"
        fxLayoutAlign="start center"
        fxLayoutGap.lt-sm="4px"
      >
        <span class="material-icons-round">view_list</span>
        <span class="mat-body-1 left"> View my Freestyle Contests </span>
      </div>

      <span class="material-icons-round"> keyboard_arrow_right </span>
    </button>
    <!-- view contests button -->

    <!-- raise a ticket button -->
    <button
      [routerLink]="['/support']"
      class="wide-button"
      fxLayout
      fxLayoutAlign="space-between center"
    >
      <div class="b-name" fxLayout fxLayoutGap="20px" fxLayoutGap.lt-sm="4px">
        <span class="material-icons-round">live_help</span>
        <span class="mat-body-1"> Need help? Raise a ticket </span>
      </div>

      <span class="material-icons-round"> keyboard_arrow_right </span>
    </button>
    <!-- raise a ticket button -->
  </div>
  <!-- mobile buttons -->

  <!-- profile card -->
  <app-da-ho-profile profile="freestyler"></app-da-ho-profile>
  <!-- profile card -->

  <!-- brand collaborations -->
  <app-da-fs-collabs></app-da-fs-collabs>
  <!-- brand collaborations -->

  <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="20px">
    <!-- journey-lg section -->
    <mat-card fxFlex.gt-sm="40%" fxHide.lt-md="true" class="mat-elevation-z8">
      <mat-card-title>
        <p class="dash-h5 align" style="padding-bottom: 20px">
          Freestyle Journey
        </p>
      </mat-card-title>
      <app-da-fs-journey
        (selectedTrick)="onUpdateTrick($event)"
      ></app-da-fs-journey>
    </mat-card>
    <!-- journey-lg section -->

    <!-- trick description section -->
    <app-da-fs-trick-description
      [selectedTrick]="newEvent"
      fxFlex="<grow>"
    ></app-da-fs-trick-description>
    <!-- trick description section -->
  </div>

  <!-- contests lg -->
  <app-da-fs-cont></app-da-fs-cont>
  <!-- contests lg -->
</div>
