<!-- notifications section -->

<ng-template #loading>
  <div class="cards-r" fxLayout="column">
    <div class="_notif" fxLayout="column" fxLayoutGap="16px">
      <span class="_bar shine"></span>
      <span class="_bar shine"></span>
      <span class="_bar shine"></span>
      <span class="_bar shine"></span>
      <span class="_bar shine"></span>
      <span class="_bar shine"></span>
      <span class="_bar shine"></span>
      <span class="_bar shine"></span>
    </div>
  </div>
</ng-template>

<mat-card class="cards-r mat-elevation-z8" *ngIf=" !isLoading; else loading" fxLayout="column">
  <div fxLayout fxLayoutAlign="space-between center">
    <span class="dash-h5 align">Notification</span>
    <a [routerLink]="['/dashboard', 'account', 'notifications']" class="mat-caption sec-menu">All
      Feed</a>
  </div>
  <!-- list -->
  <ul *ngIf="notifications.length === 0">
    <li class="nofi">
      <p class="mat-body-1 grey-bg line">No notifications!</p>
    </li>
  </ul>
  <app-notifications-list [data]="notifications">
  </app-notifications-list>
  <!-- list -->
</mat-card>
<!-- notifications section -->
