<mat-card class="mat-elevation-z4" fxLayout="column" fxLayoutGap="20px">
  <div fxLayout="column">
    <p class="dash-h5 center">About {{ Trick?.trick_name_sh | titlecase }}</p>
    <p class="mat-caption center">Skill Level {{ Trick?.trickSkillLvl }}</p>
    <p class="mat-body-1 center">
      {{ Trick?.trick_desc }}
    </p>
  </div>
  <form
    [formGroup]="trickLinkForm"
    (ngSubmit)="onAddVideo()"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Submit your Video Here</mat-label>
      <input type="url" matInput name="link" formControlName="link" />
      <mat-error *ngIf="trickLinkForm.get('link').hasError('pattern')">
        Please provide a valid Youtube Video URL!
      </mat-error>
      <mat-error *ngIf="trickLinkForm.get('link').hasError('required')">
        Add a Video URL
      </mat-error>
    </mat-form-field>
    <button
      [disabled]="!trickLinkForm.valid"
      class="primaryButton buttonText"
      type="submit"
    >
      Add Video
    </button>
  </form>
  <div class="youtube-video" fxLayoutAlign="center center">
    <youtube-player
      [videoId]="extractVideoUrl(Trick?.trickHelpVideo)"
      [height]="200"
      [width]="320"
      [startSeconds]="0"
    >
    </youtube-player>
  </div>
</mat-card>
