@import '../login/login.component.scss';

.radio-group {
  margin: 8px 0 24px !important;

  mat-radio-group {
    margin-top: 12px;
  }
}

.extra-box {
  padding: 12px;
  border-radius: 20px;
  background: var(--grey4);
  width: 100%;
  margin-bottom: 24px;

}

.shortcut {
  text-align: center;
}

.success-container {
  padding: 12px;
  margin: 48px 0;
}
