<section class="container section-space-top section-space-bottom" fxLayout="column" fxLayoutGap="32px"
  fxLayoutGap.lt-md="20px" fxLayoutAlign="stretch center" *ngIf="!isRegistrationSent">
  <h2 class="mat-title center">
    Sign Up to Get Access
  </h2>
  <form [formGroup]="signupForm" fxLayout="column" class="auth-form">
    <mat-form-field appearance="standard" color="primary">
      <mat-label>Full Name</mat-label>
      <input type="text" matInput formControlName="name" />
      <mat-error *ngIf="signupForm.get('name').hasError('required')">
        {{messages.error.requiredField}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" color="primary">
      <mat-label>Contact Number</mat-label>
      <input type="number" matInput formControlName="contactNumber" />
      <mat-error *ngIf="signupForm.get('contactNumber').hasError('required')">
        {{messages.error.requiredField}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" color="primary">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" />
      <mat-error *ngIf="signupForm.get('email').hasError('required')">
        {{messages.error.requiredField}}
      </mat-error>
    </mat-form-field>

    <div formGroupName="location" fxLayout="column" fxLayoutGap="8px">
      <app-searchable-form-field label="Add Location State" [list]="states" [control]="locationState"
        (selectionChange)="onSelectState($event)"></app-searchable-form-field>
      <app-searchable-form-field label="Add Location City" [list]="cities"
        [control]="locationCity"></app-searchable-form-field>
    </div>

    <div class="extra-box" fxLayout="column" fxLayoutGap="8px">
      <span class="mat-body-2">
        Are you a registered organization? <br>If yes, please provide details:
      </span>
      <mat-form-field appearance="standard" color="primary">
        <mat-label>Company Name (if any)</mat-label>
        <input type="text" matInput formControlName="company" />
      </mat-form-field>
      <mat-form-field appearance="standard" color="primary">
        <mat-label>GST Number (if any)</mat-label>
        <input type="text" matInput formControlName="gst" />
      </mat-form-field>
      <div class="radio-group" fxLayout="column">
        <span> Do you own a football ground? </span>
        <mat-radio-group color="primary" aria-label="own-football-ground" formControlName="selfGround"
          fxLayoutGap="8px">
          <mat-radio-button [value]="1">Yes</mat-radio-button>
          <mat-radio-button [value]="0">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <button [disabled]="signupForm.invalid || !signupForm.dirty" type="button"
      class="submit-button primaryButton buttonText" (click)="onSubmit()">Submit</button>
    <span class="mat-caption shortcut"> Already have an account? <a [routerLink]="['/login']">Log in</a></span>
  </form>
</section>
<section *ngIf="isRegistrationSent">
  <div class="success-container" fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="center center">
    <app-tick-animation></app-tick-animation>
    <p class="center">
      Thank you for submitting your details!!<br>
      Please check your email to get your Organizer ID.
    </p>
    <button type="button" class="submit-button primaryButton buttonText" [routerLink]="['/login']">
      Login to Admin Panel
    </button>
  </div>
</section>
<app-loading *ngIf="isLoaderShown"></app-loading>

<app-admin-footer></app-admin-footer>
