<i *ngIf="noWinners" fxLayoutAlign="center center" class="section-space-top">
  Winners list unavailable, check back later!
</i>
<div
  class="section-space-top section-space-bottom"
  fxLayoutGap="48px"
  fxLayoutAlign="center stretch"
  fxLayout.lt-md="column"
>
  <div
    *ngFor="let winner of contStats$ | async; let i = index"
    fxLayout="column"
    fxLayoutAlign="space-between center"
    fxLayoutGap="8px"
  >
    <div class="text" [ngSwitch]="i">
      <div
        *ngSwitchCase="0"
        class="mat-caption center"
        fxLayout="column"
        fxLayoutGap="8px"
      >
        <p fxLayoutAlign="center center" fxLayout="column">
          <span class="material-icons-round first"> emoji_events </span>
          <span> Winner </span>
        </p>
        <a (click)="onViewProfile(winner?.id)" class="mat-body-2 center">
          {{ winner?.name }}
        </a>
      </div>
      <div
        *ngSwitchCase="1"
        class="mat-caption center"
        fxLayout="column"
        fxLayoutGap="8px"
      >
        <p fxLayoutAlign="center center" fxLayout="column">
          <span class="material-icons-round second"> emoji_events </span>
          <span> 2nd Place </span>
        </p>
        <a (click)="onViewProfile(winner?.id)" class="mat-body-2 center">
          {{ winner?.name }}
        </a>
      </div>
      <div
        *ngSwitchCase="2"
        class="mat-caption center"
        fxLayout="column"
        fxLayoutGap="8px"
      >
        <p fxLayoutAlign="center center" fxLayout="column">
          <span class="material-icons-round third"> emoji_events </span>
          <span> 3rd Place </span>
        </p>
        <a (click)="onViewProfile(winner?.id)" class="mat-body-2 center">
          {{ winner?.name }}
        </a>
      </div>
    </div>
    <img
      [ngClass]="{ winner_profile: i == 0, runners_up: i != 0 }"
      [src]="
        winner?.imgpath
          ? winner?.imgpath
          : '../../../../assets/images/dummy_player_sm.jpg'
      "
      alt="Winner Image"
    />
  </div>
</div>
