.winner_profile {
  width: 120px;
  background-color: var(--grey4);
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: contain;
}
.runners_up {
  width: 75px;
  background-color: var(--grey4);
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: contain;
}
.text {
  max-width: 150px;
}
p {
  margin-bottom: 0;
}
.first {
  color: #ffd700;
}
.second {
  color: #c0c0c0;
}
.third {
  color: #cd7f32;
}
