.banner {
  height: 600px;
}

.banner-text {
  max-width: 500px;
}

.bannerPhoto img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.back-button {
  margin: 20px 0;
}

._bar {
  height: 100%;
  width: 500px;
}

.nav-links {
  margin-top: 20px;
}

.partner-list {
  margin-bottom: 16px;
  width: 100%;

  .list-container {
    margin-top: 16px;
    overflow-x: auto;
    max-width: 100%;

    .partner {
      @media screen and (max-width: 600px) {
        height: 60px;
        max-height: 60px;
        min-height: 60px;
      }

      // width: 150px;
      // max-width: 150px;
      // height: 150px;
      // max-height: 150px;
      overflow: hidden;
      background-color: var(--grey4);

      a {
        img {
          height: 100%;
          width: 100%;
          max-width: 200px;
          object-fit: contain;
        }
      }
    }
  }
}

@media only screen and (max-width: 599px) {
  .bannerPhoto {
    height: 250px;
    width: 100%;
    border-radius: var(--borderRadiusCard) !important;
    overflow: hidden;
  }
}

@media only screen and (min-width: 600px) and (max-width: 959px) {
  .bannerPhoto {
    height: 300px;
    width: auto;
    max-width: 70%;
    border-radius: var(--borderRadiusCard) !important;
    overflow: hidden;
  }
}

@media only screen and (min-width: 960px) {
  .bannerPhoto {
    height: 100%;
    // margin-right: 15%;
    width: auto;
    max-width: 60%;
    overflow: hidden;
    border-radius: var(--borderRadiusCard) !important;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1279px) {
  .hero-text {
    max-width: 450px;
  }
}

.content-box {
  margin-bottom: 20px;
}

mat-chip-list.age-group-chip {
  margin-bottom: 12px;
}
