<!-- intro-section -->
<div class="grey-bg">
  <section class="container product" ngClass.lt-md="section-space-bottom" fxLayout="column" fxLayout.gt-sm="row"
    ngClass.gt-sm="banner" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="space-between center" fxLayoutGap="20px">
    <div (click)="onEnlargePhoto()" fxFlexOrder.gt-sm="2" fxFlexOrder="1" class="bannerPhoto">
      <img [src]="(seasonInfo$ | async)?.imgpath" [alt]="(seasonInfo$ | async)?.name" />
    </div>

    <div fxFlexOrder.gt-sm="1" fxFlexOrder="2" fxLayout="column" fxLayoutAlign="center center"
      fxLayoutAlign.gt-sm="center start" ngClass.gt-sm="banner-text">
      <button fxHide.lt-md="true" [routerLink]="['/play', 'seasons']" mat-mini-fab color="primary" class="back-button">
        <mat-icon class="material-icons-round">keyboard_arrow_left</mat-icon>
      </button>
      <div fxLayoutAlign.lt-md="center center" fxLayoutAlign.gt-sm="center start" fxLayout="column">
        <span class="overline align">Freekyk Season</span>
        <span class="mat-title align" [ngClass]="{ shine: isLoading, _bar: isLoading, hideText: isLoading }">{{
          (seasonInfo$ | async)?.name }}</span>
      </div>

      <p class="mat-body-1 align" [ngClass]="{ shine: isLoading, _bar: isLoading, hideText: isLoading }">
        {{ (seasonMoreInfo$ | async)?.description | textShorten: 100 }}
      </p>
      <div fxLayout.lt-md="column" fxLayoutAlign="center start" fxLayoutGap="16px">
        <button *ngIf="(seasonInfo$ | async)?.isSeasonStarted" (click)="onParticipate()"
          class="primaryButton buttonText">
          <div fxLayoutGap="8px" fxLayoutAlign="center center">
            <span matTooltip="Participate in season">Participate</span>
          </div>
        </button>
        <button *ngIf="(seasonInfo$ | async)?.isSeasonStarted === true" [routerLink]="['/play', 'standings']"
          [queryParams]="{ s: seasonName }" class="primaryButton buttonText">
          View standings
        </button>

        <button *ngIf="(seasonInfo$ | async)?.isSeasonStarted === false" [routerLink]="['/play', 'standings']"
          [queryParams]="{ s: seasonName }" class="primaryButton buttonText">
          View fixtures
        </button>
      </div>
    </div>
  </section>
</div>
<!-- intro-section -->

<!-- content -->
<mat-tab-group class="container section-space-bottom">
  <mat-tab label="Overview">
    <ng-template matTabContent>
      <app-se-overview [seasonId]="sid" [venue]="{
          city: (seasonInfo$ | async)?.locCity,
          state: (seasonInfo$ | async)?.locState
        }" [data]="seasonMoreInfo$ | async"></app-se-overview>
    </ng-template>
  </mat-tab>
  <mat-tab label="Gallery">
    <ng-template matTabContent>
      <app-se-gallery [photos]="photos$ | async"></app-se-gallery>
    </ng-template>
  </mat-tab>
  <mat-tab label="Statistics">
    <ng-template matTabContent>
      <app-se-stats [stats]="stats$ | async"></app-se-stats>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<!-- content -->
