section {
  padding: 0 10px;
  margin-top: 16px;
}

img {
  max-height: 320px;
}

.striked {
  text-decoration: line-through;
}

.spaced-heading {
  width: 100px;
}

.spacy {
  margin-top: 12px;
}

.partners {
  width: 100%;
  margin-bottom: 12px;

  .partner-container-list {
    overflow-x: auto;
    max-width: 100%;

    .partner-container {
      margin-right: 12px;
      max-height: auto;
      max-width: 100px;
      width: 100px;
      min-width: 100px;
      max-width: 100px;
      height: auto;
      overflow: hidden;

      .img-container {
        height: 100%;
        width: 100%;
        overflow: hidden;

        img {
          height: auto;
          width: 100%;
          object-fit: contain;
        }
      }

      .text-container {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.back-button {
  margin-bottom: 16px;
  padding: 0 16px;
  text-align: left;
}

.sub-important-text {
  color: rgba(0, 0, 0, 0.54)
}

.no-padding-card {
  padding: 0 !important;
}

.mat-card-title.spacy-title {
  padding: 12px 12px 0 12px;
}

.last-section {
  margin-bottom: 20px;
}

.buttons-container {
  height: 48px !important;
  position: sticky;
  bottom: 60px;
  z-index: 200;

  .full-button {
    height: 100%;
    width: 100%;
    border-radius: 0 !important;
    background-color: var(--primaryColor);
  }
}