<div class="back-button" fxLayoutAlign="start center">
  <button [routerLink]="['/games']" mat-button fxLayoutAlign="start center" fxLayoutGap="8px">
    <span class="material-icons-round">chevron_left</span>
    <span>
      Go back
    </span>
  </button>
</div>
<section>
  <mat-card class="dashboard-card mat-elevation-z8" *ngIf="season">
    <mat-card-header>
      <mat-card-title>
        <span class="dash-h5 season-title">
          {{season?.name}}
        </span>
      </mat-card-title>
      <mat-card-subtitle class="mat-caption ellipsis">Registration ends on {{ season?.lastRegistrationDate | date:
        'short' }}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="season?.more?.imgpath" alt="Season image" appFallbackImg
      (click)="enlargePhoto(); $event.stopPropagation()">
    <mat-card-content>
      <!-- partners -->
      <div *ngIf="partners.length" class="partners">
        <div class="mat-caption">In association with:</div>
        <div class="list-container" fxLayout="row" class="partner-container-list">
          <div *ngFor="let partner of partners" class="partner-container" fxLayoutAlign="end start" fxLayout="column">
            <div class="img-container" fxLayoutAlign="center center">
              <img src="{{partner.imgpath}}" [alt]="partner.name" appFallbackImg>
            </div>
            <div class="text-container">
              <span class="mat-body-1 ellipsis">
                {{partner.name}}
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- tournament info -->
      <mat-chip-list class="age-group-chip">
        <mat-chip class="mat-caption">
          Age group:&nbsp;
          <span class="mat-body-2">
            {{ formatter.formatAgeCategory(season?.ageCategory).viewValue}}
          </span>
        </mat-chip>
        <mat-chip class="mat-caption">
          Max Slots:&nbsp;
          <span class="mat-body-2">
            {{ season?.participatingTeams }} Teams
          </span>
        </mat-chip>
        <mat-chip class="mat-caption">
          Starts on:&nbsp;
          <span class="mat-body-2">
            {{ season?.startDate | date: 'fullDate'}}
          </span>
        </mat-chip>
        <mat-chip *ngIf="season.fees === 0">
          Fees:&nbsp;
          <span class="green mat-body-2">FREE</span>
        </mat-chip>
        <mat-chip *ngIf="season.fees > 0">
          Fees:&nbsp;
          <!-- <span class="striked mat-caption" *ngIf="season.discountedFees !== season.feesPerTeam">
            {{ season.feesPerTeam | currency:'INR' }}</span>&nbsp; -->
          <span class="mat-body-2">{{season.fees | currency:'INR'}} (per team)</span>
        </mat-chip>
        <mat-chip *ngIf="groundsList" class="mat-caption">
          Ground(s):&nbsp;
          <a *ngFor="let ground of groundsList" class="mat-caption"
            (click)="openGround(ground); $event.stopPropagation()" fxLayoutAlign="center center">
            <span class="mat-body-2">
              {{ground.viewValue}}
            </span>
            <span class="material-icons-round">chevron_right</span>
          </a>
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</section>
<section>
  <mat-card class="dashboard-card no-padding-card">
    <mat-card-title class="spacy-title">
      <div class="title" fxLayoutAlign="space-between center" fxLayout="row">
        <span class="dash-h5 align"> Matches</span>
        <a [routerLink]="['/play', 'fixtures']" class="mat-caption sec-menu">View all matches</a>
      </div>
    </mat-card-title>
    <mat-card-content class="fixture-content-season-profile">
      <app-fixtures-results-tabs [matches]="matches" [showActionBtn]="false"></app-fixtures-results-tabs>
    </mat-card-content>
  </mat-card>
</section>

<section>
  <mat-card class="dashboard-card mat-elevation-z8">
    <mat-card-title>
      <div class="title" fxLayoutAlign="space-between center" fxLayout="row">
        <span class="dash-h5 align"> Standings</span>
        <a [routerLink]="['/play', 'standings']" class="mat-caption sec-menu">View all standings</a>
      </div>
    </mat-card-title>
    <mat-card-content>
      <app-standings-tabs [knockoutData]="knockoutData" [leagueData]="leagueRowsData"></app-standings-tabs>
    </mat-card-content>
  </mat-card>
</section>

<section [ngClass]="{'last-section': !seasonMedia?.length}">
  <app-my-stats-card [data]="seasonStats" label="Season Statistics">
  </app-my-stats-card>
</section>

<section class="last-section" *ngIf="seasonMedia?.length">
  <mat-card class="dashboard-card mat-elevation-z8">
    <mat-card-title>
      <div class="title" fxLayoutAlign="space-between center" fxLayout="row">
        <span class="dash-h5 align"> Gallery</span>
      </div>
    </mat-card-title>
    <mat-card-content>
      <ng-image-slider [images]="seasonMedia"></ng-image-slider>
    </mat-card-content>
  </mat-card>
</section>

<div class="buttons-container" fxLayout="column" fxLayoutGap="12px">
  <button class="full-button buttonText primaryButton" fxFlex="100%" mat-button
    (click)="getStarted(); $event.stopPropagation()" fxLayoutAlign="center center" fxLayoutGap="4px">
    <span class="material-icons-round external-icon">whatshot</span>
    <span>
      PARTICIPATE NOW
    </span>
  </button>
</div>

<app-loading *ngIf="isLoaderShown"></app-loading>