<!-- intro-section -->
<div class="grey-bg">
  <section
    class="container product"
    ngClass.lt-md="section-space-bottom"
    fxLayout="column"
    fxLayout.gt-sm="row"
    ngClass.gt-sm="banner"
    fxLayoutAlign="center center"
    fxLayoutAlign.gt-sm="space-between center"
    fxLayoutGap="20px"
  >
    <div
      (click)="onEnlargePhoto()"
      fxFlexOrder.gt-sm="2"
      fxFlexOrder="1"
      class="bannerPhoto"
    >
      <img [src]="(groundInfo$ | async)?.imgpath" alt="Ground Image" />
    </div>

    <div
      fxFlexOrder.gt-sm="1"
      fxFlexOrder="2"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutAlign.gt-sm="center start"
      ngClass.gt-sm="banner-text"
    >
      <!-- <span ngClass.gt-sm="mat-headline" class="align" ngClass.lt-md="mat-title">
      Freekyk - India's No.1 Football Network
    </span> -->
      <button
        fxHide.lt-md="true"
        [routerLink]="['/play', 'grounds']"
        mat-mini-fab
        color="primary"
        class="back-button"
      >
        <mat-icon class="material-icons-round">keyboard_arrow_left</mat-icon>
      </button>
      <div
        fxLayoutAlign.lt-md="center center"
        fxLayoutAlign.gt-sm="center start"
        fxLayout="column"
      >
        <span class="overline align">Football Ground</span>
        <span
          class="mat-title align"
          [ngClass]="{ shine: isLoading, _bar: isLoading, hideText: isLoading }"
          >{{ (groundInfo$ | async)?.name }}</span
        >
      </div>
      <button (click)="onShare()" class="primaryButton buttonText">
        Share
      </button>
    </div>
  </section>
</div>
<!-- intro-section -->

<!-- content -->
<section
  class="container section-space-top section-space-bottom"
  fxLayout="column"
  fxLayoutGap="24px"
>
  <div>
    <h4>Ground Location</h4>
    <p class="mat-body-1">
      {{
        (groundInfo$ | async)?.locCity + ", " + (groundInfo$ | async)?.locState
      }}
    </p>
  </div>
  <div>
    <h4>Parking Facility</h4>
    <p class="mat-body-1">
      {{ (groundMoreInfo$ | async)?.parking == true ? "Yes" : "No" }}
    </p>
  </div>
  <div>
    <h4>Food and Beverages Facility</h4>
    <p class="mat-body-1">
      {{ (groundMoreInfo$ | async)?.foodBev == true ? "Yes" : "No" }}
    </p>
  </div>
  <div>
    <h4>Washroom Facility</h4>
    <p class="mat-body-1">
      {{ (groundMoreInfo$ | async)?.washroom == true ? "Yes" : "No" }}
    </p>
  </div>
  <div>
    <h4>Field Type</h4>
    <p class="mat-body-1">
      {{ getFieldType((groundInfo$ | async)?.fieldType) }}
    </p>
  </div>

  <div>
    <h4>Maintenance Facility</h4>
    <p class="mat-body-1">
      {{ (groundMoreInfo$ | async)?.mainten == true ? "Yes" : "No" }}
    </p>
  </div>
  <div>
    <h4>Play Level</h4>
    <p class="mat-body-1">
      {{ (groundInfo$ | async)?.playLvl | titlecase }}
    </p>
  </div>
  <div>
    <h4>Goalpost Available</h4>
    <p class="mat-body-1">
      {{ (groundMoreInfo$ | async)?.goalp == true ? "Yes" : "No" }}
    </p>
  </div>
  <div>
    <h4>Optimum Time To Play Football</h4>
    <p class="mat-body-1">
      {{
        ((groundMoreInfo$ | async)?.opmTimeStart.toDate() | date: "shortTime") +
          " - " +
          ((groundMoreInfo$ | async)?.opmTimeEnd.toDate() | date: "shortTime")
      }}
    </p>
  </div>
</section>

<!-- content -->
