<div fxLayout="column">
  <!-- mobile filters -->
  <app-filters-sm [filterArray]="acFilter"></app-filters-sm>
  <!-- mobile filters -->

  <!-- desktop filters -->
  <app-filters-lg [filterArray]="acFilter"></app-filters-lg>
  <!-- desktop filters -->

  <mat-list>
    <mat-list-item *ngFor="let batch of [1, 2, 3, 4, 5, 6]; last as last">
      <div matLine>
        <span class="mat-body-1">
          {{ "Intermediate/Advanced 1v1 Training Session Batch" | slice: 0:25 }}
        </span>
      </div>
      <div matLine>
        <span class="mat-caption"> Age Group : 10-15 Yrs </span>
      </div>

      <button (click)="onBookNow(batch)" mat-icon-button>
        <span class="material-icons-round"> app_registration </span>
      </button>

      <mat-divider *ngIf="!last"></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
