<div class="back-button" fxLayoutAlign="start center">
  <button [routerLink]="['/']" mat-button fxLayoutAlign="start center" fxLayoutGap="8px">
    <span class="material-icons-round">chevron_left</span>
    <span>
      Go back
    </span>
  </button>
  <span class="dash-h5 heading">Help & Support</span>
</div>
<section>
  <div class="sub-header-container">
    <nav mat-tab-nav-bar color="primary">
      <a mat-tab-link *ngFor="let link of links" class="link" routerLinkActive="active-link-group"
        (click)="activeLink = link.value" [routerLink]="[link.value]" [active]="activeLink === link.value">
        {{ link.viewValue}}
      </a>
    </nav>
  </div>
  <div class="tab-content">
    <router-outlet></router-outlet>
  </div>
</section>
<div class="buttons-container" fxLayout="column" fxLayoutGap="12px">
  <button class="full-button buttonText primaryButton" fxFlex="100%" mat-button (click)="openTicketForm()"
    fxLayoutAlign="center center" fxLayoutGap="4px">
    <span class="material-icons-round external-icon">add</span>
    <span>
      Raise a Ticket
    </span>
  </button>
</div>

<app-loading *ngIf="isLoaderShown"></app-loading>