<!-- mobile filter -->
<app-filters-sm fxHide.gt-sm="true" [filterArray]="plFilters"></app-filters-sm>
<!-- mobile filter -->

<!-- desktop filters -->
<app-filters-lg
  [margin]="true"
  fxHide.lt-md="true"
  [filterArray]="plFilters"
></app-filters-lg>
<!-- desktop filters -->

<mat-list>
  <mat-list-item *ngFor="let teamMember of members; last as last">
    <img
      matListAvatar
      [src]="teamMember.imgpath_sm || 'assets/images/dummy_player_sm.jpg'"
      [alt]="teamMember.name"
    />
    <p matLine fxLayoutAlign="space-between center">
      <span class="mat-body-1">
        {{ teamMember.name }}
      </span>
      <a (click)="onOpenPlayerProfile(teamMember.id)" class="mat-caption">
        View Profile
      </a>
    </p>
    <p matLine fxLayoutAlign="space-between center">
      <span class="mat-caption"> {{ teamMember.pl_pos }} </span>
    </p>
    <mat-divider *ngIf="!last"></mat-divider>
  </mat-list-item>
</mat-list>
