<!-- mobile filter -->
<!-- <app-filters-sm fxHide.gt-sm="true" [filterArray]="[]"></app-filters-sm> -->
<!-- mobile filter -->

<!-- desktop filters -->
<app-filters-lg [margin]="true" fxHide.lt-md="true" [data]="filterData"
  (changeFilter)="onChangeFilter($event)"></app-filters-lg>
<!-- desktop filters -->
<app-no-items-message items="members"
  *ngIf="(members | filterList: 'pl_pos':term)?.length === 0"></app-no-items-message>
<mat-list>
  <mat-list-item *ngFor="let teamMember of members | filterList: 'pl_pos':term; last as last">
    <img matListAvatar [src]="teamMember.imgpath_sm || 'assets/images/dummy_player_sm.jpg'" [alt]="teamMember.name"
      appFallbackImg />
    <p matLine fxLayoutAlign="space-between center">
      <span class="mat-body-1">
        {{ teamMember.name }}
      </span>
      <a (click)="onOpenPlayerProfile(teamMember.id)" class="mat-caption">
        View Profile
      </a>
    </p>
    <p matLine fxLayoutAlign="space-between center">
      <span class="mat-caption"> {{ teamMember.pl_pos }} </span>
    </p>
    <mat-divider *ngIf="!last"></mat-divider>
  </mat-list-item>
</mat-list>
