<div class="container create-season-container" fxLayout="column" fxLayoutGap="20px">
  <mat-horizontal-stepper #seasonStepper [linear]="true">

    <mat-step label="Match Type" [stepControl]="matchSelectForm" [editable]="seasonStepper.selectedIndex < 4">
      <app-select-match-type *ngIf="seasonStepper.selectedIndex === 0" (stepper)="seasonStepper">
      </app-select-match-type>
      <div class="action-buttons-container" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
        <span class="mat-caption center">
          To save your response and move to the next step, select Next
        </span>
        <button type="button" [disabled]="!matchSelectForm?.valid" class="primaryButton buttonText"
          (click)="onSaveMatchType(seasonStepper)">Next</button>
      </div>
    </mat-step>

    <mat-step label="Participants" [stepControl]="teamSelectForm" [optional]="true"
      [editable]="seasonStepper.selectedIndex < 4">
      <app-select-teams *ngIf="seasonStepper.selectedIndex === 1" (stepper)="seasonStepper">
      </app-select-teams>
      <div class="action-buttons-container" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
        <button type="button" class="secondaryButton buttonText" matStepperPrevious>Previous</button>
        <button type="button" class="secondaryButton buttonText"
          (click)="onSkipAndSaveTeam(seasonStepper)">Skip</button>
        <button type="button" [disabled]="!teamSelectForm?.valid" class="primaryButton buttonText"
          (click)="onSaveTeam(seasonStepper)">Next</button>
      </div>
    </mat-step>

    <mat-step label="Ground(s)" [stepControl]="groundForm" [editable]="seasonStepper.selectedIndex < 4">
      <app-select-ground *ngIf="seasonStepper.selectedIndex === 2"></app-select-ground>
      <div class="action-buttons-container" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
        <span class="mat-caption center error" *ngIf="errorMessage">
          {{errorMessage}}
        </span>
        <span class="mat-caption center">
          Required slots - {{maxSlots}}
        </span>
        <button type="button" class="secondaryButton buttonText" matStepperPrevious>Previous</button>
        <button type="button" class="primaryButton buttonText" (click)="onSaveGround(seasonStepper)">Next</button>
      </div>
    </mat-step>

    <mat-step label="More Details" [editable]="seasonStepper.selectedIndex < 4" [stepControl]="detailsForm">
      <app-add-season *ngIf="seasonStepper.selectedIndex === 3"></app-add-season>
      <div class="action-buttons-container" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
        <button type="button" class="secondaryButton buttonText" matStepperPrevious>Previous</button>
        <button type="button" class="primaryButton buttonText" [disabled]="detailsForm?.invalid"
          (click)="onSaveDetails(seasonStepper)">Next</button>
      </div>
    </mat-step>

    <mat-step label="Fixtures" [editable]="false">
      <app-generate-fixtures *ngIf="seasonStepper.selectedIndex === 4"></app-generate-fixtures>
      <div class="action-buttons-container" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
        <span class="mat-caption center">
          For selected participants, each participant will be allocated in these fixtures after completing payment from
          the team captain.
        </span>
        <button type="button" class="secondaryButton buttonText" matStepperPrevious>Previous</button>
        <button type="button" class="primaryButton buttonText" (click)="onConfirmFixtures(seasonStepper)">
          Confirm Fixtures
        </button>
      </div>
    </mat-step>

    <mat-step label="Payment" [editable]="false">
    </mat-step>

    <mat-step label="Publish" [editable]="false">
      <!-- <div class="success-container">
        <p class="mat-body-1 center">
          Your season draft is ready to publish.
        </p>
        <p class="mat-caption center">
          You can edit your season description and rules.
        </p>
        <div fxLayoutAlign.gt-sm="center center" fxLayout.lt-md="column" fxLayoutGap="16px" class="section-space-top">
          <button (click)="navigateToDraftAndClose(draftID)" class="primaryButton buttonText">
            View Draft
          </button>
          <button (click)="navigateToListAndClose()" class="secondaryButton buttonText">
            View All Seasons
          </button>
        </div>
        <p class="mat-caption center section-space-top">
          Please contact freekyk123@gmail.com in case of any queries.
        </p>
      </div> -->
    </mat-step>
  </mat-horizontal-stepper>
</div>
<app-loading *ngIf="isLoaderShown"></app-loading>
