<mat-toolbar
  color="primary"
  class="mat-elevation-z4"
  fxLayoutAlign="start center"
  fxLayoutGap="16px"
>
  <button mat-icon-button mat-dialog-close (click)="onCloseDialog()">
    <mat-icon class="material-icons-round"> close </mat-icon>
  </button>
  <span class="mat-body-1">Select Team Members to ask for availability</span>
</mat-toolbar>
<div class="container-2">
  <div class="dialogData">
    <h3>List of Team Members</h3>
    <mat-selection-list #members>
      <mat-list-option [value]="member" *ngFor="let member of members$ | async">
        {{ member.name }}
      </mat-list-option>
    </mat-selection-list>
    <button
      (click)="onConfirmPlayers(members.selectedOptions.selected)"
      class="primaryButton buttonText"
    >
      Confirm Players
    </button>
  </div>
</div>
