section {
  padding: 0 12px;
}

.status-chip {
  width: 78px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  mat-list {
    overflow-y: auto;
    max-height: calc(100vh - 250px);
    height: calc(100vh - 250px);
  }
}