<app-no-items-message *ngIf="!tickets.length" items="tickets"></app-no-items-message>
<section>
  <mat-list>
    <mat-list-item *ngFor="let ticket of tickets; last as last"
      (click)="openChatThread(ticket); $event.stopPropagation()">
      <p matLine fxLayoutAlign="space-between center" fxLayout="row">
        <span class="dash-h5">
          {{ticket.title}}
        </span>
        <span fxLayoutGap="12px" fxLayoutAlign="center center">
        </span>
      </p>
      <p matLine class="sub-line" fxLayoutAlign="space-between center" fxLayout="row">
        <span class="mat-caption">Ticket ID: #{{ticket.id}} </span>
        <span fxLayoutAlign="end center" fxLayout="row">
          <mat-chip-list>
            <mat-chip class="status-chip">
              <span class="mat-caption">
                {{getStatus(ticket.status)}}
              </span>
            </mat-chip>
          </mat-chip-list>
          <span class="material-icons-round">chevron_right</span>
        </span>
      </p>
      <p matLine class="sub-line">
        <span class="mat-caption sec-menu"> {{ ticket.date | date: CUSTOM_FORMAT }} </span>
      </p>
      <mat-divider *ngIf="!last"></mat-divider>
    </mat-list-item>
  </mat-list>
</section>

<app-loading *ngIf="isLoaderShown"></app-loading>