<mat-list>
  <mat-list-item *ngFor="let sqPlayer of sqData$ | async; last as last">
    <img matListAvatar [src]="sqPlayer.imgpath_sm" [alt]="sqPlayer.name" />

    <div matLine>
      <span class="mat-body-1"> {{ sqPlayer.name }} </span>
    </div>
    <span [ngSwitch]="sqPlayer.response">
      <span *ngSwitchCase="'accept'" class="material-icons-round yes">
        check_circle
      </span>
      <span *ngSwitchCase="'reject'" class="material-icons-round no"
        >cancel</span
      >
      <span *ngSwitchCase="'wait'" class="material-icons-round undecided"
        >help</span
      >
      <div *ngSwitchDefault>output2</div>
    </span>
    <!-- <div>
      <span class="material-icons-round"> help </span>
    </div> -->

    <mat-divider *ngIf="!last"></mat-divider>
  </mat-list-item>
</mat-list>
<ul *ngIf="(sqData$ | async)?.length == 0">
  <li class="nofi grey-bg center">
    <i> No Active Squad yet! </i>
  </li>
</ul>
