<div class="back-button" fxLayoutAlign="start center">
  <button [routerLink]="['/']" mat-button fxLayoutAlign="start center" fxLayoutGap="8px">
    <span class="material-icons-round">chevron_left</span>
    <span>
      Go back
    </span>
  </button>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
    <span class="dash-h5 heading">
      Rewards & Points
    </span>
    <span (click)="openInfo()" class="material-icons-round sec-menu">info</span>
  </div>
</div>

<section>
  <div class="total-points-container" fxLayoutAlign="space-between center">
    <div fxLayoutGap="12px" fxLayoutAlign="start center">
      <span class="mat-body-1">Total Points: </span>
      <span class="dash-h5 point"> {{userPoints}} </span>
    </div>
    <a (click)="openPointsLog()" *ngIf="user?.uid" class="mat-caption" fxLayoutGap="2px" fxLayoutAlign="center center">
      <span class="mat-cation">
        View History
      </span>
      <span class="material-icons-round">chevron_right</span>
    </a>
  </div>
</section>


<nav mat-tab-nav-bar color="primary" mat-stretch-tabs>
  <a mat-tab-link *ngFor="let link of links" (click)="activeLink = link.value" [routerLink]="[link.value]"
    routerLinkActive="active-tab" [active]="activeLink == link.value">
    {{ link.viewValue}}
  </a>
</nav>

<div class="main-content">
  <router-outlet></router-outlet>
</div>

<app-loading *ngIf="isLoaderShown"></app-loading>