.item {
  height: 72px;
  padding: 20px;
  background-color: var(--grey4);
  box-shadow: 0;
  color: var(--grey1);
  border-radius: var(--borderRadiusCard);
  /* opacity: 0.75; */
}

@media only screen and (max-width: 959px) {
  .item {
    height: 96px;
    padding: 20px;
    background-color: var(--grey4);
    box-shadow: 0;
    color: black;
    border-radius: var(--borderRadiusCard);
  }
}
