<mat-toolbar color="primary" class="mat-elevation-z4" fxLayoutAlign="start center" fxLayoutGap="16px">
  <button matTooltip="Close" mat-icon-button mat-dialog-close (click)="onCloseDialog()">
    <mat-icon class="material-icons-round"> close </mat-icon>
  </button>
  <span class="mat-body-1">{{data?.heading || 'Feature Info'}}</span>
</mat-toolbar>
<div class="container-2">
  <div class="dialogData">
    <ng-container *ngIf="data?.multiDescription">
      <div fxLayout="column" fxLayoutGap="8px" *ngFor="let segment of data.multiDescription">
        <p class="mat-body-2 left">{{ segment.subheading }}</p>

        <div class="mat-body-2 left">
          <p class="mat-body-1" *ngIf="segment.description" [innerHtml]="segment.description">
        </div>
      </div>
    </ng-container>
    <p class="mat-body" *ngIf="data.description" [innerHtml]="data.description">
    </p>
  </div>
</div>