<mat-toolbar
  color="primary"
  class="mat-elevation-z4"
  fxLayoutAlign="start center"
  fxLayoutGap="16px"
>
  <button
    matTooltip="Close"
    mat-icon-button
    mat-dialog-close
    (click)="onCloseDialog()"
  >
    <mat-icon class="material-icons-round"> close </mat-icon>
  </button>
  <span class="mat-body-1">Feature Info</span>
</mat-toolbar>
<div class="container-2">
  <div class="dialogData">
    <div
      fxLayout="column"
      fxLayoutGap="8px"
      *ngFor="let heading of [1, 2, 3, 4, 5]"
    >
      <p class="mat-body-1 left">Heading {{ heading }}</p>

      <div class="mat-body-2 left">
        <p mat-line>
          {{ dummyParagraph }}
        </p>
      </div>
    </div>
  </div>
</div>
