<mat-card>
  <mat-card-title>
    <span class="mat-subheading-1 align"> Your Current Membership Status </span>
  </mat-card-title>
  <mat-card-content>
    <div>
      <p fxLayoutAlign="space-between center">
        <span class="mat-body-2">Type</span
        ><span class="mat-body-1">Basic</span>
      </p>
      <p fxLayoutAlign="space-between center">
        <span class="mat-body-2">Valid upto</span>
        <span class="mat-body-1">
          {{ getDate() | date: "mediumDate" }}
        </span>
      </p>
      <p fxLayoutAlign="space-between center">
        <span class="mat-body-2">Payment Status</span>
        <span class="mat-body-1"> Completed </span>
      </p>
    </div>
  </mat-card-content>
</mat-card>
<app-pricing-template></app-pricing-template>
