<form [formGroup]="detailsForm" class="form-container" fxLayout="column">
  <section class="section-container" fxLayoutGap="20px" fxLayout fxLayout.lt-md="column"
    fxLayoutAlign="space-between start">
    <div class="field-container" fxLayout="column">
      <div fxLayout fxLayout.lt-md="column" fxLayoutGap.gt-sm="20px" class="state-city-container">
        <mat-form-field appearance="outline" color="primary">
          <mat-label>Enter Season Name</mat-label>
          <input type="text" matInput formControlName="name" required />
          <mat-error *ngIf="detailsForm.get('name').hasError('required')">
            {{messages.error.requiredField}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout fxLayout.lt-md="column" fxLayoutGap.gt-sm="20px" class="state-city-container">

        <mat-form-field appearance="outline" color="primary">
          <mat-label>Enter Season Fees (per team)</mat-label>
          <input type="number" matInput formControlName="fees" required />
          <mat-error *ngIf="detailsForm.get('fees').hasError('required')">
            {{messages.error.requiredField}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="primary">
          <mat-label>Enter Discount (in %)</mat-label>
          <input type="number" matInput formControlName="discount" required />
          <mat-error *ngIf="detailsForm.get('discount').hasError('required')">
            {{messages.error.requiredField}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout fxLayout.lt-md="column" fxLayoutGap.gt-sm="20px" class="state-city-container">
        <mat-form-field class="text-area-field" appearance="outline" color="primary">
          <mat-label>Mention Season Description</mat-label>
          <textarea [maxLength]="descriptionLimit" matInput formControlName="description"
            placeholder="Mention season description" required></textarea>
          <mat-hint align="end">{{description?.value?.length}} / {{descriptionLimit}}</mat-hint>
          <mat-error *ngIf="description?.hasError('required')">
            {{messages.error.requiredField}}
          </mat-error>
          <mat-error *ngIf="description?.hasError('pattern')">
            {{messages.error.notAllowedCharacter}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="text-area-field" appearance="outline" color="primary">
          <mat-label>Mention Season Rules</mat-label>
          <textarea [maxLength]="rulesLimit" matInput formControlName="rules" placeholder="Mention season rules"
            required></textarea>
          <mat-hint align="end">{{rules?.value?.length}} / {{rulesLimit}}</mat-hint>
          <mat-error *ngIf="rules?.hasError('required')">
            {{messages.error.requiredField}}
          </mat-error>
          <mat-error *ngIf="rules?.hasError('pattern')">
            {{messages.error.notAllowedCharacter}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <app-photo-uploader [defaultImgUrl]="defaultImage" (changeUpload)="onChangeImage($event)"></app-photo-uploader>
  </section>
</form>
