<div fxHide.gt-sm="true" class="floating-button-container" fxLayoutAlign="center center">
  <button *ngIf="!uid" [routerLink]="['/signup']" class="primaryButton buttonText floating-CTA"
    matTooltip="Get started">
    {{ 'get started' | titlecase }}
  </button>
  <button class="live-season floating-live" matTooltip="Upcoming Seasons" mat-mini-fab [matMenuTriggerFor]="seasonMenu">
    <span class="material-icons-round red">sensors</span>
  </button>
</div>
<mat-menu #seasonMenu [hasBackdrop]="true" backdropClass="cdk-overlay-dark-backdrop">
  <span class="mat-body-2 align heading">Upcoming Seasons</span>
  <a *ngFor="let season of seasonsList" mat-menu-item (click)="openLiveSeason(season)">
    <span class="mat-body-1">{{ season.name }}</span>
  </a>
</mat-menu>
