.fin-contest {
  opacity: 0.5 !important;
}
.fin-contest:hover {
  opacity: 1 !important;
}
li {
  opacity: 0.9;
}
li:hover {
  cursor: pointer;
  opacity: 1;
}
mat-list-item:hover {
  cursor: pointer;
}
.smallButton {
  height: 32px !important;
  min-width: 100px !important;
  font-size: 13px;
  font-family: "Open Sans";
}
.filled {
  color: var(--primaryColor);
}
