<section class="section-space-top section-space-bottom" fxLayout.lt-md="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
  <div fxFlex.gt-sm="50%" fxLayout="column" fxLayoutGap="24px">
    <div>
      <h4>Description</h4>
      <p class="mat-body-1">
        {{ data?.description }}
      </p>
    </div>
    <div>
      <h4>Venue Details</h4>
      <p class="mat-body-1">
        {{ venue?.city + ", " + venue?.state }}
      </p>
    </div>
    <div>
      <h4>Participation Payment Details</h4>
      <p class="mat-body-1">
        {{ data?.paymentMethod }}
      </p>
    </div>
    <div>
      <h4>Rules</h4>
      <p class="mat-body-1">
        {{ data?.rules }}
      </p>
    </div>
  </div>
  <div fxLayout="column" fxFlex.gt-sm="50%">
    <h4>Participants ({{isRestrictedParticipants ? 'Restricted' : 'Open For All'}})</h4>
    <span *ngIf="(participants$ | async)?.length === 0" class="mat-caption">
      No Participants yet!
    </span>
    <mat-list *ngIf="(participants$ | async)?.length !== 0">
      <a [routerLink]="['/t', participant.name]" mat-list-item *ngFor="let participant of participants$ | async">
        <img matListAvatar [src]="participant.logo" alt="Team Image" />
        <p matLine fxLayoutAlign="start center" fxLayoutGap="8px">
          <span>{{ participant.name }}</span>
          <mat-chip-list>
            <mat-chip selected>Paid</mat-chip>
          </mat-chip-list>
        </p>
      </a>
    </mat-list>
  </div>
</section>
