<form [formGroup]="groundForm" id="groundForm">
  <div class="form-container" *ngIf="!isLoading" fxLayout.lt-md="column" fxLayout fxLayoutGap="20px">
    <section class="section-container" fxLayoutGap="20px" fxLayout fxLayout.lt-md="column"
      fxLayoutAlign="space-between stretch">
      <div fxLayout="column">
        <mat-form-field appearance="outline" color="primary">
          <mat-label>Enter Ground Name</mat-label>
          <input type="text" matInput formControlName="name" />
        </mat-form-field>
        <div fxLayout fxLayout.lt-md="column" fxLayoutGap.gt-sm="20px" class="state-city-container">
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Select State</mat-label>
            <mat-select formControlName="locState">
              <mat-option *ngFor="let state of states" [value]="state">
                {{ state }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Select City</mat-label>
            <mat-select formControlName="locCity">
              <mat-option *ngFor="let city of cities" [value]="city">
                {{ city }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout>
          <mat-label id="ground-type">Select Ground Type:</mat-label>
          <mat-radio-group color="primary" aria-labelledby="ground-type" matInput formControlName="type">
            <mat-radio-button *ngFor="let type of groundTypes" [value]="type">
              {{ type | titlecase }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="contract-container" fxLayout fxLayoutAlign="start center" fxLayoutGap="20px">
          <mat-label>Upload Contract File:</mat-label>
          <app-file-uploader (changeUpload)="onSelectFileUpload($event)"></app-file-uploader>
        </div>
        <div class="contract-container" fxLayout.lt-md="column" fxLayout fxLayoutAlign="start center"
          fxLayoutGap="20px">
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Contract Start Date</mat-label>
            <input [(ngModel)]="startDateValue" matInput [min]="todayDate" formControlName="contractStartDate"
              [matDatepicker]="startDate" />
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Contract End Date</mat-label>
            <input matInput [min]="startDateValue" formControlName="contractEndDate" [matDatepicker]="endDate" />
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
          </mat-form-field>

        </div>
      </div>
    </section>
    <section class="section-container-2" fxLayoutGap="20px" fxLayout="column" fxLayoutAlign="center center">
      <app-photo-uploader (changeUpload)="onSelectImageUpload($event)"></app-photo-uploader>
    </section>
  </div>
  <app-loading *ngIf="isLoading"></app-loading>
</form>
<form [formGroup]="timingsForm" id="timingsForm" *ngIf="!isLoading">
  <div class="form-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <mat-label> Select hourly availability for your ground in a week </mat-label>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div *ngFor="let day of days">
        <div class="mat-body-2" class="unselectable-box" fxLayoutAlign="center center">{{day}}</div>
        <ng-container *ngFor="let hour of hours">
          <button [ngClass]="{'box-selected': isSelected(day, hour)}" class="box" fxLayout="column" fxLayoutGap="8px"
            fxLayoutAlign="center center" (click)="onSelectBox(day, hour)">
            <span class="mat-body-2">{{hour | numberToAMPM}}</span>
          </button>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="buttons-container" fxLayoutAlign="center center" fxLayout>
    <button (click)="onSubmitDetails()" [disabled]="isSubmitDisabled" type="button" class="primaryButton buttonText">
      Submit
    </button>
  </div>
</form>
