<div fxLayout="column" fxLayoutGap="20px">
  <div
    fxLayout
    fxLayoutAlign="space-between center"
    fxLayoutAlign.lt-md="center center"
  >
    <span class="dash-h5 align">Team Communication</span>
    <a
      [matMenuTriggerFor]="verticalMenu"
      fxHide.lt-md="true"
      class="material-icons-round"
      >more_vert</a
    >
  </div>
  <div fxLayout="row" fxLayoutGap="20px">
    <div
      fxFlex.lt-lg="40%"
      fxFlex.gt-md="30%"
      fxLayout="column"
      fxLayoutGap="20px"
    >
      <!-- match details -->
      <mat-card class="mat-elevation-z8">
        <ng-template #noUpmMatch>
          <ul>
            <li class="nofi grey-bg center">
              <i> No upcoming match selected! </i>
            </li>
          </ul>
        </ng-template>

        <app-current-match
          *ngIf="(currSelectedMatch$ | async) != null; else noUpmMatch"
          [data]="
            (currSelectedMatch$ | async) != null
              ? (currSelectedMatch$ | async)
              : null
          "
        ></app-current-match>
      </mat-card>
      <!-- match details -->

      <!-- *ngIf="activeMatch | async; else nomatch" -->
      <!-- active squad -->
      <mat-card class="mat-elevation-z8">
        <mat-card-title>
          <span class="mat-body-2"> Active Squad </span>
        </mat-card-title>
        <app-active-squad></app-active-squad>
      </mat-card>
      <!-- active squad -->
    </div>
    <!-- *ngIf="squadSelected; else noactive" -->

    <!-- responses -->
    <div fxFlex.lt-lg="60%" fxFlex.gt-md="70%">
      <mat-tab-group
        (selectedTabChange)="onChangeTab($event)"
        [(selectedIndex)]="currMatch"
      >
        <!-- first upcoming match   -->
        <mat-tab [disabled]="noMatch == 0" label="Upcoming Match 1">
          <ng-template matTabContent>
            <ng-template #nomatch1>
              <ul>
                <li class="nofi white-bg">
                  <span class="mat-body-1">
                    You don't have an upcoming match!
                  </span>
                </li>
              </ul>
            </ng-template>
            <app-upcoming-match-tab
              *ngIf="noMatch >= 1; else nomatch1"
              [captain]="captainStatus$ | async"
            ></app-upcoming-match-tab>
          </ng-template>
        </mat-tab>
        <!-- first upcoming match -->

        <!-- second upcoming match -->
        <mat-tab [disabled]="noMatch < 2" label="Upcoming Match 2">
          <ng-template matTabContent>
            <ng-template #nomatch2>
              <ul>
                <li class="nofi white-bg">
                  <span class="mat-body-1">
                    You don't have a second upcoming match!
                  </span>
                </li>
              </ul>
            </ng-template>

            <app-upcoming-match-tab
              *ngIf="noMatch > 1; else nomatch2"
              [captain]="captainStatus$ | async"
            ></app-upcoming-match-tab>
          </ng-template>
        </mat-tab>
        <!-- second upcoming match -->

        <!-- third upcoming match -->
        <mat-tab [disabled]="noMatch < 3" label="Upcoming Match 3">
          <ng-template matTabContent>
            <ng-template #noMatch3>
              <ul>
                <li class="nofi white-bg">
                  <span class="mat-body-1">
                    You don't have a third upcoming match!
                  </span>
                </li>
              </ul>
            </ng-template>

            <app-upcoming-match-tab
              [captain]="captainStatus$ | async"
              *ngIf="noMatch > 2; else noMatch3"
            ></app-upcoming-match-tab>
          </ng-template>
        </mat-tab>
        <!-- third upcoming match -->
      </mat-tab-group>
    </div>
    <!-- responses -->
  </div>
</div>

<mat-menu #verticalMenu>
  <a mat-menu-item [routerLink]="['/support']">Report problem</a>
</mat-menu>
