.nofi {
  padding: 20px;
  box-shadow: 0;
  height: 300px;
  border-radius: var(--borderRadiusCard);
  opacity: 0.75;
}
.white-bg {
  background-color: white;
}
.mat-card {
  border-radius: var(--dashCardBorder);
  overflow: hidden;
}
