.profile-image {
  height: 150px;
  background-color: var(--grey4);
  width: 150px;
  overflow: hidden;
  border-radius: var(--borderRadiusCard);
}
.profile-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.name {
  height: 150px;
  max-height: 180px;
  margin-bottom: 8px;
}
.min-height {
  min-height: 80vh;
}
