<div [ngClass]="{ 'primary-bg': !isCompact, 'grey-bg': isCompact }">
  <div
    class="container long-action-strip"
    [ngClass]="{
      'blackText compactSpace': isCompact,
      'whiteText longSpace': !isCompact
    }"
    fxLayout="column"
    fxLayout.gt-sm="row"
    fxLayoutAlign="center stretch"
    fxLayoutAlign.gt-sm="space-between center"
    fxLayoutGap="20px"
  >
    <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="0">
      <span
        [ngClass]="{
          'mat-subheading-1': isCompact,
          'mat-subheading-2': !isCompact
        }"
        class="align"
      >
        {{ hText | titlecase }}
      </span>
      <span *ngIf="!isCompact" class="mat-body-1 align">
        Get started or contact us now!
      </span>
    </div>

    <div
      fxLayoutGap="8px"
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="center center"
      fxLayoutAlign.lt-md="center stretch"
    >
      <button
        *ngIf="!isCompact"
        (click)="onNavigate('/support')"
        class="buttonText secondaryButtonInv"
      >
        Contact us
      </button>
      <button
        (click)="onNavigate('/signup')"
        class="buttonText"
        [ngClass]="{
          primaryButton: isCompact,
          secondaryButton: !isCompact
        }"
      >
        Get Started
      </button>
    </div>
  </div>
</div>
