<mat-card class="cards-r mat-elevation-z8" fxLayout="column">
  <div fxLayout fxLayoutAlign="space-between center">
    <span class="dash-h5 align">Notification</span>
    <a [routerLink]="['/dashboard', 'account', 'notifications']" class="mat-caption sec-menu">Show All</a>
  </div>
  <!-- list -->
  <ul *ngIf="!notifications.length">
    <li class="nofi">
      <p class="mat-body-1 grey-bg line">No unread notifications!</p>
    </li>
  </ul>
  <app-notifications-list [data]="notifications">
  </app-notifications-list>
  <!-- list -->
</mat-card>
