<div class="table_container">
  <table *ngIf="dataSource.length; else noitem" mat-table [dataSource]="dataSource" class="extra-width-table">
    <ng-container matColumnDef="position" sticky>
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let team; let i = index">
        <span class="mat-caption" *ngIf="team.tData.name !== TO_BE_DECIDED ">
          {{ i + 1 }}
        </span>
        <span class="mat-caption sec-menu" *ngIf="team.tData.name === TO_BE_DECIDED ">
          -
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="team" sticky>
      <th mat-header-cell *matHeaderCellDef>Team</th>
      <td mat-cell *matCellDef="let team" [matTooltip]="team.tData.name">
        <div class="full-width" fxLayoutAlign="start center" fxLayoutGap="8px">
          <img class="teAvatar" [src]="team.tData.logo" alt="Team Logo" appFallbackImg />
          <span class="mat-caption sec-menu" *ngIf="team.tData.name === TO_BE_DECIDED">
            {{ TO_BE_DECIDED }}
          </span>
          <span class="mat-caption left ellipsis" *ngIf="team.tData.name !== TO_BE_DECIDED">
            {{ team.tData.name }}
          </span>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="played">
      <th mat-header-cell *matHeaderCellDef matTooltip="Played">P</th>
      <td mat-cell *matCellDef="let team">
        <span class="mat-body-2">
          {{ team.p }}
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="won">
      <th mat-header-cell *matHeaderCellDef matTooltip="Won">W</th>
      <td mat-cell *matCellDef="let team">
        <span class="mat-body-2">
          {{ team.w }}
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="draw">
      <th mat-header-cell *matHeaderCellDef matTooltip="Draw">D</th>
      <td mat-cell *matCellDef="let team">
        <span class="mat-body-2">
          {{ team.d }}
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="lost">
      <th mat-header-cell *matHeaderCellDef matTooltip="Lost">L</th>
      <td mat-cell *matCellDef="let team">
        <span class="mat-body-2">
          {{ team.l }}
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="goalsFor">
      <th mat-header-cell *matHeaderCellDef matTooltip="Goals For">GF</th>
      <td mat-cell *matCellDef="let team">
        <span class="mat-body-2">
          {{ team.gf }}
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="goalsAgainst">
      <th mat-header-cell *matHeaderCellDef matTooltip="Goals Against">GA</th>
      <td mat-cell *matCellDef="let team">
        <span class="mat-body-2">
          {{ team.ga }}
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="goalDiff">
      <th mat-header-cell *matHeaderCellDef matTooltip="Goal Difference">GD</th>
      <td mat-cell *matCellDef="let team">
        <span class="mat-body-2">
          {{ team.gd }}
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef matTooltip="Points">Pts</th>
      <td mat-cell *matCellDef="let team">
        <span class="points">
          {{ team.pts }}
        </span>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="cols"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: cols"></tr>
  </table>

  <ng-template #noitem>
    <app-no-items-message items="league table"></app-no-items-message>
  </ng-template>
</div>
