.ticket {
  height: 48px;

  width: 100%;
  padding: 20px;
}
li {
  background-color: var(--grey4);
  border-radius: 5px;
  margin-bottom: 5px;
}
li:hover {
  cursor: pointer;
  background-color: var(--grey3);
}
.date {
  color: var(--primaryColor);
}
