<div>
  <p class="dash-h5 align">My Brand Collaborations</p>
  <div
    class="brands"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="8px"
  >
    <a
      [matTooltip]="collab.name"
      class="brand-links"
      *ngFor="let collab of brandCollabs$ | async"
    >
      <img fxFlex="56px" [src]="collab.imgpathLogo" [alt]="collab.name" />
    </a>

    <a
      [routerLink]="['/dashboard', 'account']"
      fxLayout="column"
      class="add_logo"
      fxLayoutAlign="center center"
    >
      <span class="material-icons-round"> add </span>
    </a>
  </div>
</div>
