/* .brand-links {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
}
.brands img {
  width: auto;
  height: 100%;
  object-fit: contain;
} */
.brand-links {
  border-radius: 50%;
  overflow: hidden;
  height: 56px;
  background-color: white;
  width: 56px;
}
.brand-links img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.brands {
  height: 72px;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}
.add_logo {
  height: 64px;
  width: 64px;
  background-color: white;
  border-radius: var(--borderRadiusCard);
}
