<div>
  <app-hero-section
    [useAltLayout]="true"
    [imageSource]="activeSvg"
    title="freekyk academies"
    overline="learn"
    [description]="academiesBanner"
    [CTA]="{ name: 'start learning', route: '/signup' }"
  ></app-hero-section>
</div>

<div fxLayout="column" fxLayoutGap="20px">
  <!-- mobile filters -->
  <app-filters-sm fxHide.gt-sm="true" [filterArray]="acFilter"></app-filters-sm>
  <!-- mobile filters -->

  <!-- desktop filters -->
  <app-filters-lg fxHide.lt-md="true" [filterArray]="acFilter"></app-filters-lg>
  <!-- desktop filters -->

  <!-- loading -->
  <app-card-loading-shimmer *ngIf="isLoading"></app-card-loading-shimmer>
  <!-- loading -->

  <!-- list -->
  <div class="container section-space-bottom">
    <!-- no academies -->
    <ng-template #placeholder>
      <app-no-items-message items="academies"></app-no-items-message>
    </ng-template>
    <!-- no academies -->
    <mat-grid-list
      *ngIf="noAcademies == false; else placeholder"
      [cols]="columns"
      [rowHeight]="cardHeight"
      gutterSize="20px"
    >
      <mat-grid-tile
        appElevateOnHover
        *ngFor="let academy of academies$ | async"
      >
        <div class="academyContainer">
          <img
            [routerLink]="['/academy', academy.name]"
            class="box-image"
            [src]="academy.imgpath"
            [alt]="academy.name"
          />
          <div class="content" fxLayoutAlign="space-between start">
            <div
              [routerLink]="['/academy', academy.name]"
              fxLayout="column"
              fxLayoutAlign="center start"
            >
              <span class="mat-body-1 left">
                {{ academy.name | slice: 0:50 }}
              </span>
              <span class="mat-caption left">
                {{ academy.locCity + ", " + academy.locState | slice: 0:50 }}
              </span>
            </div>
            <button
              disabled
              mat-icon-button
              color="primary"
              (click)="onShare(academy)"
            >
              <mat-icon class="material-icons-round"> share </mat-icon>
            </button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <!-- list -->
</div>
