<div [ngSwitch]="type">
  <p class="dash-h5 align" *ngSwitchCase="'player'">Player Social Media</p>
  <p class="dash-h5 align" *ngSwitchCase="'freestyler'">
    Freestyler Social Media
  </p>
  <p class="dash-h5 align" *ngSwitchCase="'team'">Team Social Media</p>
</div>
<div
  fxLayoutGap="8px"
  fxLayoutAlign.lt-md="center center"
  fxLayoutAlign.gt-sm="start center"
  fxLayout
>
  <a
    (click)="socials?.fb ? onOpenSocialMedia('facebook') : null"
    [matTooltip]="socials?.fb ? socials?.fb : 'Add this link'"
    fxLayoutAlign="center center"
  >
    <img
      src="../../../assets/svgs/facebook.svg"
      alt="Facebook"
      class="iconSize"
    />
  </a>
  <a
    (click)="socials?.ig ? onOpenSocialMedia('instagram') : null"
    [matTooltip]="socials?.ig ? socials?.ig : 'Add this link'"
    fxLayoutAlign="center center"
  >
    <img
      src="../../../assets/svgs/instagram.svg"
      alt="instagram"
      class="iconSize"
    />
  </a>
  <a
    (click)="socials?.yt ? onOpenSocialMedia('youtube') : null"
    [matTooltip]="socials?.yt ? socials?.yt : 'Add this link'"
    fxLayoutAlign="center center"
  >
    <img
      src="../../../assets/svgs/youtube.svg"
      alt="Youtube"
      class="iconSize"
    />
  </a>
  <a
    (click)="socials?.tw ? onOpenSocialMedia('twitter') : null"
    [matTooltip]="socials?.tw ? socials?.tw : 'Add this link'"
    fxLayoutAlign="center center"
  >
    <img
      src="../../../assets/svgs/twitter.svg"
      alt="Twitter"
      class="iconSize"
    />
  </a>
  <a *ngIf="onShowShareBtn" (click)="onShare()" class="material-icons-round">
    share
  </a>
  <a (click)="onAddLinks()" class="material-icons-round">add_circle</a>
</div>
