<div fxLayout="column">
  <!-- features -->
  <div
    class="container section-space-top section-space-bottom"
    fxLayout="column"
    fxLayoutGap="48px"
    fxLayoutGap.gt-sm="120px"
  >
    <app-feature-section
      DialogData="perfect team"
      svg="assets/svgs/Banner/find_your_team.svg"
      [featureContent]="findTeamContent"
    ></app-feature-section>
    <app-feature-section
      svg="assets/svgs/Banner/be_part_of_seasons.svg"
      [featureContent]="seasonsContent"
      [invert]="true"
    ></app-feature-section>
    <app-feature-section
      svg="assets/svgs/Banner/fpl.svg"
      [featureContent]="fplContent"
    ></app-feature-section>
    <app-feature-section
      svg="assets/svgs/Banner/fkc.svg"
      [featureContent]="fkcContent"
      [invert]="true"
    ></app-feature-section>
    <app-feature-section
      svg="assets/svgs/Banner/fcp.svg"
      [featureContent]="fcpContent"
    ></app-feature-section>
    <app-feature-section
      svg="assets/svgs/Banner/customise_your_experience.svg"
      [featureContent]="customizeContent"
      [invert]="true"
    ></app-feature-section>
  </div>
  <!-- features -->

  <!-- action-strip-mini -->
  <div class="section-space-top">
    <app-action-strip [compact]="true"></app-action-strip>
  </div>
  <!-- action-strip-mini -->

  <!-- why choose fk -->
  <app-why-choose-section
    [content]="whyChooseContent"
    name="Play"
  ></app-why-choose-section>
  <!-- why choose fk -->

  <!-- covid-19 -->
  <app-covid-section></app-covid-section>
  <!-- covid-19 -->

  <!-- community numbers -->
  <app-community-numbers-section
    [content]="communityNumbers"
  ></app-community-numbers-section>
  <!-- community numbers -->
</div>
