<mat-card class="feature-card">
  <img class="play_image" mat-card-image src="assets/svgs/Banner/play_banner.svg" alt="Freekyk Play Image">
  <mat-card-content>
    <div fxLayoutAlign="center" fxLayout="column">
      <span class="overline center">Be a part of the football network</span>
      <span class="mat-title center">Freekyk Play</span>
      <p class="mat-body-1 center description">
        The best solution for individuals, societies, schools, colleges and companies who want to play well organized
        football seasons.
      </p>
    </div>
  </mat-card-content>
</mat-card>

<section *ngIf="upcomingSeason" class="features-section">
  <div mat-card-title fxLayoutAlign="space-between center" class="heading">
    <div fxLayoutAlign="start center" fxLayoutGap="8px">
      <span class="material-icons-round red">sensors</span>
      <h4 class="mat-subheading-1 align">Upcoming Season</h4>
    </div>
    <a (click)="showAllSeason()" class="mat-caption">Show more</a>
  </div>
  <app-season-participate-card [season]="upcomingSeason" (openCheckout)="participate()"
    (openOffers)="openOffers()"></app-season-participate-card>
</section>

<section>
  <app-why-choose-section [content]="whyChoose">
  </app-why-choose-section>
</section>

<section *ngIf="players.length" class="features-section">
  <div mat-card-title fxLayoutAlign="space-between center" class="heading">
    <h4 class="mat-subheading-1 align">Freekyk Players</h4>
    <a (click)="showAllPlayers()" class="mat-caption">Show more</a>
  </div>
  <app-players-list [players]="players" [showSearch]="false"></app-players-list>
</section>

<app-action-strip elementSpacing="space-between center" [compact]="true"></app-action-strip>

<section *ngIf="teams.length" class="features-section">
  <div mat-card-title fxLayoutAlign="space-between center" class="heading">
    <h4 class="mat-subheading-1 align">Freekyk Teams</h4>
    <a (click)="showAllTeams()" class="mat-caption">Show more</a>
  </div>
  <ul>
    <li *ngFor="let team of teams">
      <app-teams-list [team]="team"></app-teams-list>
    </li>
  </ul>
</section>

<app-community-numbers-section [content]="communityNumbers"></app-community-numbers-section>
