.form-container {
  width: 100%;
  /* max-width: 600px !important; */
}

.radio-buttons,
.text-container,
mat-form-field {
  width: 100%;
}

.radio-group {
  margin: 10px 0 20px;
}

.goal-label {
  text-align: center;
}

.green {
  color: var(--primaryLightColor);
}

.red {
  color: var(--red);
}

.overflow {
  overflow-y: auto;
}

.heading {
  margin-bottom: 16px;
}

.summary-container {
  width: 100%;
}
