<div class="back-button" fxLayoutAlign="start center">
  <button [routerLink]="['/']" mat-button fxLayoutAlign="start center" fxLayoutGap="8px">
    <span class="material-icons-round">chevron_left</span>
    <span>
      Go back
    </span>
  </button>
  <span class="dash-h5 heading">Leaderboard</span>
</div>
<nav mat-tab-nav-bar color="primary" mat-stretch-tabs>
  <a mat-tab-link *ngFor="let link of links" (click)="activeLink = link.value" [routerLink]="[link.value]"
    routerLinkActive="active-tab" [active]="activeLink == link.value">
    {{ link.viewValue}}
  </a>
</nav>

<!-- <div class="main-content">
  <router-outlet></router-outlet>
</div> -->

<app-loading *ngIf="isLoaderShown"></app-loading>