<mat-card class="feature-card">
  <img class="play_image" mat-card-image src="assets/svgs/Banner/play_banner_small.svg"
    alt="Freekyk Play Seasons Image">
  <mat-card-content>
    <div fxLayoutAlign="center" fxLayout="column">
      <span class="overline center">Be a part of the football network</span>
      <span class="mat-title center">Freekyk Players</span>
      <p class="mat-body-1 center description">
        Find players in your area and invite them to your team.
      </p>
    </div>
  </mat-card-content>
</mat-card>
<div class="all-players-container">
  <app-players-list [players]="players"></app-players-list>
</div>
