<div fxLayout="column" fxLayoutGap="20px">
  <!-- mobile filter -->
  <!-- <app-filters-sm
    fxHide.gt-sm="true"
    [filterArray]="playersFilters"
  ></app-filters-sm> -->
  <!-- mobile filter -->

  <!-- desktop filters -->
  <app-filters-lg
    (changeFilter)="onQueryData($event)"
    fxHide.lt-md="true"
    [data]="filterData"
  ></app-filters-lg>
  <!-- desktop filters -->

  <app-search-lg
    [isDisabled]="(players$ | async)?.length === 0"
    searchPlaceholder="Search players by name, playing position, city"
    (searchItem)="filterTerm = $event"
  >
  </app-search-lg>

  <!-- list -->
  <div class="container min-height section-space-bottom">
    <!-- for small screens -->
    <mat-list *ngIf="onMobile; else lgScreen">
      <mat-list-item
        (click)="onOpenPlayerProfile(player)"
        *ngFor="
          let player of players$
            | async
            | filterList: 'name,locCity,pl_pos':filterTerm;
          last as last
        "
      >
        <img
          matListAvatar
          [src]="player.imgpath_sm || 'assets/images/dummy_player_sm.jpg'"
          [alt]="player.name"
        />
        <p matLine fxLayoutAlign="space-between center">
          <span class="mat-body-1"> {{ player.name | slice: 0:40 }} </span>
          <span class="material-icons-round"> keyboard_arrow_right </span>
        </p>
        <p matLine fxLayoutAlign="space-between center">
          <span class="mat-caption"> {{ player.locCity }} </span>
        </p>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
    <!-- for small screens -->

    <!-- for large screens -->
    <ng-template #lgScreen>
      <table
        mat-table
        [dataSource]="
          players$ | async | filterList: 'name,locCity,pl_pos':filterTerm
        "
        class="full-width-table mat-elevation-z8"
      >
        <ng-container matColumnDef="jersey">
          <th mat-header-cell *matHeaderCellDef>Jersey #</th>
          <td mat-cell *matCellDef="let pl; let i = index">
            <span class="mat-body-1">
              {{ pl.jer_no ? pl.jer_no : "-" }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="player">
          <th mat-header-cell *matHeaderCellDef>Player</th>
          <td mat-cell *matCellDef="let pl; let i = index">
            <div fxLayoutAlign="start center" fxLayoutGap="8px">
              <img
                class="plAvatar"
                [src]="pl.imgpath_sm || 'assets/images/dummy_player_sm.jpg'"
                [alt]="pl.name"
              />
              <span class="mat-body-1 left">
                {{ pl.name | textShorten: 30 }}
              </span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="Team">
          <th mat-header-cell *matHeaderCellDef>Team</th>
          <td mat-cell *matCellDef="let pl">
            <span class="mat-body-1">
              {{ pl.team ? pl.team.name : "No Team" }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="Location">
          <th mat-header-cell *matHeaderCellDef>Location</th>
          <td mat-cell *matCellDef="let pl">
            <span class="mat-body-1">
              {{ pl.locCity || "-" }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="PlayingPos">
          <th mat-header-cell *matHeaderCellDef>Playing Position</th>
          <td mat-cell *matCellDef="let pl">
            <span class="mat-body-1">
              {{ pl.pl_pos || "-" }}
            </span>
          </td>
        </ng-container>
        <tr
          mat-header-row
          class="green-table-header"
          *matHeaderRowDef="cols"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: cols"
          [ngClass]="{ underline: row === selectedRowIndex }"
          (mouseenter)="selectedRowIndex = selectedRowIndex === row ? -1 : row"
          (click)="selectedRowIndex = -1; onOpenPlayerProfile(row)"
          (mouseleave)="selectedRowIndex = -1"
        ></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">
            <div class="box"></div>
            <app-no-items-message items="players"></app-no-items-message>
          </td>
        </tr>
      </table>
    </ng-template>
    <!-- for large screens -->
  </div>
  <!-- list  -->
</div>
