.mat-list-item:hover,
.mat-list-item:active {
  cursor: pointer;
  background-color: var(--grey4);
}
.plAvatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
.mat-column-Player {
  min-width: 125px !important;
  text-align: left;
}
.mat-column-Team,
.mat-column-Location,
.mat-column-PlayingPos {
  min-width: 125px !important;
  max-width: 200px !important;
  text-align: left;
}
.mat-column-Jersey {
  width: 100px !important;
  margin-left: 20px !important;
  text-align: center !important;
}
.underline {
  text-decoration: underline;
  cursor: pointer;
}
.box {
  margin-top: 20px;
}
