<div>
  <div
    fxLayout
    fxLayoutAlign="space-between center"
    fxLayoutAlign.lt-md="center center"
  >
    <span class="dash-h5 align">Team Members</span>
    <a
      (click)="noTeam ? onOpenTeamSettings() : (ind = 2)"
      fxHide.lt-md="true"
      class="mat-caption sec-menu"
    >
      View invites
    </a>
  </div>
  <mat-tab-group [(selectedIndex)]="ind">
    <mat-tab [disabled]="!noTeam" label="Join/Create Team">
      <div class="fullpad-20 bg" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutGap="16px">
          <button (click)="joinTeam()" class="primaryButton buttonText">
            Join a Team
          </button>
          <button (click)="createTeam()" class="secondaryButton buttonText">
            Create New Team
          </button>
        </div>
      </div>
    </mat-tab>
    <mat-tab [disabled]="noTeam" label="Team Members">
      <ng-template matTabContent>
        <!-- list -->
        <ng-template #nomem>
          <ul>
            <li class="nofi">
              <p class="mat-body-1 center">No Team Members!</p>
            </li>
          </ul>
        </ng-template>
        <app-member-list
          *ngIf="teamMembers.members.length > 0; else nomem"
          [membersArray]="teamMembers.members"
          [capId]="capId$ | async"
        ></app-member-list>
        <!-- list -->
      </ng-template>
    </mat-tab>
    <mat-tab [disabled]="noTeam" label="Pending Invites">
      <ng-template matTabContent>
        <!-- list -->
        <app-da-te-join-requests></app-da-te-join-requests>
        <!-- list -->
      </ng-template>
    </mat-tab>
    <mat-tab [disabled]="noTeam" label="Manage Team">
      <ng-template matTabContent>
        <!-- list -->
        <app-da-te-mang-players
          [membersArray]="teamMembers.members"
        ></app-da-te-mang-players>
        <!-- list -->
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
