._bar {
  height: 72px;
  width: 100%;
  max-width: 100%;
}

._fixture {
  height: 100%;
  background-color: white;
  width: 100%;
  border-radius: var(--borderRadiusCard);
  max-height: calc(72px * 6 + 6 * 16px);
  max-width: 100%;
  padding: 16px;
  margin: 0px;
}

.nofi {
  margin-top: 20px;
  height: 72px;
  padding: 20px;
  background-color: white;
  box-shadow: 0;
  border-radius: var(--borderRadiusCard);
  opacity: 0.75;
}

.mat-card {
  border-radius: var(--dashCardBorder);
  overflow: hidden;
}

li {
  max-width: 700px;

  @media screen and (max-width: 1110px) {
    max-width: 500px;
  }
}
