<form [formGroup]="matchSelectForm" class="select-match-type-form-container" fxLayout="column">

  <section class="section-container" fxLayout="column">
    <mat-form-field appearance="outline" color="primary">
      <mat-select panelClass="select-match-type" (selectionChange)="onCustomPackage($event.value)" [multiple]="false"
        placeholder="I WANT TO CREATE" formControlName="package" required>
        <mat-option *ngFor="let package of matchPackages" [value]="package.value">
          <span class="mat-body-1">{{ package.value }}</span>
          <mat-chip-list *ngIf="package.chipText">
            <mat-chip [selected]="package?.chipText === 'Most Popular'">{{package.chipText}}</mat-chip>
          </mat-chip-list>
        </mat-option>
      </mat-select>
      <mat-error *ngIf="matchSelectForm?.get('package')?.hasError('required')">
        {{messages.error.requiredField}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Start Date</mat-label>
      <input matInput [min]="minDate" [max]="maxDate" formControlName="startDate" [matDatepicker]="startDate"
        required />
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
      <mat-error *ngIf="matchSelectForm?.get('startDate')?.hasError('required')">
        {{messages.error.requiredField}}
      </mat-error>
    </mat-form-field>

    <div fxFlex.gt-sm="100%" formGroupName="location" fxLayout="column">
      <div class="dropdown-container" fxFlex.gt-sm="33%">
        <app-searchable-form-field label="Country" [list]="countries$ | async" [control]="locationCountry"
          (selectionChange)="onSelectCountry($event)"></app-searchable-form-field>
      </div>

      <div class="dropdown-container" fxFlex-gt-sm="33%">
        <app-searchable-form-field label="State" [list]="states$ | async" [control]="locationState"
          (selectionChange)="onSelectState($event)"></app-searchable-form-field>
      </div>

      <div class="dropdown-container" fxFlex-gt-sm="auto">
        <app-searchable-form-field label="City" [list]="cities$ | async"
          [control]="locationCity"></app-searchable-form-field>
      </div>
    </div>

  </section>
  <section fxLayout="column" class="team-selection" *ngIf="showAdditionFields">
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Select Participating Teams</mat-label>
      <mat-select formControlName="participatingTeamsCount" (selectionChange)="onRestrictTournamentTypes($event.value)"
        required>
        <mat-option *ngFor="let team of teamsList" [value]="team">
          {{ team }} teams
        </mat-option>
      </mat-select>
      <mat-error *ngIf="matchSelectForm?.get('participatingTeamsCount')?.hasError('required')">
        {{messages.error.requiredField}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Select Containing Tournaments</mat-label>
      <mat-select formControlName="containingTournaments" multiple required>
        <mat-option *ngFor="let type of tourTypesFiltered" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="matchSelectForm?.get('participatingTeamsCount')?.hasError('required')">
        {{messages.error.requiredField}}
      </mat-error>
    </mat-form-field>
  </section>
</form>
