.select-match-type-form-container {
  border: 1px solid var(--grey1);
  padding: 20px 20px 0;
  margin-top: 20px;
  border-radius: 20px;
  section {
    width: 50%;
    margin: 0px auto 0;
  }
  .section-container {
    margin-top: 8px;
  }
  .info {
    margin-bottom: 10px;
  }
}
