.table-container {
  height: 500px;
  border: 2px solid var(--grey1);
  border-radius: 20px;
  padding: 0px;
  overflow: hidden;
  overflow-y: auto;
}

table {
  width: 100%;
}

.mat-column-id {
  width: 20%;
  padding-right: 10px;
}

.mat-column-home {
  width: 9%;
}

.mat-column-away {
  width: 9%;
}

.mat-column-date {
  width: 16%;
}

.mat-column-location {
  width: 25%;
}

.mat-column-ground {
  width: 21%;
}
