<mat-card class="feature-card">
  <img class="play_image" mat-card-image src="assets/svgs/Banner/be_part_of_seasons.svg"
    alt="Freekyk Play Seasons Image">
  <mat-card-content>
    <div fxLayoutAlign="center" fxLayout="column">
      <span class="overline center">Be a part of the football network</span>
      <span class="mat-title center">Freekyk Seasons</span>
      <p class="mat-body-1 center description">
        Pre-defined tournament formats consisting of Premier
        Leagues, Knockouts & community plays good enough to give you the perfect football experience.
      </p>
    </div>
  </mat-card-content>
</mat-card>

<section class="features-section">
  <div mat-card-title fxLayoutAlign="start center" class="heading" fxLayoutGap="8px">
    <span class="material-icons-round red">sensors</span>
    <h4 class="mat-subheading-1 align">Participate NOW!</h4>
  </div>
  <ul>
    <li *ngFor="let season of seasons">
      <app-season-participate-card [season]="season" (openCheckout)="openSeason(season)"
        (openOffers)="openSeason(season)"></app-season-participate-card>
    </li>
  </ul>
</section>
