<mat-toolbar color="primary" class="mat-elevation-z4" fxLayoutAlign="start center" fxLayoutGap="16px">
  <button matTooltip="Close" mat-icon-button mat-dialog-close (click)="onCloseDialog()">
    <mat-icon class="material-icons-round"> close </mat-icon>
  </button>
  <span class="mat-body-1">Payment Options</span>
</mat-toolbar>
<div class="container-2">
  <div class="dialogData">
    <ng-container *ngFor="let paymentOption of data">
      <div class="option-container" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="16px">
        <span class="mat-body-1">{{paymentOption?.subheading}}</span>
        <div class="button-container" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="12px">
          <button [disabled]="button.disabled"
            [ngClass]="{'primaryButton': button.primary, 'secondaryButton': button.primary === false}"
            class="buttonText" *ngFor="let button of paymentOption?.cta">
            {{button.text}}
          </button>
        </div>
        <span class="mat-body-2">
          Offers ends by {{paymentOption.offerExpiry | date: 'fullDate'}}
        </span>
        <a (click)="onReadMore(paymentOption.readMoreData)">Read More</a>
      </div>
    </ng-container>
  </div>
</div>
