.list-container {
  overflow-y: auto;
  overflow-x: visible;
  padding: 0 10px
}

.option-container {
  height: 100%;
  margin: 8px 0;
  width: 100%;
  border-radius: var(--borderRadiusCard);
  padding: 8px 16px;
  background-color: white;
}

@media only screen and (max-width: 959px) {
  .option-container {
    text-align: center;
    width: 100%;
    padding: 20px;
    height: 100%;
    margin: 8px 0;
    width: 100%;
    border-radius: var(--borderRadiusCard);
    background-color: white;
  }
}

.red {
  color: var(--red);
}
