<ng-template #loading>
  <div fxLayout="column">
    <div class="_notif" fxLayout="column" fxLayoutGap="16px">
      <span class="_bar shine" *ngFor="let bars of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]"></span>
    </div>
  </div>
</ng-template>

<ng-template #noNotification>
  <div class="no-items">
    <app-no-items-message items="notifications"></app-no-items-message>
  </div>
</ng-template>
<div class="cont" *ngIf="!isLoading; else loading" fxLayout="column">
  <!-- list -->
  <app-notifications-list [data]="notifications$ | async"
    *ngIf="!(noNotification$ | async) as val; else noNotification"></app-notifications-list>
  <!-- list -->
</div>
<!-- notifications section -->
<app-loading *ngIf="isLoaderShown"></app-loading>
