.cont {
  min-height: 100vh;
}
.no-items {
  padding: 20px;
}
.nofi {
  height: 700px;
  text-align: center;
  padding: 20px;
  box-shadow: 0;
  background-color: white;
  border-radius: var(--borderRadiusCard);
}
._notif {
  width: 100%;
  background-color: white;
  border-radius: var(--borderRadiusCard);
  padding: 16px;
}
._bar {
  height: 72px;
  width: 100%;
}
.notification {
  height: 72px;
  margin: 8px 0;
  width: 100%;
  opacity: 0.8;
  border-radius: var(--borderRadiusCard);
  padding: 8px 16px;
  background-color: white;
}
.notification:hover {
  cursor: pointer;
  opacity: 1;
}
.sec-menu {
  color: var(--grey1);
}
.notif_time {
  color: var(--primaryColor);
}
.line {
  height: 65px;
  padding: 20px;
  width: 100%;
  opacity: 0.75;
}
