.summary-container {
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
  table {
    width: 100%;
  }
  td.mat-column-label {
    width: 30%;
  }
  td.mat-column-value {
    width: 70%;
  }
}
.action-buttons-container {
  margin-top: 20px;
}
