<table mat-table [dataSource]="CommPlayDataSource" class="full-width-table mat-elevation-z8">
  <ng-container matColumnDef="home" sticky>
    <th mat-header-cell *matHeaderCellDef>Home</th>
    <td mat-cell *matCellDef="let team">
      <div fxLayoutAlign="start center" fxLayoutGap="8px">
        <img class="teAvatar" [src]="team.home.logo" alt="team" />
        <span class="mat-body-1 left">
          {{ team.home.name }}
        </span>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="away" sticky>
    <th mat-header-cell *matHeaderCellDef>Away</th>
    <td mat-cell *matCellDef="let team">
      <div fxLayoutAlign="start center" fxLayoutGap="8px">
        <img class="teAvatar" [src]="team.away.logo" alt="team" />
        <span class="mat-body-1 left">
          {{ team.away.name }}
        </span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="stadium">
    <th mat-header-cell *matHeaderCellDef>Match Location</th>
    <td mat-cell *matCellDef="let team">
      <span class="mat-body-2">
        {{ team.stadium }}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="winner">
    <th mat-header-cell *matHeaderCellDef>Winner</th>
    <td mat-cell *matCellDef="let team">
      <span class="mat-body-1 points">
        {{ team.winner }}
      </span>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="cols"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: cols"></tr>
</table>
