.cards-container {
  min-height: 50vh;
}
.box {
  border: 1px solid var(--primaryColor);
  height: 100%;
  width: 100%;
  box-shadow: none;
  padding: 20px;
  border-radius: var(--dashCardBorder);
}
.middle {
  height: auto;
  width: 100%;
}
.expand {
  margin: 64px auto;
}
.number {
  min-height: 25px;
}
.mat-caption {
  color: var(--grey1);
}
.mat-grid-tile {
  border-radius: var(--dashCardBorder);
}
