<div class="container section-space-bottom">
  <div class="cards-container">
    <mat-grid-list [cols]="3" gutterSize="15px" rowHeight="370px">
      <mat-grid-tile class="mat-elevation-z4">
        <mat-card class="box">
          <mat-card-title>
            <mat-chip-list>
              <span class="mat-body-2">Seasons</span>
              <mat-chip selected> Play </mat-chip>
            </mat-chip-list>
          </mat-card-title>
          <mat-card-subtitle>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum,
            placeat nobis.
          </mat-card-subtitle>
          <mat-card-content class="expand">
            <div class="middle" fxLayoutAlign="center center" fxLayout="column">
              <span class="mat-body-2 number"
                >{{ activeSeasons$ | async }}
              </span>
              <span class="mat-caption">Active Seasons </span>
            </div>
          </mat-card-content>

          <mat-card-actions fxLayoutAlign="center center">
            <button
              [routerLink]="['/seasons', 'view']"
              class="buttonText primaryButton"
            >
              Manage
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile class="mat-elevation-z4">
        <mat-card class="box">
          <mat-card-title>
            <mat-chip-list>
              <span class="mat-body-2">Players</span>
              <mat-chip selected> Play </mat-chip>
            </mat-chip-list>
          </mat-card-title>
          <mat-card-subtitle>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum,
            placeat nobis. </mat-card-subtitle
          ><mat-card-content class="expand">
            <div class="middle" fxLayoutAlign="center center" fxLayout="column">
              <span class="mat-body-2 number">{{ totPlayers$ | async }} </span>
              <span class="mat-caption">Total Players </span>
            </div>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="center center">
            <button
              [routerLink]="['/players']"
              class="buttonText primaryButton"
            >
              Manage
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile class="mat-elevation-z4">
        <mat-card class="box">
          <mat-card-title>
            <mat-chip-list>
              <span class="mat-body-2">Grounds</span>
              <mat-chip selected> Play </mat-chip>
            </mat-chip-list>
          </mat-card-title>
          <mat-card-subtitle>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum,
            placeat nobis. </mat-card-subtitle
          ><mat-card-content class="expand">
            <div class="middle" fxLayoutAlign="center center" fxLayout="column">
              <span class="mat-body-2 number">{{ totGrounds$ | async }} </span>
              <span class="mat-caption">Total Grounds Listed </span>
            </div>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="center center">
            <button
              [routerLink]="['/grounds']"
              class="buttonText primaryButton"
            >
              Manage
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile class="mat-elevation-z4">
        <mat-card class="box">
          <mat-card-title>
            <mat-chip-list>
              <span class="mat-body-2">Tickets</span>
              <mat-chip selected> Support </mat-chip>
            </mat-chip-list>
          </mat-card-title>
          <mat-card-subtitle>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum,
            placeat nobis. </mat-card-subtitle
          ><mat-card-content class="expand">
            <div class="middle" fxLayoutAlign="center center" fxLayout="column">
              <span class="mat-body-2 number"
                >{{ unresTickets$ | async }}
              </span>
              <span class="mat-caption">Unresolved Tickets </span>
            </div>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="center center">
            <button
              [routerLink]="['/tickets']"
              class="buttonText primaryButton"
            >
              Manage
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile class="mat-elevation-z4">
        <mat-card class="box">
          <mat-card-title>
            <mat-chip-list>
              <span class="mat-body-2">Teams</span>
              <mat-chip selected> Play </mat-chip>
            </mat-chip-list>
          </mat-card-title>
          <mat-card-subtitle>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum,
            placeat nobis. </mat-card-subtitle
          ><mat-card-content class="expand">
            <div class="middle" fxLayoutAlign="center center" fxLayout="column">
              <span class="mat-body-2 number">{{ totTeams$ | async }} </span>
              <span class="mat-caption">Total Teams </span>
            </div>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="center center">
            <button [routerLink]="['/teams']" class="buttonText primaryButton">
              Manage
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile class="mat-elevation-z4">
        <mat-card class="box">
          <mat-card-title>
            <mat-chip-list>
              <span class="mat-body-2">Freestylers</span>
              <mat-chip selected> Freestyle </mat-chip>
            </mat-chip-list>
          </mat-card-title>
          <mat-card-subtitle>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum,
            placeat nobis. </mat-card-subtitle
          ><mat-card-content class="expand">
            <div class="middle" fxLayoutAlign="center center" fxLayout="column">
              <span class="mat-body-2 number">{{ totFs$ | async }} </span>
              <span class="mat-caption">Total Freestylers </span>
            </div>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="center center">
            <button
              [routerLink]="['/freestylers']"
              class="buttonText primaryButton"
            >
              Manage
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile class="mat-elevation-z4">
        <mat-card class="box">
          <mat-card-title>
            <mat-chip-list>
              <span class="mat-body-2">Equipment</span>
              <mat-chip selected> Equipment </mat-chip>
            </mat-chip-list>
          </mat-card-title>
          <mat-card-subtitle>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum,
            placeat nobis. </mat-card-subtitle
          ><mat-card-content class="expand">
            <div class="middle" fxLayoutAlign="center center" fxLayout="column">
              <span class="mat-body-2 number">{{ totProds$ | async }} </span>
              <span class="mat-caption">Total Products Listed </span>
            </div>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="center center">
            <button
              [routerLink]="['/equipment', 'add']"
              class="buttonText primaryButton"
            >
              Manage
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile class="mat-elevation-z4">
        <mat-card class="box">
          <mat-card-title>
            <mat-chip-list>
              <span class="mat-body-2">Academies</span>
              <mat-chip selected> Academies </mat-chip>
            </mat-chip-list>
          </mat-card-title>
          <mat-card-subtitle>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum,
            placeat nobis. </mat-card-subtitle
          ><mat-card-content class="expand">
            <div class="middle" fxLayoutAlign="center center" fxLayout="column">
              <span class="mat-body-2 number">{{ totAcads$ | async }} </span>
              <span class="mat-caption">Total Academies Listed </span>
            </div>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="center center">
            <button
              [routerLink]="['/academies']"
              class="buttonText primaryButton"
            >
              Manage
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile class="mat-elevation-z4">
        <mat-card class="box">
          <mat-card-title>
            <mat-chip-list>
              <span class="mat-body-2">Contests</span>
              <mat-chip selected> Freestyle </mat-chip>
            </mat-chip-list>
          </mat-card-title>
          <mat-card-subtitle>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum,
            placeat nobis. </mat-card-subtitle
          ><mat-card-content class="expand">
            <div class="middle" fxLayoutAlign="center center" fxLayout="column">
              <span class="mat-body-2 number"
                >{{ activeContests$ | async }}
              </span>
              <span class="mat-caption">Active Contests </span>
            </div>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="center center">
            <button
              [routerLink]="['/contests']"
              class="buttonText primaryButton"
            >
              Manage
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
