@media screen and (max-width: 959px) {
  .logo {
    margin-bottom: 100px;
  }
}

.mat-chip.mat-standard-chip {
  height: 40px;
  max-height: 40px;
  width: 40px;
  max-width: 40px;
  margin: 0 4px !important;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-form-field,
form {
  width: 100%;
}

.rating-wrapper,
.text {
  width: 100%;

}

.text {
  padding: 7px 34px;

  @media screen and (max-width: 959px) {
    padding: 7px 22px;
  }

  span {
    font-size: 30px
  }
}
