<div class="section-space-top section-space-bottom">
  <h4 class="mat-subheading-1 center">Round of 16</h4>
  <ul>
    <li *ngFor="let fixtures of [1, 2, 3, 4, 5, 6, 7, 8]">
      <app-fixture-basic [resultMode]="false"></app-fixture-basic>
    </li>
  </ul>
</div>
<mat-divider></mat-divider>
<div class="section-space-top section-space-bottom">
  <h4 class="mat-subheading-1 center">Quarter Finals</h4>
  <ul>
    <li *ngFor="let fixtures of [1, 2, 3, 4]">
      <app-fixture-basic [resultMode]="false"></app-fixture-basic>
    </li>
  </ul>
</div>
<mat-divider></mat-divider>
<div class="section-space-top section-space-bottom">
  <h4 class="mat-subheading-1 center">Semi Finals</h4>
  <ul>
    <li *ngFor="let fixtures of [1, 2]">
      <app-fixture-basic [resultMode]="false"></app-fixture-basic>
    </li>
  </ul>
</div>
<mat-divider></mat-divider>
<div class="section-space-top section-space-bottom">
  <h4 class="mat-subheading-1 center" fxLayoutAlign="center center">
    <span class="material-icons-round"> emoji_events </span>
    <span>Final</span>
  </h4>
  <ul>
    <li>
      <app-fixture-basic [resultMode]="false"></app-fixture-basic>
    </li>
  </ul>
</div>
