<mat-toolbar
  color="primary"
  class="mat-elevation-z4"
  fxLayoutAlign="start center"
  fxLayoutGap="20px"
>
  <button mat-icon-button (click)="onCloseDialog()">
    <mat-icon class="material-icons-round"> close </mat-icon>
  </button>
  <span class="mat-body-1">Project Details Form</span>
</mat-toolbar>
<div class="container-2" fxLayout="column">
  <div class="dialogData seperator">
    <form
      [formGroup]="projectForm"
      (ngSubmit)="onFormComplete()"
      fxLayout="column"
    >
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Enter Full Name</mat-label>
        <input type="text" matInput name="name" formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="outline" color="primary">
        <mat-label>Enter Email</mat-label>
        <input type="text" matInput name="email" formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline" color="primary">
        <mat-label>Enter Phone Number</mat-label>
        <input type="tel" matInput name="phone" formControlName="phone" />
      </mat-form-field>

      <mat-form-field appearance="outline" color="primary">
        <mat-label>Add Project Description</mat-label>
        <textarea name="t_desc" formControlName="desc" matInput></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" color="primary">
        <mat-label>Add Music Selection/Preference</mat-label>
        <input
          type="text"
          matInput
          name="musicSel"
          formControlName="musicSel"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" color="primary">
        <mat-label>Enter Raw Footage Duration</mat-label>
        <input type="text" matInput name="raw_dur" formControlName="raw_dur" />
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Enter Output Video Duration</mat-label>
        <input type="text" matInput name="dur" formControlName="dur" />
      </mat-form-field>

      <div class="form" fxLayout="column" fxLayoutGap="20px">
        <p class="mat-caption align">Add Raw Videos</p>
        <div formArrayName="raw_videos" fxLayout="column">
          <div
            *ngFor="let video of getFormArray(); let i = index"
            fxLayout="row"
            fxLayoutGap="20px"
          >
            <mat-form-field
              fxFlex="<grow>"
              appearance="outline"
              color="primary"
            >
              <mat-label>Add Video URL</mat-label>
              <input type="text" matInput [formControlName]="i" />
            </mat-form-field>
            <button
              fxFlexAlign="center"
              *ngIf="projectForm.get('raw_videos')?.value.length > 1"
              fxLayoutAlign="center center"
              (click)="onRemoveControl(i)"
              mat-icon-button
              class="red"
            >
              <mat-icon class="material-icons-round">remove_circle</mat-icon>
            </button>
          </div>
          <div
            fxLayoutAlign="center center"
            fxLayoutAlign.gt-sm="start center"
          ></div>
          <button
            type="button"
            [disabled]="!projectForm.get('raw_videos')?.valid"
            class="secondaryButton buttonText"
            (click)="onAddControl()"
          >
            + Add more
          </button>
        </div>
      </div>

      <div class="form" fxLayout fxLayoutGap="16px">
        <span> Delivery Choice : </span>
        <mat-radio-group
          color="primary"
          aria-label="Select Delivery Choice"
          fxLayoutGap="8px"
          formControlName="delivery"
        >
          <mat-radio-button value="E">Express</mat-radio-button>
          <mat-radio-button value="N">Normal</mat-radio-button>
        </mat-radio-group>
      </div>

      <div fxLayout.lt-md="column" fxLayoutAlign.gt-sm="center center">
        <button
          class="primaryButton buttonText"
          [disabled]="!projectForm.valid"
          type="submit"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
