<section
  class="container section-space-top section-space-bottom"
  fxLayout="column"
  fxLayout.gt-sm="row"
  fxLayoutAlign.gt-sm="space-between center"
  fxLayoutGap.lt-md="20px"
>
  <div fxFlex.gt-sm="50%" fxLayout="column" fxLayoutGap="8px">
    <h4 class="mat-subheading-1 align">{{ content.heading | titlecase }}</h4>
    <span class="mat-body-1 align">
      {{ content.desc }}
    </span>
  </div>
  <div fxFlex.gt-sm="30%">
    <mat-grid-list cols="2" gutterSize="20px">
      <mat-grid-tile
        *ngFor="let figure of content.numbers | keyvalue"
        class="mat-elevation-z4"
      >
        <div fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="8px">
          <h2 class="numbers">{{ figure.value }}</h2>
          <p>
            {{ figure.key }}
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</section>
