.profile-photo-large {
  height: auto;
  width: 100%;
  object-fit: contain;
}
.photo_container {
  overflow: hidden;
  border-radius: var(--borderRadiusCard);
  width: 300px;
  height: 400px;
  max-width: 360px;
  max-height: 400px;
  background-color: var(--grey4);
}
.mat-card {
  border-radius: var(--dashCardBorder);
  overflow: hidden;
}
.mat-subheading-2 {
  margin-bottom: 0 !important;
  padding-bottom: 0px !important;
}
.circle {
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--grey4);
}
.addInfo {
  color: var(--grey1);
}
._profile {
  box-shadow: none;
  height: 470px;
  width: 100%;
  max-width: 740px;
  padding: 20px;
  max-height: 470px;
  min-height: 470px;
  overflow: hidden;
  background-color: white;
}
._inside {
  height: 100%;
  width: 100%;
}
._text {
  width: 100%;
  height: 24px;
}
._box {
  min-height: 400px;
  height: 100%;
  min-width: 250px;
  width: 100%;
}
._circle {
  height: 40px;
  min-width: 40px;
  width: 40px;
  min-height: 40px;

  border-radius: 50%;
  margin: 8px;
}
._bar {
  height: 72px;
  width: 100%;
  max-width: 740px;
}
._fixture {
  height: 100%;
  background-color: white;
  width: 100%;
  border-radius: var(--borderRadiusCard);
  max-height: calc(72px * 6 + 6 * 16px);
  max-width: 740px;
  padding: 16px;
  margin: 0px;
}
._stats {
  height: 100%;
  width: 100%;
  box-shadow: none;
}

._space {
  height: 48px;
  width: 100%;
}
._progress {
  height: 32px;
  width: 100%;
}
._step {
  height: 24px;
  width: 100%;
}
._circle-small {
  height: 24px;
  min-width: 24px;
  width: 24px;
  min-height: 24px;
  margin-right: 16px;
  border-radius: 50%;
}
._notif {
  width: 100%;
  background-color: white;
  border-radius: var(--borderRadiusCard);
  padding: 16px;
}
._button {
  height: 48px;
  width: 100%;
}
@media only screen and (max-width: 599px) {
  .photo_container {
    overflow: hidden;
    border-radius: var(--borderRadiusCard);
    width: 100%;
    height: 200px;
    max-width: 360px;
    max-height: 300px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 959px) {
  .photo_container {
    overflow: hidden;
    border-radius: var(--borderRadiusCard);
    width: 100%;
    height: 250px;
    max-width: 360px;
    max-height: 350px;
  }
}
@media only screen and (min-width: 1280px) {
  .prof_data {
    padding: 20px;
  }
}
