.form-container {
  border: 1px solid var(--grey1);
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  .unselectable-box,
  .box {
    min-height: 80px;
    max-height: 80px;
    min-width: 80px;
    max-width: 80px;
    border: 1px dotted var(--grey1);
    border-radius: 20px;
    color: black;
    margin: 4px;
    cursor: pointer;
  }
}
