<div
  class="container section-space-bottom"
  fxLayoutGap="20px"
  fxLayout="column"
>
  <span class="mat-subheading-1"> Seasons </span>
  <mat-grid-list cols="3" gutterSize="20px" rowHeight="185px">
    <mat-grid-tile>
      <mat-card
        [routerLink]="['/admin', 'seasons', 'add']"
        routerLinkActive="darkGreen"
        class="box whiteText"
        fxLayout="column"
        fxLayoutAlign="space-between"
      >
        <div>
          <mat-card-title>
            <span class="mat-body-2"> Add a New Season </span>
          </mat-card-title>
          <mat-card-subtitle class="whiteText">
            <span class="mat-caption">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed sit
              atque architecto, laboriosam quis iusto autem consequuntur.
            </span>
          </mat-card-subtitle>
        </div>
        <div class="button" fxLayoutAlign="start center">
          <span class="mat-body">Add</span>
          <span class="material-icons-round">keyboard_arrow_right</span>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card
        [routerLink]="['/admin', 'seasons', 'view']"
        routerLinkActive="darkGreen"
        class="box whiteText"
        fxLayout="column"
        fxLayoutAlign="space-between"
      >
        <div>
          <mat-card-title>
            <span class="mat-body-2">View Active Seasons </span>
          </mat-card-title>
          <mat-card-subtitle class="whiteText">
            <span class="mat-caption">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed sit
              atque architecto, laboriosam quis iusto autem consequuntur.
            </span>
          </mat-card-subtitle>
        </div>
        <div class="button" fxLayoutAlign="start center">
          <span class="mat-body">View</span>
          <span class="material-icons-round">keyboard_arrow_right</span>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card
        [routerLink]="['/admin', 'seasons', 'update']"
        routerLinkActive="darkGreen"
        class="box whiteText"
        fxLayout="column"
        fxLayoutAlign="space-between"
      >
        <div>
          <mat-card-title>
            <span class="mat-body-2"> Update Match Report </span>
          </mat-card-title>
          <mat-card-subtitle class="whiteText">
            <span class="mat-caption">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed sit
              atque architecto, laboriosam quis iusto autem consequuntur.
            </span>
          </mat-card-subtitle>
        </div>
        <div class="button" fxLayoutAlign="start center">
          <span class="mat-body">Update</span>
          <span class="material-icons-round">keyboard_arrow_right</span>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card
        [routerLink]="['/admin', 'seasons', 'generate']"
        routerLinkActive="darkGreen"
        class="box whiteText"
        fxLayout="column"
        fxLayoutAlign="space-between"
      >
        <div>
          <mat-card-title>
            <span class="mat-body-2"> Generate Fixtures </span>
          </mat-card-title>
          <mat-card-subtitle class="whiteText">
            <span class="mat-caption">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed sit
              atque architecto, laboriosam quis iusto autem consequuntur.
            </span>
          </mat-card-subtitle>
        </div>
        <div class="button" fxLayoutAlign="start center">
          <span class="mat-body">Generate</span>
          <span class="material-icons-round">keyboard_arrow_right</span>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider> </mat-divider>
  <router-outlet></router-outlet>
</div>
