<div fxLayout="column" fxLayoutGap="20px">
  <!-- mobile filter -->
  <!-- <app-filters-sm
    fxHide.gt-sm="true"
    [filterArray]="stFilters"
  ></app-filters-sm> -->
  <!-- mobile filter -->
  <ng-container *ngIf="showFilters">
    <!-- desktop filters -->
    <app-filters-lg fxHide.lt-md="true" [data]="filterData" (changeFilter)="onQueryData($event)"></app-filters-lg>
    <!-- desktop filters -->
    <div class="container" *ngIf="!seasonChosen">
      <span class="mat-body-1 no-items">
        No season selected! Please select a season
      </span>
    </div>
  </ng-container>

  <!-- tab groups -->
  <mat-tab-group class="container section-space-bottom" [(selectedIndex)]="activeIndex">
    <mat-tab label="FCP Leaderboard" [disabled]="!cpStandings.length">
      <ng-template matTabContent>
        <app-pl-st-community-play [data]="cpStandings"></app-pl-st-community-play>
      </ng-template>
    </mat-tab>
    <mat-tab label="Knockout Tournament" [disabled]="!knockoutFixtures.length">
      <ng-template matTabContent>
        <app-pl-st-knockout [season]="seasonChosen" [fixtures]="knockoutFixtures">
        </app-pl-st-knockout>
      </ng-template>
    </mat-tab>
    <mat-tab label="League Table" [disabled]="!leagueData.length">
      <ng-template matTabContent>
        <app-pl-st-league [data]="leagueData"></app-pl-st-league>
      </ng-template>
    </mat-tab> -->
  </mat-tab-group>
  <!-- tab groups -->
</div>
