<mat-card class="feature-card">
  <img class="play_image" mat-card-image src="assets/svgs/Banner/fkc.svg" alt="Freekyk Standings Image">
  <mat-card-content>
    <p class="mat-body-1 description">
      For standings, select a season
    </p>
  </mat-card-content>
</mat-card>
<section class="features-section less-margin">
  <app-searchable-form-field [control]="seasonFormControl" [required]="true" [list]="seasonsStrList" label="Season"
    (selectionChange)="onSelectSeason($event)">
  </app-searchable-form-field>
  <app-standings-tabs [knockoutData]="knockoutData" [leagueData]="leagueRowsData"></app-standings-tabs>
</section>
<app-loading *ngIf="isLoaderShown"></app-loading>
