.form-container {
  border: 1px solid var(--grey1);
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
}
.photo {
  margin-bottom: 20px;
}
.photo .mat-form-field {
  width: 70%;
}
.uploadButton {
  width: 300px !important;
  min-width: 300px !important;
  max-width: 300px !important;
}
