<form [formGroup]="prodForm" (ngSubmit)="onSubmit()">
  <div
    fxLayoutAlign="center center"
    fxLayoutGap="20px"
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="center stretch"
  >
    <button
      type="button"
      (click)="onAutofill()"
      class="primaryButton buttonText"
    >
      Autofill and Submit
    </button>
    <button
      [disabled]="prodForm.invalid"
      type="submit"
      class="primaryButton buttonText"
    >
      Submit
    </button>
    <button
      type="button"
      (click)="prodForm.reset()"
      class="secondaryButton buttonText"
    >
      Reset
    </button>
  </div>
  <div class="form-container" fxLayout="column">
    <div class="photo" fxLayoutAlign="space-between center">
      <input
        hidden
        type="file"
        name="fileInput1"
        accept="image/*"
        #fileInputImage
        (change)="onBrowsePhoto($event)"
        id="file1"
      />
      <button
        type="button"
        (click)="fileInputImage.click()"
        class="buttonText secondaryButton uploadButton"
      >
        Upload Product Image
      </button>
    </div>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Enter Product Name</mat-label>
      <input type="text" matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Enter Product price</mat-label>
      <input type="tel" matInput formControlName="price" />
      <span matPrefix>&#8377;</span>
      <span matSuffix>.00</span>
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Select Product Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of pTypes" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Select Product Brand</mat-label>
      <mat-select formControlName="brand">
        <mat-option disabled>Select Brand (if applicable)</mat-option>
        <mat-option *ngFor="let brand of pBrands" [value]="brand">
          {{ brand }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Select Available Product Sizes</mat-label>
      <mat-select formControlName="size" multiple>
        <mat-option disabled>Select Size (if applicable)</mat-option>
        <mat-option *ngFor="let size of pSizes" [value]="size">
          US {{ size }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Select Available Product Colors</mat-label>
      <mat-select formControlName="color" multiple>
        <mat-option disabled>Select Color (if applicable)</mat-option>
        <mat-option *ngFor="let color of pColors" [value]="color">
          {{ color }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Select Seller</mat-label>
      <mat-select #sellers formControlName="seller">
        <mat-option disabled>Select Seller</mat-option>
        <mat-option *ngFor="let seller of sellers$ | async" [value]="seller">
          {{ seller }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" color="primary">
      <mat-label> Enter Product Description</mat-label>
      <textarea
        matInput
        formControlName="desc"
        placeholder="Mention product description in 300 words"
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" color="primary">
      <mat-label> Enter Product Warranty Information</mat-label>
      <textarea
        matInput
        formControlName="warrantyInfo"
        placeholder="Mention warranty info in 500 words"
      ></textarea>
    </mat-form-field>
  </div>
</form>
