<div class="video-container">
  <form
    [formGroup]="videoForm"
    (ngSubmit)="onSubmit()"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Add Video URL Here</mat-label>
      <input matInput type="url" formControlName="videoUrl" />
      <mat-error *ngIf="videoForm.get('videoUrl').hasError('pattern')">
        Please provide a valid Youtube Video URL!
      </mat-error>
      <mat-error *ngIf="videoForm.get('videoUrl').hasError('required')">
        Add a Video URL
      </mat-error>
    </mat-form-field>
    <div fxLayoutGap="20px" fxLayoutAlign="center center">
      <button
        [disabled]="!videoForm.valid"
        class="primaryButton buttonText"
        type="submit"
      >
        Submit
      </button>
      <button
        class="noResponseButton buttonText"
        type="button"
        (click)="onCloseBox()"
      >
        Close
      </button>
    </div>
  </form>
</div>
