.mat-grid-tile {
  border: 2px solid var(--grey4);
  border-radius: var(--borderRadiusCard);
}
.mat-grid-tile:hover {
  cursor: pointer;
}
.productContainer {
  height: 100%;
  width: 100%;
}
.box-image {
  max-height: 50%;
  width: 100%;
  object-fit: cover;
}
.content {
  padding: 8px;
}

@media only screen and (max-width: 359px) {
  .box-image {
    max-height: 55%;
    width: 100%;
    object-fit: cover;
  }
}
@media only screen and (min-width: 360px) {
  .box-image {
    max-height: 65%;
    width: 100%;
    object-fit: cover;
  }
}
