.total {
  color: var(--primaryColor);
  font-weight: 600;
}
.product_image {
  height: 100px;
  min-width: 100px;
  background-color: black;
  border-radius: 10px 0px 0px 10px;
  overflow: hidden;
}
.cart_item {
  border-radius: 8px;
  padding: 0;
  background-color: white;
  color: black;
  height: 100px;
}
.delete {
  color: var(--red);
}
.hero {
  height: 400px;
}
.hero-text {
  max-width: 500px;
}
@media only screen and (min-width: 960px) and (max-width: 1279px) {
  .hero-text {
    max-width: 450px;
  }
}
.nofi {
  height: 72px;
  padding: 20px;
  background-color: var(--grey4);
  box-shadow: 0;
  color: var(--grey1);
  border-radius: var(--borderRadiusCard);
  /* opacity: 0.75; */
}
.box {
  min-height: 500px;
}
@media only screen and (max-width: 959px) {
  .nofi {
    height: 96px;
    padding: 20px;
    background-color: var(--grey4);
    box-shadow: 0;
    color: black;
    border-radius: var(--borderRadiusCard);
  }
}
