<!-- intro -->
<div class="grey-bg">
  <section
    class="container product hero"
    ngClass.lt-md="section-space-bottom"
    fxLayout="column"
    fxLayout.gt-sm="row"
    fxLayoutAlign="center center"
    fxLayoutAlign.gt-sm="space-between center"
    fxLayoutGap="20px"
  >
    <app-illustration-hero-section
      fxFlexOrder.gt-sm="2"
      fxFlexOrder="1"
    ></app-illustration-hero-section>

    <div
      fxFlexOrder.gt-sm="1"
      fxFlexOrder="2"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutAlign.gt-sm="center start"
      ngClass.gt-sm="hero-text"
    >
      <div
        fxLayoutAlign.lt-md="center center"
        fxLayoutAlign.gt-sm="center start"
        fxLayout="column"
      >
        <span class="mat-title align">Your Shopping Cart</span>
      </div>

      <div class="full-width-table" fxLayoutGap="8px" fxLayout="column">
        <div fxLayoutAlign="space-between center">
          <span class="mat-body-2">Subtotal</span>
          <span class="mat-body-1">
            {{ subtotalPriceChanged$ | async | currency }}
          </span>
        </div>
        <div fxLayoutAlign="space-between center">
          <span class="mat-body-2">Delivery Charges </span>
          <span class="mat-body-1"> {{ delCharges | currency }}</span>
        </div>
        <div fxLayoutAlign="space-between center">
          <span class="mat-body-2">Discount Applied</span>
          <span class="mat-body-1">
            {{ currDiscount$ | async | currency }}</span
          >
        </div>
        <mat-divider></mat-divider>
        <div fxLayoutAlign="space-between center">
          <span class="mat-body-2 total">Total</span>
          <span class="mat-body-1 total">
            {{
              (subtotalPriceChanged$ | async) +
                delCharges -
                (currDiscount$ | async) | currency
            }}
          </span>
        </div>
      </div>

      <button
        (click)="onCheckout()"
        class="primaryButton buttonText filter-spacing"
      >
        Checkout
      </button>
    </div>
  </section>
</div>

<!-- cart Items -->
<div
  class="container section-space-top section-space-bottom"
  fxLayout="column"
  fxLayoutGap="20px"
>
  <!-- coupon -->
  <form
    [formGroup]="couponInput"
    (ngSubmit)="onApplyCoupon()"
    fxLayout="column"
  >
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Have a Coupon? Enter here</mat-label>
      <input type="text" matInput formControlName="code" name="code" />
      <mat-error *ngIf="couponInput.get('code')?.errors?.invalidCoupon">
        Coupon not found! Please Try another code
      </mat-error>
      <mat-error *ngIf="couponInput.get('code').hasError('required')">
        This field can't be empty
      </mat-error>
    </mat-form-field>
    <button
      color="primary"
      mat-button
      [disabled]="!couponInput.valid"
      type="submit"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="8px"
    >
      <span class="material-icons-round"> local_offer </span>
      <span> Apply Coupon</span>
    </button>
  </form>
  <!-- coupon -->

  <section fxLayoutGap="20px" fxLayout="column">
    <span class="mat-subheading-1"> Your Cart Items </span>
    <div *ngIf="(cartItems$ | async)?.length == 0" class="box">
      <ul>
        <li class="nofi center">
          <span class="mat-body-1"> Your cart is empty... </span>
        </li>
      </ul>
    </div>

    <mat-card
      class="mat-elevation-z8 cart_item"
      *ngFor="let item of cartItems$ | async"
    >
      <mat-card-content>
        <div fxLayoutGap="16px" fxLayout>
          <div class="product_image">
            <img [src]="item.prodImgpath" alt="Product Image" />
          </div>
          <div class="full-width-table" fxLayoutAlign="space-between center">
            <div fxLayout="column">
              <span class="mat-body-2">
                {{ item.prodName | textShorten: 40 }}
              </span>
              <span class="mat-body-2 primaryColor">
                {{ item.prodPrice | currency }}
              </span>
            </div>
            <div
              fxLayout="column"
              fxLayoutAlign="center center"
              fxLayoutGap="8px"
            >
              <button mat-icon-button (click)="onDeleteItem(item.prodId)">
                <span class="material-icons-round delete"> delete </span>
              </button>
              <button mat-icon-button (click)="onAddSimilarItem(item)">
                <span class="material-icons-round"> add </span>
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
</div>
<!-- cart Items -->
