.shortcut-button-shared {
  margin-bottom: 12px;

  .action-button {
    border: 50%;
    height: 48px;
    width: 48px;
    min-width: 48px;
    min-height: 48px;
    max-width: 48px;
    max-height: 48px;
    border: 1px solid var(--grey1);
  }

  .text-container {
    width: 69px;
    min-width: 69px;
    height: 40px;

    @media screen and (max-width: 359px) {
      width: 100%;
      min-width: 40px;
    }

    span {
      text-align: center;
      width: 100%;
    }
  }

  .avatar {
    height: 100%;
    width: auto;
    object-fit: contain;
  }
}