<section
  class="feature-section"
  fxLayout="column"
  fxLayout.gt-sm="row"
  fxLayoutAlign="center center"
  fxLayoutAlign="space-evenly center"
  fxLayoutGap="8px"
>
  <span
    [fxFlexOrder.gt-sm]="flexOrderInvert ? '1' : '2'"
    fxFlexOrder="1"
    class="placeholder"
  ></span>
  <div
    [fxFlexOrder.gt-sm]="flexOrderInvert ? '2' : '1'"
    fxFlexOrder="2"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutAlign.gt-sm="center start"
    fxLayoutGap="8px"
    ngClass.gt-sm="content"
  >
    <h4 class="mat-subheading-1 align">{{ content.head | titlecase }}</h4>
    <p class="mat-body-1 align" [innerHTML]="content.desc"></p>
    <button
      *ngIf="isDialog == false; else dialogOpener"
      color="primary"
      mat-button
      (click)="onNavigate(content.route)"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="8px"
    >
      <span> Explore More </span>
      <span class="material-icons-round"> keyboard_arrow_right </span>
    </button>
    <ng-template #dialogOpener>
      <button
        color="primary"
        mat-button
        (click)="onLearnMore()"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="8px"
      >
        <span> Learn More</span>
        <span class="material-icons-round"> keyboard_arrow_right </span>
      </button>
    </ng-template>
  </div>
</section>
