<div class="back-button" fxLayoutAlign="start center">
  <button [routerLink]="['/seasons']" mat-button fxLayoutAlign="start center" fxLayoutGap="8px">
    <span class="material-icons-round">chevron_left</span>
    <span>
      All Seasons
    </span>
  </button>
  <span class="dash-h5 heading">{{season?.name}}</span>
  <button mat-icon-button (click)="getSeasonInfo()" matTooltip="Refresh Page">
    <span class="material-icons-round">refresh</span>
  </button>
</div>
<section>
  <mat-accordion class="example-headers-align">

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Game Type
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div class="info-container">
          <app-season-property-line label="Match / Tournament Type"
            [value]="formatters.formatTournamentType(season.type)" [showChip]="true"></app-season-property-line>
          <app-season-property-line label="Participation" value="{{season.participatingTeams}} Teams"
            [showChip]="true"></app-season-property-line>
        </div>
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Basic Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div class="info-container">
          <app-season-property-line label="Match/Tournament Name" value="{{season.name}}"></app-season-property-line>
          <app-season-property-line label="Location City" value="{{season.city}}"></app-season-property-line>
          <app-season-property-line label="Location State" value="{{season.state}}"></app-season-property-line>
          <app-season-property-line label="Ground Name" value="{{season.more?.groundName}}"
            *ngIf="season.more?.groundName"></app-season-property-line>
          <app-season-property-line label="Ground Location Link" [showLink]="true" value="{{season.more?.groundLink}}"
            *ngIf="season.more?.groundLink"></app-season-property-line>
          <app-season-property-line label="Start Time"
            value="{{season.startDate | date: 'medium'}}"></app-season-property-line>
        </div>
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Advanced Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div class="info-container">
          <app-season-property-line label="Playing Format" value="{{season.more?.format}}v{{season.more?.format}}"
            *ngIf="season.more?.format" [showChip]="true"></app-season-property-line>
          <app-season-property-line label="Fees {{season.type === 'Pickup' ? '(per Player)' : '(per Team)'}}"
            value="{{season.fees | currency: 'INR'}}" [selectedChip]="true" [showChip]="true"
            [showChip]="true"></app-season-property-line>
          <app-season-property-line label="Age Category"
            value="{{teamFormatters.formatAgeCategory(season.ageCategory)?.viewValue}}"
            [showChip]="true"></app-season-property-line>
          <app-season-property-line label="Rules & Description" *ngIf="season.description"
            value="{{season.description}}"></app-season-property-line>
        </div>
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel class="fixtures-admin-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          All Scheduled/Finished Matches
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-fixtures-results-tabs [matches]="matches"></app-fixtures-results-tabs>
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Participants
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <span class="mat-body-2">
          Confirmed Players
        </span>
        <app-team-player-members-list [list]="participants"></app-team-player-members-list>
      </ng-template>
    </mat-expansion-panel>

  </mat-accordion>
</section>
<!-- <div fxLayoutAlign="start center" class="back-button">
  <span class="material-icons-round">keyboard_arrow_left</span>
  <a [routerLink]="['/seasons/list']">Go Back to All Seasons</a>
</div>
<mat-card fxLayoutAlign="space-between center" fxLayout="row">
  <span class="mat-subheading-2">
    {{ seasonData?.name }}
  </span>
  <div fxLayout="column" fxLayoutAlign="center end">
    <span class="mat-subheading-1" [ngClass]="getStatusClass()">
      {{seasonData?.status}}
    </span>
  </div>
</mat-card>
<mat-card class="info-card">
  <div fxLayoutAlign="space-between start">
    <div class="text-container-parent">
      <div class="text-container">
        <h4>Location</h4>
        <p class="mat-body-1">
          {{ seasonData?.city + ", " + seasonData?.state }}
        </p>
      </div>
      <div class="text-container" fxLayoutAlign="start start" fxLayoutGap="30px" fxLayout>
        <div>
          <h4>Fees</h4>
          <p class="mat-body-1">
            {{ seasonData?.fees }}
          </p>
        </div>
        <div>
          <h4>Entry Fees (per team)</h4>
          <p class="mat-body-2">
            {{ payableFees | currency: 'INR':true }}
          </p>
        </div>
      </div>
      <div class="text-container">
        <h4>Starts on</h4>
        <p class="mat-body-1">
          {{ seasonData?.startDate | date: 'fullDate' }}
        </p>
      </div>
      <div class="text-container">
        <h4>Total Participating Teams</h4>
        <p class="mat-body-1">
          {{ seasonData?.participatingTeams }}
        </p>
      </div>
      <div class="text-container">
        <h4>Tournaments</h4>
        <p class="mat-body-1">
          {{ formatters.formatTournamentType(seasonData?.type) || 'NA' }}
        </p>
      </div>
      <form [formGroup]="updateEntriesForm">
        <div class="text-container">
          <h4 fxLayoutAlign="start center" fxLayoutGap="4px">
            <span>
              Description
            </span>
            <span class="material-icons-round cursors" (click)="edit()" matTooltip="Edit"
              *ngIf="!isEditMode && isSeasonPublished">edit_note</span>
            <ng-container *ngIf="isEditMode">
              <span class="material-icons-round save" matTooltip="Save" (click)="updateSeason()">save</span>
              <span class="material-icons-round cancel" matTooltip="Cancel" (click)="cancel()">block</span>
            </ng-container>
          </h4>
          <p class="mat-body-1 preserve-white-space" *ngIf="!isEditMode; else descriptionFormField">
            {{ seasonMoreData?.description }}
          </p>
          <ng-template #descriptionFormField>
            <mat-form-field class="text-area-field" appearance="outline" color="primary">
              <mat-label>Mention Season Description</mat-label>
              <textarea matInput formControlName="description" [maxLength]="descriptionLimit"
                placeholder="Mention season description"></textarea>
              <mat-hint align="end">{{description?.value?.length}} / {{descriptionLimit}}</mat-hint>
              <mat-error *ngIf="description?.hasError('required')">
                {{messages.error.requiredField}}
              </mat-error>
              <mat-error *ngIf="description?.hasError('pattern')">
                {{messages.error.notAllowedCharacter}}
              </mat-error>
            </mat-form-field>
          </ng-template>
        </div>
        <div class="text-container">
          <h4 fxLayoutAlign="start center" fxLayoutGap="4px">
            <span>
              Rules
            </span>
            <span class="material-icons-round cursors" (click)="edit()" matTooltip="Edit"
              *ngIf="!isEditMode && isSeasonPublished">edit_note</span>
            <ng-container *ngIf="isEditMode">
              <span class="material-icons-round save" matTooltip="Save" (click)="updateSeason()">save</span>
              <span class="material-icons-round cancel" matTooltip="Cancel" (click)="cancel()">block</span>
            </ng-container>
          </h4>
          <p class="mat-body-1 preserve-white-space" *ngIf="!isEditMode; else rulesFormField">
            {{ seasonMoreData?.rules }}
          </p>
          <ng-template #rulesFormField>
            <mat-form-field class="text-area-field" appearance="outline" color="primary">
              <mat-label>Mention Season Rules</mat-label>
              <textarea matInput formControlName="rules" [maxLength]="rulesLimit"
                placeholder="Mention season rules"></textarea>
              <mat-hint align="end">{{rules?.value?.length}} / {{rulesLimit}}</mat-hint>
              <mat-error *ngIf="rules?.hasError('required')">
                {{messages.error.requiredField}}
              </mat-error>
              <mat-error *ngIf="rules?.hasError('pattern')">
                {{messages.error.notAllowedCharacter}}
              </mat-error>
            </mat-form-field>
          </ng-template>
        </div>
      </form>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px" *ngIf="seasonData?.more?.imgpath">
      <app-photo-uploader [url]="seasonData?.more?.imgpath" actionBtnLabel="{{isSeasonPublished ? 'Change Photo' : ''}}"
        (changeUpload)="onChangeSeasonPhoto($event)">
      </app-photo-uploader>
    </div>
  </div>
</mat-card>
<mat-card class="info-card season-page-container">
  <h4 *ngIf="seasonFixtures.length">Fixtures</h4>
  <span class="mat-caption" *ngIf="!seasonFixtures.length">Fixtures not generated yet!</span>
  <app-fixture-table (statusChange)="onChangeMatchStatus($event)" *ngIf="seasonFixtures.length" [data]="seasonFixtures"
    [displayedCols]="cols"> </app-fixture-table>
</mat-card>
<mat-card class="info-card season-page-container">
  <h4>Gallery</h4>
  <div class="button-container">
    <button [disabled]="!isSeasonPublished" (click)="onAddGallery()" class="buttonText secondaryButton">
      Add Gallery Photos
    </button>
  </div>
</mat-card>
<mat-card class="info-card season-page-container">
  <h4>Tournament Partner(s)</h4>
  <ul fxLayoutAlign="start center" fxLayoutGap="20px">
    <li *ngFor="let partner of partners" [matTooltip]="partner.name">
      <a (click)="onEditPartner(partner.id)">
        <img [src]="partner.imgpath" [alt]="partner.name" appFallbackImg>
      </a>
    </li>
  </ul>
  <div class="button-container">
    <button [disabled]="!isSeasonPublished" (click)="onAddPartner()" class="buttonText secondaryButton">
      Add Partner
    </button>
  </div>
</mat-card>
<mat-card class="info-card">
  <h4>Participants ({{isRestrictedParticipants ? 'Restricted' : 'Open For All'}})</h4>
  <div fxLayout="column">
    <span *ngIf="!seasonParticipants.length" class="mat-caption">
      No Participants yet!
    </span>
    <mat-list *ngIf="seasonParticipants.length">
      <a mat-list-item *ngFor="let participant of seasonParticipants">
        <img matListAvatar [src]="participant.logo" alt="Team Image" appFallbackImg />
        <p matLine fxLayoutAlign="start center" fxLayoutGap="8px">
          <span>{{ participant.name }}</span>
          <mat-chip-list>
            <mat-chip selected>Paid</mat-chip>
          </mat-chip-list>
        </p>
      </a>
    </mat-list>
  </div>
</mat-card>
<div *ngIf="seasonFixtures.length && isSeasonPublished" class="mat-caption trouble-text">
  Have trouble with any match data? Raise a quest to revoke match data immediately. <a (click)="onRaiseRequest()">Click
    here</a>
</div>-->
<div class="trouble-text" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutAlign="center center">
  <button (click)="goToURL()" class="buttonText primaryButton">
    View on Freekyk.com
  </button>
  <!-- <button *ngIf="isShowDeleteSeason" (click)="removeSeason()" class="buttonText noResponseButton">
    Remove season
  </button>
  <button *ngIf="isSeasonPublished" (click)="openCancelSeasonDialog()" class="buttonText noResponseButton">
    Cancel season
  </button> -->
</div>
<app-loading *ngIf="isLoaderShown"></app-loading>