<mat-toolbar
  color="primary"
  class="mat-elevation-z4"
  fxLayoutAlign="start center"
  fxLayoutGap="16px"
>
  <button mat-icon-button mat-dialog-close (click)="onCloseDialog()">
    <mat-icon class="material-icons-round"> close </mat-icon>
  </button>
  <span class="mat-body-1">Secure Checkout</span>
</mat-toolbar>
<div class="container-2">
  <div ngClass.lt-md="dialogData" ngClass.gt-sm="stepdata">
    <mat-horizontal-stepper>
      <mat-step>
        <ng-template matStepLabel>Select Delivery Address</ng-template>
        <p class="mat-body-2 center">Choose from saved address</p>
        <app-saved-address-list></app-saved-address-list>
        <p class="mat-subheading-1 center">OR</p>
        <p class="mat-body-2 center">Add a new Address</p>
        <app-fill-address></app-fill-address>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Complete Payment</ng-template>
        <app-complete-payment
          (paymentComplete)="onCompPayment()"
        ></app-complete-payment>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
