<mat-card class="dashboard-card no-padding-card">
  <div class="title" fxLayoutAlign="space-between center" fxLayout="row">
    <span mat-card-title class="dash-h5 align">My Matches</span>
    <a [routerLink]="['/play', 'fixtures']" *ngIf="!index" class="mat-caption sec-menu">View all fixtures</a>
    <a [routerLink]="['/play', 'results']" *ngIf="index" class="mat-caption sec-menu">View all results</a>
  </div>
  <app-fixtures-results-tabs [matches]="matches"></app-fixtures-results-tabs>
</mat-card>
