<section class="container section-space-top section-space-bottom" fxLayout="column" fxLayoutGap="32px"
  fxLayoutGap.lt-md="20px" fxLayoutAlign="stretch center">
  <h2 class="mat-title center">
    Get started
  </h2>

  <form [formGroup]="authForm" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="stretch center" class="auth-form"
    *ngIf="!otpConfirmation">
    <mat-form-field appearance="standard" color="primary">
      <span class="country-code-prefix" matPrefix>{{prefix}}</span>
      <mat-label>Phone Number</mat-label>
      <input type="tel" autocomplete="number" matInput name="number" formControlName="number"
        placeholder="Enter 10-digit mobile number" />
      <mat-error *ngIf="number?.hasError('pattern') || number?.hasError('maxLength') || number?.hasError('minLength')">
        Please provide a valid number
      </mat-error>
      <mat-error *ngIf="number?.hasError('required')">
        Required field
      </mat-error>
    </mat-form-field>
    <button type="button" [disabled]="authForm.invalid" (click)="signupWithPhoneNumber()"
      class="buttonText primaryButton wb" fxLayoutAlign="center center" fxLayoutGap="8px" fxLayout>
      Continue
    </button>
    <p class="mat-caption terms">
      By continuing, you agree to Freekyk's <a [routerLink]="['/terms']">Terms & Conditions</a> and <a
        [routerLink]="['/privacypolicy']">Privacy Policy</a>.
    </p>
  </form>
  <form [formGroup]="otpForm" *ngIf="otpForm && otpConfirmation">
    <div>
      <span class="dash-h5 otp-title">OTP Verification</span>
    </div>
    <div>
      <span class="mat-caption" *ngIf="number?.value">Verification code sent to ({{prefix}}) {{number?.value}}</span>
    </div>
    <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="space-between center">
      <div *ngFor="let input of formInput;  index as i">
        <mat-form-field appearance="outline" color="primary">
          <input #formRow matInput type="tel" formControlName="{{input}}" class="form-control" maxlength="1"
            (keyup)="keyUpEvent($event, i)">
        </mat-form-field>
      </div>
    </div>
    <button type="submit" [disabled]="otpForm.invalid" (click)="verifyOTP()" id="otp-verify-button"
      class="buttonText primaryButton wb" fxLayoutAlign="center center" fxLayoutGap="8px" fxLayout>
      Verify
    </button>
  </form>
  <div id="phone-signup-button"></div>
  <div *ngIf="otpConfirmation" class="unable-to-signin">
    <mat-divider></mat-divider>
    <span class="mat-body-1"> Unable to signup?</span>
    <a (click)="onNavigateBack()"> Try another way </a>
  </div>
  <ng-container *ngIf="!otpConfirmation">
    <span class="mat-body-1">OR</span>
    <div class="signin-buttons" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="stretch center">
      <button (click)="signupWithGoogle()" class="buttonText secondaryButton wb" fxLayoutAlign="start center"
        fxLayoutGap="8px" fxLayout>
        <img class="iconSize" src="assets/svgs/google.svg" alt="Google Icon" />
        <span> Continue with Google </span>
      </button>
      <button disabled class="buttonText secondaryButton wb" fxLayoutAlign="start center" fxLayoutGap="8px" fxLayout>
        <img class="iconSize" src="../../assets/svgs/facebook.svg" alt="Facebook" appFallbackImg />
        <span> Continue with Facebook </span>
      </button>
    </div>
  </ng-container>
</section>
<app-loading *ngIf="isLoaderShown"></app-loading>