.get-started-container {
  height: calc(100vh - 112px);
  overflow-y: auto;

  .heading {
    margin: 24px 0;
  }

  .description {
    text-align: justify;
  }

  .banner-container {
    max-height: 50%;
    height: 50%;
    overflow: hidden;
    border-radius: 5px;
  }
}

.bottom-points {
  padding: 0 16px 16px;
}