<mat-toolbar color="primary" class="mat-elevation-z4" fxLayoutAlign="start center" fxLayoutGap="16px">
  <button matTooltip="Close" mat-icon-button mat-dialog-close (click)="onCloseDialog()">
    <mat-icon class="material-icons-round"> close </mat-icon>
  </button>
  <span class="mat-body-1">Freekyk Rewards</span>
</mat-toolbar>
<section class="container-reward">
  <div class="get-started-container" *ngIf="!userID">
    <div class="banner-container" fxLayoutAlign="center center">
      <img src="assets/images/reward-banner.png" alt="Reward Banner" appFallbackImg>
    </div>
    <div class="heading">
      <div class="dash-h5 center">
        Earn free gifts and more with <br> Freekyk Rewards
      </div>
    </div>
    <div class="description" [innerHtml]="content">
    </div>
  </div>
  <div class="dialogData my-rewards-container" *ngIf="userID" fxLayout="column" fxLayoutGap="12px">
    <app-reward-activity-list (activityChange)="onCloseDialog()"></app-reward-activity-list>
    <mat-divider></mat-divider>
    <div class="bottom-points">
      <span class="mat-body-1">
        Total Points Earned: <strong>{{points}}</strong>
      </span>
    </div>
  </div>
</section>
<div class="buttons-container" fxLayout="column" fxLayoutGap="12px" *ngIf="!userID">
  <button class="full-button buttonText primaryButton" fxFlex="100%" mat-button
    (click)="signup(); $event.stopPropagation()" fxLayoutAlign="center center" fxLayoutGap="4px">
    <span>
      Join Now
    </span>
  </button>
</div>