// .main-content {
//   height: calc(100vh - 116px);
//   overflow-y: auto;
// }

.main-container {
  position: fixed;
  left: 0;
  top: 56px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 56px;
}

.bottom-nav {
  position: sticky;
  bottom: 0;
  background-color: white;
  width: 100%;
  margin: auto;

  a {
    color: black;
    opacity: 0.5;
    margin: 0 !important;
    width: 84px;
  }
}

.router-link-active {
  opacity: 1 !important;
  font-weight: 600 !important;
  color: var(--primaryColor) !important;
}