<div class="back-button" fxLayoutAlign="start center">
  <button [routerLink]="['/']" mat-button fxLayoutAlign="start center" fxLayoutGap="8px">
    <span class="material-icons-round">chevron_left</span>
    <span>
      Go back
    </span>
  </button>
  <span class="dash-h5 heading">Join Games in your Area</span>
</div>
<section>
  <app-no-items-message *ngIf="noGame" customText="No games for now, but check back later!"></app-no-items-message>
</section>
<section *ngIf="instantMatchesList.length">
  <div>
    <span class="dash-h5 heading">Pickup Games</span>
    <ul class="instant-matches-list">
      <li *ngFor="let item of instantMatchesList">
        <app-game [game]="item"></app-game>
      </li>
    </ul>
  </div>
</section>
<section *ngIf="leaguesList.length">
  <div>
    <span class="dash-h5">Leagues (for captains)</span>
    <ul class="instant-matches-list">
      <li *ngFor="let item of leaguesList">
        <app-game [game]="item"></app-game>
      </li>
    </ul>
  </div>
</section>
<section *ngIf="knockoutGamesList.length">
  <div>
    <span class="dash-h5">Knockouts (for captains)</span>
    <ul class="instant-matches-list">
      <li *ngFor="let item of knockoutGamesList">
        <app-game [game]="item"></app-game>
      </li>
    </ul>
    <app-no-items-message items="knockout matches" *ngIf="!knockoutGamesList.length"></app-no-items-message>
  </div>
</section>

<app-loading *ngIf="isLoaderShown"></app-loading>