<section
  class="container section-space-top section-space-bottom"
  fxLayout="column"
  fxLayout.gt-sm="row"
  fxLayoutAlign="center center"
  fxLayoutGap="8px"
  fxLayoutGap.gt-sm="20px"
>
  <span fxHide.gt-sm="true" class="overline center">Covid-19 precautions</span>
  <h4 fxHide.gt-sm="true" class="mat-subheading-1 center">
    {{ covidContent.heading }}
  </h4>
  <div class="placeholder-rectangle" fxLayoutAlign="center center">
    <img src="assets/svgs/Banner/covid.svg" alt="" />
  </div>
  <div
    fxLayout="column"
    fxLayoutGap="8px"
    fxLayoutAlign.gt-sm="center start"
    fxLayoutAlign.lt-md="center center"
    ngClass.gt-sm="hero-text"
  >
    <span fxHide.lt-md="true" class="overline left">Covid-19 precautions</span>
    <h4 fxHide.lt-md="true" class="mat-subheading-1 left">
      {{ covidContent.heading }}
    </h4>
    <span class="mat-body-1 align">
      {{ covidContent.desc }}
    </span>
    <button
      (click)="onLearnMore('covid')"
      color="primary"
      mat-button
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="8px"
    >
      <span> Read COVID-19 Prevention Measures </span>
      <span class="material-icons-round"> keyboard_arrow_right </span>
    </button>
  </div>
</section>
