<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Knockout">
    <ng-template matTabContent>
      <div class="bracket-container">
        <app-no-items-message *ngIf="!knockoutData" items="knockout brackets"></app-no-items-message>
        <app-knockout-bracket *ngIf="knockoutData" [data]="knockoutData"></app-knockout-bracket>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="League">
    <ng-template matTabContent>
      <app-pl-st-league *ngIf="leagueData" [data]="leagueData"></app-pl-st-league>
    </ng-template>
  </mat-tab>
</mat-tab-group>