<section
  class="section-space-top section-space-bottom"
  fxLayout="column"
  fxLayoutGap="24px"
>
  <div>
    <h4>Academy Location</h4>
    <p class="mat-body-1">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit..
    </p>
  </div>
  <div>
    <h4>Academy Description</h4>
    <p class="mat-body-1">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
      ligula eget dolor. Aenean massa. Cum sociis natoque pena. Lorem ipsum
      dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
      dolor. Aenean massa. Cum sociis natoque pena. Lorem ipsum dolor sit amet,
      consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
      massa. Cum sociis natoque pena.
    </p>
  </div>

  <div fxLayout="column" fxLayoutGap="8px">
    <span class="mat-subheading-1 left"> Academy Social Media </span>

    <div fxLayoutGap="8px" fxLayoutAlign="start center">
      <a
        class="socialIcon"
        (click)="onRedirectSocialMedia('facebook')"
        fxLayoutAlign="center center"
      >
        <img src="../../assets/svgs/facebook.svg" alt="Facebook" />
      </a>
      <a
        class="socialIcon"
        (click)="onRedirectSocialMedia('instagram')"
        fxLayoutAlign="center center"
      >
        <img src="../../assets/svgs/instagram.svg" alt="Instagram" />
      </a>
      <a
        class="socialIcon"
        (click)="onRedirectSocialMedia('youtube')"
        fxLayoutAlign="center center"
      >
        <img src="../../assets/svgs/youtube.svg" alt="Youtube" />
      </a>
      <a
        class="socialIcon"
        (click)="onRedirectSocialMedia('twitter')"
        fxLayoutAlign="center center"
      >
        <img src="../../assets/svgs/twitter.svg" alt="Twitter" />
      </a>
    </div>
  </div>
</section>
