<div class="season-heading">
  <span class="mat-subheading-2">
    {{seasonName}}
  </span>
</div>
<form class="form-container" [formGroup]="matchReportForm">
  <div fxLayout fxLayoutGap.gt-sm="20px" fxLayoutAlign.gt-sm="center center" fxLayoutAlign.lt-md="center stretch"
    fxLayout.lt-md="column">
    <mat-form-field fxFlex="30" appearance="outline" color="primary">
      <mat-label>Enter Match ID</mat-label>
      <input type="text" matInput formControlName="id">
    </mat-form-field>
    <span class="mat-body-2 or-text">OR</span>
    <mat-form-field fxFlex appearance="outline" color="primary">
      <mat-label>Select Match</mat-label>
      <mat-select formControlName="match" panelClass="update-match-report" (selectionChange)="onSelectMatch($event)"
        disableOptionCentering>
        <mat-option [value]="match" *ngFor="let match of matches">
          <app-fixture-basic [fixture]="match"></app-fixture-basic>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- <div fxLayoutGap="20px">
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Enter Match FT Time </mat-label>
        <input type="datetime-local" matInput formControlName="matchEndDate" />
        <mat-error *ngIf="matchReport.get('matchEndDate').errors?.invalidDate">
          Invalid Match End Date
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Home Team Final Score</mat-label>
        <input type="tel" matInput formControlName="homeScore" />
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Away Team Final Score</mat-label>
        <input type="tel" matInput formControlName="awayScore" />
      </mat-form-field>
    </div>
    <div fxLayoutGap="20px">
      <mat-radio-group formControlName="penalties" color="primary" (change)="onSetPenalties($event)"
        aria-label="Select Penalities" fxLayoutGap="8px">
        <span> Penalties after Full Time? </span>
        <mat-radio-button [value]="true">Yes</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
      </mat-radio-group>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Home Team Penalty Score</mat-label>
        <input type="tel" matInput formControlName="pen_resultHome" />
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Away Team Penalty Score</mat-label>
        <input type="tel" matInput formControlName="pen_resultAway" />
      </mat-form-field>
    </div>

    <div fxLayoutGap="20px">
      <span> Add Goalscorer Names (Home) </span>
      <button mat-icon-button [disabled]="!matchReport.get('scorersHome')?.valid" (click)="onAddControl('home')">
        <span class="material-icons-round">add</span>
      </button>
    </div>
    <p class="mat-caption align"></p>
    <div formArrayName="scorersHome" fxLayout="column">
      <div *ngFor="let homeScorers of getFormArray('home'); let i = index" fxLayout="row" fxLayoutGap="20px">
        <mat-form-field fxFlex="<grow>" appearance="outline" color="primary">
          <mat-label>Add Scorer Name</mat-label>
          <input type="text" matInput [formControlName]="i" />
        </mat-form-field>
        <button fxFlexAlign="center" *ngIf="this.matchReport.get('scorersHome')?.value.length >= 1"
          fxLayoutAlign="center center" (click)="onRemoveControl('home', i)" mat-icon-button class="red">
          <mat-icon class="material-icons-round">remove_circle</mat-icon>
        </button>
      </div>
    </div>

    <div fxLayoutGap="20px">
      <span> Add Goalscorer Names (Away) </span>
      <button mat-icon-button [disabled]="!matchReport.get('scorersAway')?.valid" (click)="onAddControl('away')">
        <span class="material-icons-round">add</span>
      </button>
    </div>

    <div formArrayName="scorersAway" fxLayout="column">
      <div *ngFor="let awayScorers of getFormArray('away'); let i = index" fxLayout="row" fxLayoutGap="20px">
        <mat-form-field fxFlex="<grow>" appearance="outline" color="primary">
          <mat-label>Add Scorer Name</mat-label>
          <input type="text" matInput [formControlName]="i" />
        </mat-form-field>
        <button fxFlexAlign="center" *ngIf="this.matchReport.get('scorersAway')?.value.length >= 1"
          fxLayoutAlign="center center" (click)="onRemoveControl('away', i)" mat-icon-button class="red">
          <mat-icon class="material-icons-round">remove_circle</mat-icon>
        </button>
      </div>
    </div>
  </div> -->
</form>
<div class="button-container" fxLayoutAlign="center center" fxLayoutGap="20px" fxLayout.lt-md="column"
  fxLayoutAlign.lt-md="center stretch">
  <button (click)="onSubmit()" [disabled]="matchReportForm.invalid" type="button" class="primaryButton buttonText">
    Confirm & Update
  </button>
</div>
