<!-- intro-section -->
<div class="grey-bg">
  <section class="container product" ngClass.lt-md="section-space-bottom" fxLayout="column" fxLayout.gt-sm="row"
    ngClass.gt-sm="banner" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="space-between center" fxLayoutGap="20px">
    <div (click)="onEnlargePhoto()" fxFlexOrder.gt-sm="2" fxFlexOrder="1" class="bannerPhoto">
      <img [src]="imgPath" [alt]="(prodInfo$ | async)?.name" />
    </div>

    <div fxFlexOrder.gt-sm="1" fxFlexOrder="2" fxLayout="column" fxLayoutAlign="center center"
      fxLayoutAlign.gt-sm="center start" ngClass.gt-sm="banner-text">
      <button fxHide.lt-md="true" [routerLink]="['/equipment']" mat-mini-fab color="primary" class="back-button">
        <mat-icon class="material-icons-round">keyboard_arrow_left</mat-icon>
      </button>
      <div fxLayoutAlign.lt-md="center center" fxLayoutAlign.gt-sm="center start" fxLayout="column">
        <span class="overline align">Football Equipment</span>
        <span class="mat-title align" [ngClass]="{ shine: isLoading, _bar: isLoading, hideText: isLoading }">{{
          (prodInfo$ | async)?.name }}</span>
      </div>

      <p class="mat-body-1 align" [ngClass]="{ shine: isLoading, _bar: isLoading, hideText: isLoading }">
        {{ (prodMoreInfo$ | async)?.desc | textShorten: 100 }}
      </p>
      <div fxLayout.lt-md="column" fxLayoutAlign="center start" fxLayoutGap="16px">
        <button (click)="onAddToCart()" [disabled]="disableButton" class="primaryButton buttonText"
          fxLayoutAlign="center center" fxLayoutGap="8px">
          <span class="material-icons-round">add_shopping_cart</span>
          <span>Add to Cart</span>
        </button>
      </div>
      <div *ngIf="disableButton">
        <span class="mat-caption">
          <a [routerLink]="['/login']"> Login </a> or
          <a [routerLink]="['/signup']"> signup </a>

          to add item to cart
        </span>
      </div>
    </div>
  </section>
</div>
<!-- intro-section -->

<section class="container section-space-top section-space-bottom" fxLayout="column" fxLayoutGap="24px">
  <div>
    <h4>Sizes Available (Select a Size)</h4>
    <mat-chip-list fxLayoutGap="8px" fxLayout fxLayoutAlign="start center">
      <mat-chip (click)="onSelectSize(size)" [selected]="selectedSize == size" class="mat-body-2"
        *ngFor="let size of (prodMoreInfo$ | async)?.size" fxLayoutAlign="center center">
        {{ size }}
      </mat-chip>
    </mat-chip-list>
  </div>
  <div>
    <h4>Product Description</h4>
    <p class="mat-body-1">
      {{ (prodMoreInfo$ | async)?.desc }}
    </p>
  </div>
  <div>
    <h4>Warranty Info</h4>
    <p class="mat-body-1">{{ (prodMoreInfo$ | async)?.warrantyInfo }}</p>
  </div>
  <div>
    <h4>Seller Info</h4>
    <p class="mat-body-1">{{ (prodMoreInfo$ | async)?.seller }}</p>
  </div>
</section>
