.filled {
  color: var(--primaryColor);
}

.fixture {
  height: 56px;
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid var(--grey3);
  border-radius: var(--borderRadiusCard);
  padding: 0 20px;
}

.premiumFixture {
  border: 2px solid var(--premiumServiceColor);
}

.versus {
  height: 40px;
  width: 40px;
}

.round {
  border-radius: 50%;
}

.box {
  border-radius: var(--borderRadiusCard);
}

.team_name {
  width: 200px;
  max-width: 200px;
}

.scoreColor {
  color: white;
}

.score {
  height: 40px;
  width: 40px;
}

@media only screen and (max-width: 359px) {
  .hide {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .versus {
    border-radius: 50%;
    height: 8px;
    width: 8px;
  }

  .team_name {
    width: 80px;
    max-width: 80px;
    overflow: hidden;
  }

  .side-space {
    padding: 0 0px 0 8px !important;
  }

  .score {
    height: 32px;
    width: 32px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 959px) {
  .versus {
    border-radius: 50%;
    height: 8px;
    width: 8px;
  }

  .team_name {
    width: 200px;
    max-width: 200px;
  }

  .side-space {
    padding: 0 0px 0 8px !important;
  }
}

@media only screen and (min-width: 959px) and (max-width: 1279px) {
  .fixture {
    height: 56px;
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .team_name {
    width: 200px;
    max-width: 200px;
  }
}

@media only screen and (min-width: 1279px) {
  .team_name {
    width: 250px;
    max-width: 250px;
  }
}
