.space2 {
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  /* border: 1px solid #000000; */
}
.space {
  margin: 0 8px;
}
mat-chip:hover {
  cursor: pointer;
}
.smallText {
  font-size: 10px;
  font-weight: 300;
  line-height: 14.2px;
}
.completed {
  background-color: var(--green);
  color: white;
}
.unapproved {
  background-color: var(--red);
  color: white;
}
.waiting {
  background-color: var(--yellow);
  color: black;
}
.pending {
  background-color: var(--grey4);
  color: black;
}
.chip {
  height: 100%;
  width: 100%;
  border-radius: var(--borderRadiusCard);
}
