<mat-chip-list [multiple]="false"> </mat-chip-list>
<ng-template #loading>
  <mat-card>
    <mat-grid-list [gutterSize]="gutter" [cols]="cols" rowHeight="72px">
      <mat-grid-tile
        class="shine"
        *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 7, 7, 7, 7, 7, 7]"
      ></mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</ng-template>
<div *ngIf="!isLoading; else loading" class="tricks_box">
  <mat-grid-list [gutterSize]="gutter" [cols]="cols">
    <mat-grid-tile *ngFor="let trick of newTricks" class="trick">
      <mat-chip
        class="chip"
        [matTooltip]="trick.trick_name_sh | titlecase"
        color="primary"
        (click)="onSelect(trick); currentSelection = trick.trickNo"
        [ngClass]="{
          completed: trick.userStatus == 1,
          unapproved: trick.userStatus == 2,
          waiting: trick.userStatus == 3,
          pending: trick.userStatus == 0
        }"
        [selected]="currentSelection === trick.trickNo"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <span class="mat-body-1 space">{{ trick.trickNo }}</span>
        <span class="smallText center space2">{{
          trick.trick_name_sh | titlecase | slice: 0:15
        }}</span>
      </mat-chip>
    </mat-grid-tile>
  </mat-grid-list>
</div>
