<ul>
  <li class="notification mat-elevation-z4" [style.opacity]="notification.read ? '0.6' : '1'"
    *ngFor="let notification of notifications" (click)="onSelectNotification(notification)" fxLayout="column"
    fxLayoutGap="0px" fxLayoutAlign="center">
    <div fxLayoutAlign="space-between center" fxLayout>
      <div fxLayout="column" fxLayoutAlign="center start">
        <span class="mat-body-1"> {{ notification.title }} </span>
        <span fxHide.lt-sm="true" class="sec-menu mat-caption">
          By {{ notification.senderName }}
        </span>
      </div>
      <div fxLayout="column" fxLayoutAlign="center end">
        <a *ngIf="!notification.read" (click)="changeStatus(notification, true); $event.stopPropagation()"
          class="action">
          Mark as Read</a>
        <a *ngIf="notification.read" (click)="changeStatus(notification, false); $event.stopPropagation()"
          class="action">
          Mark as Unread</a>
        <span class="mat-body-2 notif_time">
          {{ notification.date | date: CUSTOM_FORMAT }}
        </span>
      </div>
    </div>
  </li>
</ul>
