<ul>
  <li class="notification mat-elevation-z4" [style.opacity]="notification.read ? '0.6' : '1'"
    *ngFor="let notification of notifications" (click)="onSelectNotification(notification)" fxLayout="column"
    fxLayoutGap="0px" fxLayoutAlign="center">
    <div fxLayoutAlign="space-between center" fxLayout>
      <div fxLayout="column" fxLayoutAlign="center start">
        <span class="mat-body-1"> {{ notification.title }} </span>
        <span fxHide.lt-sm="true" class="sec-menu mat-caption">
          By {{ notification.senderName }}
        </span>
      </div>
      <div fxLayout.lt-md="row-reverse" fxLayout.gt-sm="column" fxLayoutAlign="center end" fxLayoutGap.lt-md="8px"
        fxLayout.gt-sm="0px">
        <a *ngIf="!notification.read" (click)="changeStatus(notification, true); $event.stopPropagation()"
          class="action">
          <span fxHide.gt-sm="true" class="material-icons-round">mark_email_read</span>
          <span fxHide.lt-md="true">Mark as Read</span>
        </a>
        <a *ngIf="notification.read" (click)="changeStatus(notification, false); $event.stopPropagation()"
          class="action">
          <span fxHide.gt-sm="true" class="material-icons-round">mark_as_unread</span>
          <span fxHide.lt-md="true">Mark as Unread</span>
        </a>
        <span class="mat-body-2 notif_time" ngClass.lt-md="mat-caption">
          {{ notification.date | date: CUSTOM_FORMAT }}
        </span>
      </div>
    </div>
  </li>
</ul>
