<div class="cont" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="16px">
  <div class="photo-container" fxFlex.lt-md="250px" fxLayout fxLayoutAlign="center center">
    <img [src]="url" class="preview" alt="Image" id="preview-image" #preview appFallbackImg />
  </div>
  <div class="add-new-button-container" *ngIf="actionBtnLabel">
    <button class="secondaryButton buttonText" (click)="photoInput.click(); $event.stopPropagation()" type="button">
      {{actionBtnLabel}}
    </button>
  </div>
  <input hidden type="file" name="photoInput" [accept]="types" #photoInput (change)="onBrowsePhoto($event, preview)"
    id="file" />

</div>
