<div>
  <app-hero-section
    [useAltLayout]="true"
    imageSource="assets/svgs/Banner/play_banner.svg"
    [description]="mainContent"
    [CTA]="{ name: 'get started', route: '/dashboard/home' }"
  ></app-hero-section>
</div>
<div class="container">
  <nav mat-tab-nav-bar color="primary">
    <a
      mat-tab-link
      *ngFor="let link of playLinks"
      (click)="activeLink = link"
      [routerLink]="[link]"
      [active]="activeLink == link"
    >
      {{ link | titlecase }}
    </a>
  </nav>
</div>
<router-outlet></router-outlet>
