<div>
  <app-hero-section fxHide.lt-md="true" [useAltLayout]="true" imageSource="assets/svgs/Banner/play_banner.svg"
    [description]="mainContent" [CTA]="{ name: 'get started', route: '/dashboard/home' }"></app-hero-section>
</div>
<div class="sub-header-container" appStickyNav [offset]="SCROLL_HEIGHT" panelClass="sticky-sub-header" fxHide.lt-md>
  <nav mat-tab-nav-bar color="primary">
    <a mat-tab-link *ngFor="let link of playLinks" (click)="activeLink = link.value" [routerLink]="[link.value]"
      [active]="activeLink == link.value">
      {{ link.viewValue | titlecase }}
    </a>
  </nav>
</div>
<app-feedback-button fxShow.gt-sm="false"></app-feedback-button>

<app-overlay-buttons></app-overlay-buttons>
<router-outlet></router-outlet>
