<mat-card class="feature-card">
  <img class="play_image" mat-card-image src="assets/svgs/Banner/find_your_team.svg" alt="Freekyk Play Seasons Image">
  <mat-card-content>
    <div fxLayoutAlign="center" fxLayout="column">
      <span class="overline center">Be a part of the football network</span>
      <span class="mat-title center">Freekyk Teams</span>
      <p class="mat-body-1 center description">
        Create your own team or join an existing team to participate in seasons.
      </p>
    </div>
  </mat-card-content>
</mat-card>
<section class="features-section">
  <app-no-items-message *ngIf="!teams.length"></app-no-items-message>
  <app-search-lg searchPlaceholder="Search for a Team" (searchItem)="applyFilter($event)"></app-search-lg>
  <ul>
    <li *ngFor="let team of teams">
      <app-teams-list [team]="team"></app-teams-list>
    </li>
  </ul>
</section>