.notification {
  height: 72px;
  margin: 8px 0;
  width: 100%;
  opacity: 0.8;
  border-radius: var(--borderRadiusCard);
  padding: 8px 12px;
  background-color: white;
}

.notification:hover {
  cursor: pointer;
  opacity: 1;
}

.sec-menu {
  color: var(--grey1);
}

.notif_time {
  color: var(--primaryColor);
}

@media screen and (max-width: 600px) {
  .limit-width {
    max-width: 190px;
    width: 190px;
  }

  .time-width {
    width: 60px;
  }

  .no-left {
    margin-left: 0 !important;
  }
}
