<ul>
  <li class="notification mat-elevation-z4" *ngFor="let notification of notifications"
    (click)="onSelectNotification(notification)" fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="center">
    <div fxLayoutAlign="space-between center" fxLayout>
      <div fxLayout="column" fxLayoutAlign="center start">
        <span class="ellipsis limit-width" ngClass.gt-sm="mat-body-1" ngClass.lt-md="mat-caption"> {{
          formatter?.formatTitle(notification.type) ?
          formatter?.formatTitle(notification.type) : 'NA'
          }}
        </span>
        <span class="ellipsis limit-width sec-menu mat-caption" *ngIf="notification?.senderName">
          By {{ notification?.senderName && notification?.senderName !== 'null' ?
          notification?.senderName :
          ('User#' + (notification.senderID)) }}
        </span>
      </div>
      <div fxLayoutAlign.lt-md="center center" fxLayout.lt-md="row-reverse" fxLayout.gt-sm="column"
        fxLayoutAlign="center end" fxLayoutGap.lt-md="8px" fxLayoutGap.gt-sm="0px">
        <a fxHide.lt-md="true" (click)="changeStatus(notification); $event.stopPropagation()" class="action">
          <ng-container *ngIf="notification.read === 0">
            <span>Mark as Read</span>
          </ng-container>
          <ng-container *ngIf="notification.read === 1">
            <span>Mark as Unread</span>
          </ng-container>
        </a>
        <span fxHide.gt-sm="true" class="no-left material-icons-round">{{notification.read ===
          1?'drafts':'chevron_right'}}</span>
        <span class="mat-body-2 notif_time" ngClass.lt-md="mat-caption time-width">
          {{ notification.date | date: CUSTOM_FORMAT }}
        </span>
      </div>
    </div>
  </li>
</ul>
<app-loading *ngIf="isLoaderShown"></app-loading>
