<div class="table-container" *ngIf="dataSource">
  <table mat-table [dataSource]="dataSource" matSortActive="statistic" matSortDirection="desc" matSort
    class="full-width-table players-table">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Player</th>
      <td mat-cell *matCellDef="let player; let i = index">
        <div fxLayoutAlign="start center" fxLayoutGap="8px">
          <img class="plAvatar" [src]="player.imgpath" [alt]="player.name" loading="lazy" appFallbackImg />
          <span class="mat-body-1 left ellipsis">
            {{ player.name }}
          </span>
          <span class="material-icons-round winner" *ngIf="i === 0">emoji_events</span>
          <span class="mat-body-2" *ngIf="uid && uid === player.id">(You)</span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="statistic">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columnB }} </th>
      <td mat-cell *matCellDef="let player">
        <div fxLayoutAlign="end center" fxLayoutGap="8px">
          <span class="mat-body-1">
            {{player.statistic}}
          </span>
          <span class="material-icons-round">
            chevron_right
          </span>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row class="green-table-header" *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row;columns: displayedColumns" (click)="openPlayerCard(row.id);$event.stopPropagation()"
      class="pointer"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="5">
        <div class="box"></div>
        <app-no-items-message items="players"></app-no-items-message>
      </td>
    </tr>
  </table>
</div>