<div class="fullpad-20 min-height" fxLayout="column" fxLayoutGap="20px">
  <div fxLayoutAlign.gt-sm="start center" fxLayout.lt-md="column">
    <div style="width: 100%" fxLayoutAlign="center center">
      <button
        [disabled]="!additionAvailable"
        (click)="onOpenAddressForm()"
        [ngClass]="{
          secondaryButton: !additionAvailable,
          primaryButton: additionAvailable
        }"
        class="buttonText"
      >
        + Add new Address
      </button>
    </div>
  </div>
  <form
    class="borderMe"
    *ngIf="showForm"
    (ngSubmit)="onSaveAddress()"
    [formGroup]="newAddressForm"
    fxLayout="column"
  >
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Choose Address Name</mat-label>
      <input
        type="text"
        matInput
        placeholder="Ex. Home Address, Work Address"
        name="addr_name"
        formControlName="addr_name"
      />
      <mat-error
        *ngIf="this.newAddressForm.get('addr_name')?.hasError('pattern')"
      >
        Only letters and spaces are allowed!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" color="primary">
      <mat-label>Add Address Line 1</mat-label>
      <input
        type="text"
        matInput
        name="addr_line1"
        formControlName="addr_line1"
      />
      <mat-error
        *ngIf="this.newAddressForm.get('addr_line1')?.hasError('required')"
      >
        This field cannot be empty!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" color="primary">
      <mat-label>Add Address Line 2</mat-label>
      <input
        type="text"
        matInput
        name="addr_line2"
        formControlName="addr_line2"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" color="primary">
      <mat-label>Add Landmark</mat-label>
      <input type="text" matInput name="landmark" formControlName="landmark" />
    </mat-form-field>

    <mat-form-field appearance="outline" color="primary">
      <mat-label>Select State</mat-label>
      <mat-select
        (selectionChange)="onSelectState($event)"
        formControlName="state"
      >
        <mat-option *ngFor="let state of states$ | async" [value]="state">
          {{ state }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="this.newAddressForm.get('state')?.hasError('required')">
        This field cannot be empty!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Select City</mat-label>
      <mat-select formControlName="city">
        <mat-option *ngFor="let city of cities$ | async" [value]="city">
          {{ city }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="this.newAddressForm.get('city')?.hasError('required')">
        This field cannot be empty!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" color="primary">
      <mat-label>Add Pincode</mat-label>
      <input type="tel" matInput name="pincode" formControlName="pincode" />
      <!-- <div [ngSwitch]="newAddressForm.get('pincode')?.hasError('required')">
        <div *ngSwitchCase="expression">output</div>
        <div *ngSwitchDefault>output2</div>
      </div> -->
      <mat-error
        *ngIf="this.newAddressForm.get('pincode')?.hasError('required')"
      >
        This field cannot be empty!
      </mat-error>
      <mat-error
        *ngIf="this.newAddressForm.get('pincode')?.hasError('maxlength')"
        >Invalid Code! Please try again
      </mat-error>
      <mat-error
        *ngIf="this.newAddressForm.get('pincode')?.hasError('minlength')"
      >
        Invalid Code! Please try again
      </mat-error>
      <mat-error
        *ngIf="this.newAddressForm.get('pincode')?.errors?.invalidCode"
      >
        Invalid Code! Please try again
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" color="primary">
      <mat-label>Add Phone Number</mat-label>

      <span matPrefix>+91 &nbsp;</span>
      <input type="tel" matInput name="ph_numb" formControlName="ph_numb" />
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-error
        *ngIf="this.newAddressForm.get('ph_numb')?.hasError('maxlength')"
        >Invalid Number! Please try again
      </mat-error>
      <mat-error
        *ngIf="this.newAddressForm.get('ph_numb')?.hasError('minlength')"
      >
        Invalid Number! Please try again
      </mat-error>
      <mat-error
        *ngIf="this.newAddressForm.get('ph_numb')?.hasError('required')"
      >
        This field cannot be empty!
      </mat-error>
      <mat-error
        *ngIf="this.newAddressForm.get('ph_numb')?.errors?.invalidCode"
      >
        Invalid Number! Please try again
      </mat-error>
    </mat-form-field>

    <div
      fxLayoutAlign.gt-sm="start center"
      fxLayout.lt-md="column"
      fxLayoutGap="16px"
    >
      <button type="submit" class="buttonText primaryButton">
        Save Address
      </button>
      <button (click)="resetAll()" mat-button>Cancel</button>
    </div>
  </form>

  <app-no-items-message
    *ngIf="noSavedAddress"
    items="addresses"
  ></app-no-items-message>
  <!-- saved addresses -->
  <mat-accordion>
    <mat-expansion-panel *ngFor="let address of addr$ | async">
      <mat-expansion-panel-header>
        <span class="mat-caption"> {{ address.addr_name | titlecase }} </span>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div fxLayout="column" fxLayoutGap="16px">
          <div fxLayout="column" fxLayoutGap="8px">
            <span class="overline"> Address Line 1 </span>
            <p class="mat-body-1">{{ address.addr_line1 }}</p>
          </div>
          <div fxLayout="column" fxLayoutGap="8px">
            <span class="overline"> Address Line 2 </span>
            <p class="mat-body-1">{{ address.addr_line2 }}</p>
          </div>
          <div fxLayout="column" fxLayoutGap="8px">
            <span class="overline"> Landmark </span>
            <p class="mat-body-1">{{ address.landmark }}</p>
          </div>
          <div fxLayout="column" fxLayoutGap="8px">
            <span class="overline"> City </span>
            <p class="mat-body-1">{{ address.city }}</p>
          </div>
          <div fxLayout="column" fxLayoutGap="8px">
            <span class="overline"> State </span>
            <p class="mat-body-1">{{ address.state }}</p>
          </div>
          <div fxLayout="column" fxLayoutGap="8px">
            <span class="overline"> Pincode </span>
            <p class="mat-body-1">{{ address.pincode }}</p>
          </div>
          <div fxLayout="column" fxLayoutGap="8px">
            <span class="overline"> Phone Number Associated </span>
            <p class="mat-body-1">{{ address.ph_numb }}</p>
          </div>
          <button (click)="onDeleteAddress(address.id)" mat-icon-button>
            <span class="material-icons-round red center">delete </span>
            <span class="buttonText">Delete Address</span>
          </button>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- saved addresses -->
</div>
