.prof_pic {
  height: 100%;
  width: auto;
  border-radius: 50%;
  overflow: hidden;
  max-height: 32px !important;
  max-width: 32px !important;
}
.margin {
  margin-bottom: 8px;
}
.pointer {
  cursor: pointer;
}
@media only screen and (min-width: 960px) and (max-width: 1279px) {
  .prof_pic {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    overflow: hidden;
  }
  .margin {
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1919px) {
  .prof_pic {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    overflow: hidden;
  }
  .margin {
    margin-bottom: 16px;
  }
}
@media only screen and (min-width: 1920px) and (max-width: 5000px) {
  .prof_pic {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    overflow: hidden;
  }
  .margin {
    margin-bottom: 16px;
  }
}
