<div
  fxLayoutGap="20px"
  fxlayout="row wrap"
  class="section-space-top section-space-bottom"
>
  <h4>All Tickets</h4>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Resolved Tickets</mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-no-items-message
          *ngIf="noResTickets"
          items="resolved tickets"
        ></app-no-items-message>
        <ul>
          <li
            (click)="onSelectTicket(ticket)"
            *ngFor="let ticket of resolvedTickets$ | async"
          >
            <div
              class="ticket"
              fxLayoutAlign="space-between center"
              fxLayoutGap="20px"
            >
              <span>
                Ticket
                <b>#{{ (ticket.ticket_UID | slice: 0:15) + "..." }}</b>
                <i>{{ " by " + ticket.name }}</i>
              </span>
              <span class="mat-body-2 date">
                {{ ticket.tkt_date.toDate() | date: "shortDate" | lowercase }}
              </span>
            </div>
          </li>
        </ul>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Unresolved Tickets
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-no-items-message
          *ngIf="noUnResTickets"
          items="unresolved tickets"
        ></app-no-items-message>
        <ul>
          <li
            (click)="onSelectTicket(ticket)"
            *ngFor="let ticket of unresolvedTickets$ | async"
          >
            <div
              class="ticket"
              fxLayoutAlign="space-between center"
              fxLayoutGap="20px"
            >
              <span
                >Ticket #{{ (ticket.ticket_UID | slice: 0:15) + "..." }}
                {{ " by " + ticket.name }}
              </span>
              <span class="mat-body-2 date">
                {{ ticket.tkt_date.toDate() | date: "short" | lowercase }}
              </span>
            </div>
          </li>
        </ul>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
