<app-feedback-button fxShow.gt-sm="false"></app-feedback-button>

<app-overlay-buttons></app-overlay-buttons>

<div class="banner-container">
  <img src="assets/svgs/Banner/main_banner.svg" alt="Freekyk Banner Image">
</div>

<section class="banner-text" fxLayout="column" fxLayoutGap="12px">
  <span class="overline center">#YahaKhelSakteHain</span>
  <span class="mat-title ">
    Join India's Largest Football Network
  </span>
  <span class="mat-body-1 ">
    Love football but don't know where to play and with whom to play?<br>
    Sign up and participate NOW!
  </span>
</section>

<section>
  <app-why-choose-section [content]="whyChoose"></app-why-choose-section>
  <app-action-strip elementSpacing="space-between center" [compact]="true"></app-action-strip>
</section>

<section class="features-section">
  <h4 class="mat-subheading-1 align">What we offer?</h4>
  <app-feature-section [data]="playData"></app-feature-section>
  <app-feature-section [data]="freestyleData"></app-feature-section>
  <app-feature-section [data]="equipmentData"></app-feature-section>
  <app-feature-section [data]="academiesData"></app-feature-section>
</section>

<section>
  <app-community-numbers-section [content]="communityNumbersContent"></app-community-numbers-section>
</section>
