.screenshot {
  height: 640px;
  width: 100%;
  background-color: white;
  border: 1px solid black;
  border-radius: var(--borderRadiusCard);
}

.what-we-offer {
  height: 82px;
  width: 100%;

  @media screen and (max-width: 959px) {
    height: 42px;
  }
}

.mat-subheading-1 {
  margin-bottom: 0px !important;
}

.slider-container {
  height: 210px;
  width: 100%;
  margin-top: 20px;
}

@media only screen and (min-width: 960px) and (max-width: 1279px) {
  .screenshot {
    height: 500px;
  }
}

@media only screen and (max-width: 959px) {
  .screenshot {
    height: 360px;
  }

  .slider-container {
    height: 150px;
  }
}

@media only screen and (min-width: 599px) {
  .slider-container {
    height: 310px;
    width: 100%;
    margin-top: 20px;
  }
}

.floating-button-container {
  width: 100%;
  z-index: 99;

  .floating-CTA {
    border-color: white !important;
    position: fixed;
    bottom: 20px;
  }

  .floating-live {
    border-color: white !important;
    position: fixed;
    bottom: 20px;
    right: 10%;
  }

  .live-season {
    background-color: white !important;

    span {
      color: var(--red) !important;
    }
  }
}

.mat-subheading-1 {
  margin-bottom: 0 !important;
}

.align {
  margin: 0 16px;
}
