<h4>Share on social media</h4>
<mat-nav-list>
  <mat-list-item>
    <button mat-icon-button (click)="onCopyLink(data.share_url)">
      <div class="iconSize" fxLayoutAlign="start center">
        <mat-icon class="icon material-icons-round"> content_copy </mat-icon>
        <span class="mat-body-1">
          {{ "Copy share link " }}
        </span>
      </div>
    </button>
  </mat-list-item>
  <mat-list-item *ngFor="let social of socials">
    <button mat-icon-button [shareButton]="social" [url]="data.share_url" [title]="data.share_title"
      [description]="data.share_desc" [image]="data.share_imgpath">
      <div class="iconSize" fxLayoutAlign="start center">
        <img class="icon" [src]="'assets/svgs/' + social + '.svg'" [alt]="social" />
        <span class="mat-body-1">
          {{ social | titlecase }}
        </span>
      </div>
    </button>
  </mat-list-item>
</mat-nav-list>
