<mat-card class="dashboard-card mat-elevation-z8">
  <span mat-card-title class="dash-h5">My Team</span>
  <div class="stats-container" fxLayout="row wrap">
    <div class="statistic" fxFlex="50%" *ngFor="let option of options" fxLayout="row" fxLayoutGap="8px"
      fxLayoutAlign="center center">
      <a fxLayout="column" fxLayoutAlign="center center" (click)="onOpenOption(option.value)">
        <span class="material-icons-round">{{option.icon}} </span>
        <span class="mat-body-1">{{option.value}} </span>
      </a>
    </div>
  </div>
</mat-card>
