<div fxLayout="column">
  <div class="container section-space-top section-space-bottom">
    <mat-card class="border">
      <mat-card-content
        fxLayoutGap="20px"
        fxLayout="row"
        fxLayout.lt-md="column"
        fxLayoutAlign="center center"
      >
        <span class="mat-subheading-1">Rate this academy!</span>
        <div fxLayout="row">
          <span
            *ngFor="let star of stars; let i = index"
            class="material-icons-round defaultStar"
            (click)="isSelected = star; disabletButton = false"
            (mouseenter)="isHovered = star"
            (mouseleave)="isHovered = -1"
            [ngClass]="{ star: isSelected >= i || isHovered >= i }"
          >
            star_rate
          </span>
        </div>
        <button
          [disabled]="disabletButton"
          (click)="onSubmitReview()"
          class="buttonText secondaryButton"
        >
          Submit
        </button>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-list>
    <mat-list-item *ngFor="let review of [1, 2, 3, 4, 5, 6]; last as last">
      <div matLine fxLayoutAlign="space-between center">
        <span class="mat-body-1"> Reviewer Name </span>
        <div fxLayout="row nowrap">
          <span class="star material-icons-round"> star_rate </span>
          <span class="star material-icons-round"> star_rate </span>
          <span class="star material-icons-round"> star_rate </span>
          <span class="star material-icons-round"> star_rate </span>
          <span class="star material-icons-round"> star_rate </span>
        </div>
      </div>
      <div matLine>
        <span class="mat-caption"> {{ getDate() | date: "short" }} </span>
      </div>

      <mat-divider *ngIf="!last"></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
