<mat-toolbar
  color="primary"
  class="mat-elevation-z4"
  fxLayoutAlign="start center"
  fxLayoutGap="16px"
>
  <button mat-icon-button mat-dialog-close (click)="onCloseDialog()">
    <mat-icon class="material-icons-round"> close </mat-icon>
  </button>
  <span class="mat-body-1">Team Settings</span>
</mat-toolbar>
<div class="container-2">
  <div class="dialogData seperator">
    <p class="mat-body-1">Team Info</p>
    <form
      [formGroup]="TeamInfoForm"
      (ngSubmit)="onSubmitTeamInfo()"
      fxLayout="column"
    >
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Add Team Name</mat-label>
        <input type="text" matInput name="t_name" formControlName="t_name" />
        <mat-error *ngIf="TeamInfoForm.get('t_name').hasError('pattern')"
          >Only letters and numebrs are allowed!</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Add Team Slogan</mat-label>
        <input
          type="text"
          matInput
          name="t_slogan"
          formControlName="t_slogan"
        />
        <mat-error *ngIf="TeamInfoForm.get('t_slogan').hasError('pattern')">
          Certain characters aren't allowed!
        </mat-error>
        <mat-error *ngIf="TeamInfoForm.get('t_slogan').hasError('maxlength')">
          Only 300 characters are allowed!
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Add Team Description</mat-label>
        <textarea name="t_desc" formControlName="t_desc" matInput></textarea>
        <mat-error *ngIf="TeamInfoForm.get('t_desc').hasError('pattern')">
          Certain characters aren't allowed!
        </mat-error>
        <mat-error *ngIf="TeamInfoForm.get('t_desc').hasError('maxlength')">
          Only 300 characters are allowed!
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Select Team Location City</mat-label>
        <mat-select formControlName="t_LocCity">
          <mat-option *ngFor="let city of cities" [value]="city">
            {{ city }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Select Team Location State</mat-label>
        <mat-select formControlName="t_LocState">
          <mat-option *ngFor="let state of states" [value]="state">
            {{ state }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div
        fxLayout="column"
        fxLayoutGap="8px"
        fxLayoutAlign.gt-sm="center center"
      >
        <button
          class="primaryButton buttonText"
          [disabled]="!TeamInfoForm.valid || !TeamInfoForm.dirty"
          type="submit"
        >
          Save Changes
        </button>
      </div>
    </form>

    <mat-divider></mat-divider>
    <div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="stretch center">
      <button
        type="button"
        (click)="fileInputImage.click()"
        class="buttonText secondaryButton"
      >
        Upload Team Photo
      </button>
      <input
        hidden
        type="file"
        name="fileInput1"
        accept="image/*"
        #fileInputImage
        (change)="onChooseTeamImage($event)"
        id="file1"
      />
      <button
        type="button"
        (click)="fileInputLogo.click()"
        class="buttonText secondaryButton"
      >
        Upload Team Logo
      </button>
      <input
        hidden
        type="file"
        name="fileInput2"
        accept="image/*"
        #fileInputLogo
        (change)="onChooseTeamLogoImage($event)"
        id="file2"
      />
      <button
        [disabled]="!file1Selected || !file2Selected"
        (click)="onSaveImages()"
        class="primaryButton buttonText"
        type="submit"
      >
        Save Changes
      </button>
    </div>
    <mat-divider></mat-divider>

    <p class="mat-body-1 top_padding">Team Social Media Links</p>
    <form
      [formGroup]="socialInfoForm"
      (ngSubmit)="onSubmitTeamSocial()"
      fxLayout="column"
    >
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Add Facebook Profile Link</mat-label>
        <input type="text" matInput name="fb" formControlName="fb" />
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Add Instagram Profile Link</mat-label>
        <input type="text" matInput name="ig" formControlName="ig" />
      </mat-form-field>

      <mat-form-field appearance="outline" color="primary">
        <mat-label>Add Twitter Profile Link</mat-label>
        <input type="text" matInput name="tw" formControlName="tw" />
      </mat-form-field>

      <mat-form-field appearance="outline" color="primary">
        <mat-label>Add Youtube Profile Link</mat-label>
        <input type="text" matInput name="yt" formControlName="yt" />
      </mat-form-field>
      <div fxLayoutAlign.gt-sm="center center" fxLayout.lt-md="column">
        <button
          [disabled]="!socialInfoForm.valid && !socialInfoForm.dirty"
          class="primaryButton buttonText"
          type="submit"
        >
          Save Changes
        </button>
      </div>
    </form>
  </div>
</div>
