<mat-toolbar color="primary" class="mat-elevation-z4" fxLayoutAlign="start center" fxLayoutGap="16px">
  <button matTooltip="Close" mat-icon-button mat-dialog-close (click)="onCloseDialog()">
    <mat-icon class="material-icons-round"> close </mat-icon>
  </button>
  <span class="mat-body-1">Team Settings</span>
</mat-toolbar>
<div class="container-2">
  <div class="dialogData seperator">
    <p class="dash-h5 align">Team Info</p>
    <form [formGroup]="teamInfoForm" (ngSubmit)="onSubmitTeamInfo()" fxLayout="column">
      <!-- <mat-form-field appearance="outline" color="primary">
        <mat-label>Add Team Name</mat-label>
        <input type="text" matInput name="t_name" formControlName="t_name" />
        <mat-error *ngIf="teamInfoForm.get('t_name').hasError('pattern')">Only letters and numbers are allowed!
        </mat-error>
      </mat-form-field> -->
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Add Team Slogan</mat-label>
        <input type="text" matInput name="tslogan" formControlName="tslogan" />
        <mat-hint align="end">{{tslogan?.value?.length}} / {{sloganLimit}}</mat-hint>
        <mat-error *ngIf="tslogan?.hasError('pattern')">
          Certain characters aren't allowed!
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Add Team Description</mat-label>
        <textarea name="tdesc" formControlName="tdesc" matInput></textarea>
        <mat-hint align="end">{{tdesc?.value?.length}} / {{descriptionLimit}}</mat-hint>
        <mat-error *ngIf="tdesc?.hasError('pattern')">
          Certain characters aren't allowed!
        </mat-error>
      </mat-form-field>
      <div formGroupName="location" fxLayout.lt-md="column" fxLayoutGap="20px">
        <mat-form-field appearance="outline" color="primary" fxFlex.gt-sm="50%">
          <mat-label>Add Team State</mat-label>
          <mat-select (selectionChange)="onSelectState($event.value)" formControlName="locState">
            <mat-option>--Select State--</mat-option>
            <mat-option *ngFor="let state of states$ | async" [value]="state">
              {{ state }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primary" fxFlex="auto">
          <mat-label>Add Team City</mat-label>
          <mat-select formControlName="locCity">
            <mat-option>--Select City--</mat-option>
            <mat-option *ngFor="let city of cities$ | async" [value]="city">
              {{ city }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <p class="dash-h5 align">Team Social Media</p>
      <div [formGroup]="socialInfoForm" fxLayout="column">
        <mat-form-field color="primary">
          <span matPrefix>{{ ig }}</span>
          <input type="text" matInput name="ig" formControlName="ig" />
        </mat-form-field>
        <mat-form-field color="primary">
          <span matPrefix>{{ fb }}</span>
          <input type="text" matInput name="fb" formControlName="fb" />
        </mat-form-field>

        <mat-form-field color="primary">
          <span matPrefix>{{ tw }}</span>
          <input type="text" matInput name="tw" formControlName="tw" />
        </mat-form-field>

        <mat-form-field color="primary">
          <span matPrefix>{{ yt }}</span>
          <input type="text" matInput name="yt" formControlName="yt" />
        </mat-form-field>
        <div fxLayoutAlign.gt-sm="center center" fxLayout.lt-md="column">
          <button [disabled]="!teamInfoForm.valid && !teamInfoForm.dirty" class="primaryButton buttonText" type="button"
            (click)="onSubmitTeamInfo()">
            Save Changes
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
