<mat-toolbar color="primary" class="mat-elevation-z4" fxLayoutAlign="start center" fxLayoutGap="16px">
  <button matTooltip="Close" mat-icon-button mat-dialog-close (click)="onCloseDialog()">
    <mat-icon class="material-icons-round"> close </mat-icon>
  </button>
  <span class="mat-body-1">Feedback</span>
</mat-toolbar>
<div class="feedback-container container-2" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
  <ng-container>
    <div *ngIf="showCompletion" class="dialogData" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
      <app-tick-animation></app-tick-animation>
      <span class="mat-caption">
        Thank you for your valuable feedback!
      </span>
    </div>
  </ng-container>
  <form *ngIf="!showCompletion" [formGroup]="feedbackForm" class="dialogData" fxLayout="column"
    fxLayoutAlign="space-evenly center" fxLayoutGap="36px">
    <ng-container>
      <!-- brand logo -->
      <span class="logo" fxLayoutAlign="center center">
        <img src="assets/images/brand_logo_2.png" alt="Freekyk Logo" />
      </span>
      <!-- brand logo -->
      <span class="mat-body-2">Overall, how is your Freekyk.com experience today? (*)</span>
      <div class="rating-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <mat-chip-list [multiple]="false" class="rating-container">
          <mat-chip color="primary" (click)="onSelectRating(rating)"
            [selected]="feedbackForm?.get('rating')?.value === rating" class="rating-box"
            *ngFor="let rating of ratingNumbers">{{rating}}</mat-chip>
        </mat-chip-list>
        <div class="text" fxLayoutAlign="space-between center">
          <span class="material-icons"> sentiment_very_dissatisfied </span>
          <span class="material-icons"> sentiment_very_satisfied </span>
        </div>
      </div>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>What can we do to improve your experience?</mat-label>
        <textarea placeholder="Please tell us more about the reason for your score." rows="6" type="text" matInput
          name="message" formControlName="message"></textarea>
        <mat-hint align="end">{{feedbackForm?.get('message')?.value?.length}} / {{feedbackLimit}}</mat-hint>
        <mat-error *ngIf="feedbackForm?.get('message')?.hasError('pattern')">
          {{messages.error.notAllowedCharacter}}
        </mat-error>
      </mat-form-field>
      <div class="submit-button-container" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end center">
        <button type="button" class="buttonText secondaryButton" (click)="onCloseDialog()">Close</button>
        <button type="button" class="buttonText primaryButton" (click)="submitFeedback()"
          [disabled]="isSubmitDisabled">Submit</button>
      </div>
    </ng-container>
  </form>
</div>
