section {
  padding: 0 10px;
  margin-top: 16px;
}

.small-icon {
  font-size: 20px;
}

.match-time {
  margin-bottom: 20px !important;
}

.team-container {
  width: 100%;

  .team {

    .team-title {
      width: 100%;
      display: block;
      margin-bottom: 12px;
    }

    ul li {
      width: 100%;
      margin-bottom: 12px;

      button {
        width: 100%;
      }
    }
  }
}

.waiting-list-container {
  width: 100%;
  margin-bottom: 16px;
  margin-left: auto;
  text-align: end;

  span {
    margin-right: 17px;
  }
}

.last-section {
  height: 200px;
}