section {
  padding: 0 10px;
  margin-top: 16px;
}

.small-icon {
  font-size: 20px;
}

.match-time {
  margin-bottom: 12px !important;
}

.team-container {
  width: 100%;

  .team-names-container {
    width: 100%;

    .team-title {
      display: block;
      margin-bottom: 12px;

      &--first {
        margin-left: 40px;
      }

      &--second {
        margin-right: 40px;
      }
    }
  }

  .team {
    .list-container {
      width: 100%;
      margin-bottom: 16px;

      .button-slot {
        margin-bottom: 16px;
        margin-right: 0 !important;
        width: 47%;

        .user-booked {
          border: 2px solid var(--premiumServiceColor);
        }

        button.mat-raised-button {
          width: 100%;
          height: 42px;
          padding: 0 !important;
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: flex-start;

          .filled {
            font-size: 16px;
          }
        }
      }

      .button-slot:nth-child(odd) {
        margin-right: 0 !important;
      }
    }
  }
}

.waiting-list-container {
  width: 100%;
  margin-bottom: 16px;
  margin-left: auto;
  text-align: end;

  span {
    margin-right: 17px;
  }
}

.need-help-message {
  width: 100%;
  height: 56px;
}

.content-container {
  height: calc(100vh - 200px);
  overflow-y: auto;
}

mat-chip-list {
  margin-top: 12px;
}

.slots-remaining {
  margin-left: auto;
}