<section class="container grey-bg">
  <div class="name">
    <span class="mat-body-1">
      Hello, <span class="mat-body-2">{{ playerName }}!</span>
    </span>
  </div>
  <ul class="shortcuts">
    <li class="shortcut" *ngFor="let shortcut of actionShortcutDataRow_1">
      <app-action-shortcut-button (actionClick)="selectAction($event)" [data]="shortcut"></app-action-shortcut-button>
    </li>
  </ul>
  <ul class="shortcuts shortcuts_last">
    <li class="shortcut" *ngFor="let shortcut of actionShortcutDataRow_2">
      <app-action-shortcut-button (actionClick)="selectAction($event)" [data]="shortcut"></app-action-shortcut-button>
    </li>
  </ul>
  <div class="quick-links">
    <span class="dash-h5">
      Quick Links
    </span>
    <mat-chip-list>
      <mat-chip *ngFor="let link of quickLinks" [routerLink]="[link.value]">
        <span class="mat-caption">{{link.viewValue}}</span>
      </mat-chip>
    </mat-chip-list>
  </div>
</section>
<app-why-choose-section [content]="howItWorks"></app-why-choose-section>