._order {
  width: 100%;
  background-color: white;
  border-radius: var(--borderRadiusCard);
  padding: 16px;
}
._bar {
  height: 72px;
  width: 100%;
}
.min-height {
  min-height: 100vh;
}
.touchfull {
  height: 100%;
  width: 64px;
}
.product_image > img {
  height: 100%;
  width: auto;
  object-fit: contain;
}
.product_image {
  height: 120px;
  min-width: 100px;
  background-color: black;
  border-radius: 10px 0px 0px 10px;
  overflow: hidden;
}
.cart_item {
  border-radius: 8px;
  padding: 0;
  background-color: white;
  color: black;
  height: 120px;
}
