<div class="cards-container" fxLayout.lt-md="column" fxLayout="row wrap" fxLayoutGap.lt-md="20px"
  fxLayoutGap.gt-sm="20px">

  <div class="shortcuts" fxLayoutGap="12px" fxLayout="column" fxFlex.gt-sm="100%"
    *ngIf="joinShortcutData || teamSettingsShortcutData">

    <app-action-shortcut-button *ngIf="joinShortcutData" [data]="joinShortcutData"
      (actionTrigger)="openJoinTeam()"></app-action-shortcut-button>
    <app-action-shortcut-button *ngIf="teamSettingsShortcutData" [data]="teamSettingsShortcutData"
      (actionTrigger)="openTeamSettings()"></app-action-shortcut-button>
  </div>

  <app-team-members></app-team-members>

  <app-my-stats-card [data]="teamStats" label="My Team Statistics"></app-my-stats-card>

  <app-action-shortcut-button *ngIf="teamGalleryShortcutData" [data]="teamGalleryShortcutData"
    (actionTrigger)="openTeamGallery()"></app-action-shortcut-button>

  <app-team-communication></app-team-communication>
</div>




<!-- <div fxLayoutGap="20px" fxLayout="column">
  <div *ngIf="showMobile && isLoading" class="_fixture" fxLayout="column" fxLayoutGap="16px">
    <span class="_button shine" *ngFor="let fixt of [1, 2, 3, 4]"></span>
  </div>

  <div *ngIf="showMobile" fxLayout="column" fxLayoutGap="8px">

    <button *ngIf="noTeam" (click)="joinTeam()" class="wide-button" fxLayout fxLayoutAlign="space-between center">
      <div class="b-name" fxLayout fxLayoutGap="20px" fxLayoutGap.lt-sm="4px">
        <span class="material-icons-round">add_circle</span>
        <span class="mat-body-1"> Join a Freekyk Team </span>
      </div>

      <span class="material-icons-round"> keyboard_arrow_right </span>
    </button>

    <button *ngIf="noTeam" (click)="createTeam()" class="wide-button" fxLayout fxLayoutAlign="space-between center">
      <div class="b-name" fxLayout fxLayoutGap="20px" fxLayoutAlign="start center" fxLayoutGap.lt-sm="4px">
        <span class="material-icons-round">edit</span>
        <span class="mat-body-1 left"> Create a new Team </span>
      </div>

      <span class="material-icons-round"> keyboard_arrow_right </span>
    </button>

  </div>

  <app-da-te-profile></app-da-te-profile>

  <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="20px">
    <div fxFlex.gt-sm="50%" fxLayoutGap="20px" fxLayout="column">
      <app-da-te-members></app-da-te-members>
    </div>

    <div fxLayoutGap="20px" fxFlex.gt-sm="<grow>" fxLayout="column">
      <div fxFlex="nogrow">
        <app-da-te-stats></app-da-te-stats>
      </div>

      <div fxFlex="nogrow">
        <app-da-te-gallery></app-da-te-gallery>
      </div>
    </div>
  </div>

  <app-da-te-communication></app-da-te-communication>

  <div *ngIf="showMobile" fxLayout="column" fxLayoutGap="8px">
    <button [routerLink]="['/support']" class="wide-button" fxLayout fxLayoutAlign="space-between center">
      <div class="b-name" fxLayout fxLayoutGap="20px" fxLayoutGap.lt-sm="4px">
        <span class="material-icons-round">live_help</span>
        <span class="mat-body-1"> Need help? Raise a ticket </span>
      </div>

      <span class="material-icons-round"> keyboard_arrow_right </span>
    </button>
  </div>
</div> -->
