<div fxLayout="column" class="back-button">
  <button [routerLink]="['/dashboard/home']" class="buttonText secondaryButton" fxLayoutAlign="center center"
    fxLayoutGap="8px">
    <span class="material-icons-round">chevron_left</span>
    <span>
      Go to Dashboard
    </span>
  </button>
</div>
<div class="cards-container" fxLayout.lt-md="column" fxLayout="row wrap" fxLayoutGap.lt-md="20px"
  fxLayoutGap.gt-sm="20px">

  <div class="shortcuts" fxLayoutGap="12px" fxLayout="column" fxFlex.gt-sm="100%"
    *ngIf="joinShortcutData || teamSettingsShortcutData">

    <!-- <app-action-shortcut-button *ngIf="joinShortcutData" [data]="joinShortcutData"
      (actionTrigger)="openJoinTeam()"></app-action-shortcut-button>
    <app-action-shortcut-button *ngIf="teamSettingsShortcutData" [data]="teamSettingsShortcutData"
      (actionTrigger)="openTeamSettings()"></app-action-shortcut-button> -->
  </div>

  <app-team-members></app-team-members>

  <app-my-stats-card [data]="teamStats" *ngIf="teamStats" label="My Team Statistics"></app-my-stats-card>

  <app-action-shortcut-button *ngIf="teamGalleryShortcutData" [data]="teamGalleryShortcutData"
    (actionTrigger)="openTeamGallery()"></app-action-shortcut-button>
  <div id="communication"> </div>
  <app-team-communication></app-team-communication>
</div>

<app-loading *ngIf="isLoaderShown"></app-loading>