.bg {
  background-color: white;
  height: 600px;
}
.mat-card {
  border-radius: var(--dashCardBorder);
  overflow: hidden;
}
.sec-menu {
  color: var(--grey1);
}
mat-tab-group {
  max-height: 850px;
}
.space-top {
  margin-top: 20px;
}
.stats-card {
  min-height: 250px;
  height: 350px;
}
.normal {
  margin: 0 16px;
  border-radius: var(--borderRadiusCard);
}
.activityCard {
  border: none;
  box-shadow: none;
}
.name {
  margin: 4px;
}
