.mat-column-freestyler {
  width: 50%;
  text-align: left;
}
.mat-column-country {
  width: 100px;
  text-align: left;
}
.mat-column-rank,
.mat-column-nickname,
.mat-column-pts {
  width: 45px !important;
  text-align: center !important;
}
.points {
  font-weight: 700;
  font-family: "Open Sans";
  font-size: 15px;
}
.fsAvatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  overflow: hidden;
}
@media only screen and (max-width: 959px) {
  .points {
    font-weight: 600;
    font-family: "Open Sans";
    font-size: 15px;
  }
}
