<div class="head" fxLayoutAlign="space-between center">
  <span class="mat-subheading-1">Share on social media</span>
  <a class="material-icons-round" mat-dialog-close (click)="onCloseDialog()">
    close
  </a>
</div>
<div fxLayout="row wrap" class="socialShare" fxLayoutGap="16px">
  <a (click)="onCopyLink(url + data.share_url)" [matTooltip]="'Copy share link'" fxLayoutAlign="center center">
    <mat-icon class="material-icons-round">content_copy</mat-icon>
  </a>
  <a [matTooltip]="'Share on facebook'" shareButton="facebook" [url]="url + data.url" [description]="data.share_desc"
    [title]="data.share_title" [image]="imageUrl" fxLayoutAlign="center center">
    <img src="assets/svgs/facebook.svg" alt="facebook share" appFallbackImg />
  </a>
  <a [matTooltip]="'Tweet on twitter'" shareButton="twitter" [url]="url + data.url" [description]="data.share_desc"
    [title]="data.share_title" [image]="imageUrl" fxLayoutAlign="center center">
    <img src="assets/svgs/twitter.svg" alt="twitter share" appFallbackImg />
  </a>
  <!-- <a [matTooltip]="'Post on linkedin'" shareButton="linkedin" [url]="url + data.share_url"
    [description]="data.share_desc" [title]="data.share_title" [image]="imageUrl" fxLayoutAlign="center center">
    <img src="assets/svgs/linkedin.svg" alt="linkedin share" appFallbackImg/>
  </a> -->
  <a [matTooltip]="'Message on whatsapp'" shareButton="whatsapp" [url]="url + data.url" [description]="data.share_desc"
    [title]="data.share_title" [image]="imageUrl" fxLayoutAlign="center center">
    <img src="assets/svgs/whatsapp.svg" alt="whatsapp share" appFallbackImg />
  </a>
  <!-- <a [matTooltip]="'Pit it on pinterest'" shareButton="pinterest" [url]="url + data.share_url"
    [description]="data.share_desc" [title]="data.share_title" [image]="imageUrl" fxLayoutAlign="center center">
    <img src="assets/svgs/pinterest.svg" alt="pinterest share" appFallbackImg/>
  </a> -->
</div>
