<div class="head" fxLayoutAlign="space-between center">
  <span class="mat-subheading-1">Share this on social media</span>
  <a class="material-icons-round" mat-dialog-close (click)="onCloseDialog()">
    close
  </a>
</div>
<div fxLayout="row wrap" class="socialShare" fxLayoutGap="16px">
  <a (click)="onCopyLink(data.share_url)" [matTooltip]="'Copy share link'" fxLayoutAlign="center center">
    <mat-icon class="material-icons-round">content_copy</mat-icon>
  </a>
  <a [matTooltip]="'Share on facebook'" shareButton="facebook" [url]="data.share_url" [description]="data.share_desc"
    [title]="data.share_title" [image]="data.share_imgpath" fxLayoutAlign="center center">
    <img src="assets/svgs/facebook.svg" alt="facebook share" />
  </a>
  <a [matTooltip]="'Tweet on twitter'" shareButton="twitter" fxLayoutAlign="center center">
    <img src="assets/svgs/twitter.svg" alt="twitter share" />
  </a>
  <a [matTooltip]="'Post on linkedin'" shareButton="linkedin" fxLayoutAlign="center center">
    <img src="assets/svgs/linkedin.svg" alt="linkedin share" />
  </a>
  <a [matTooltip]="'Message on whatsapp'" shareButton="whatsapp" fxLayoutAlign="center center">
    <img src="assets/svgs/whatsapp.svg" alt="whatsapp share" />
  </a>
  <a [matTooltip]="'Pit it on pinterest'" shareButton="pinterest" fxLayoutAlign="center center">
    <img src="assets/svgs/pinterest.svg" alt="pinterest share" />
  </a>
</div>
