input,
textarea {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

.input-group {
  width: 100%;
  clear: both;
  margin: 15px auto;
  position: relative;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}

.input-group .quantity-field {
  position: relative;
  height: 38px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 13px;
  resize: vertical;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}