.spacy {
  margin: 8px 0 16px 0;
  width: 100%;
}

.form {
  margin: 20px 0;
}
.form-p {
  height: 459px;
}
.form-pl {
  height: 1149px;
}
.form-fr {
  height: 600px;
}
.form-sm {
  height: 400px;
}
.red {
  color: var(--red);
}
.ng-dirty .mat-input-element {
  opacity: 1 !important;
}
.ng-untouched .mat-input-element,
.ng-touched .mat-input-element {
  opacity: 0.5;
}
