.spacy {
  margin: 8px 0 16px 0;
  width: 100%;
}

.form {
  margin: 10px 0 20px;
}

.red {
  color: var(--red);
}

.green {
  color: var(--primaryLightColor);
}

.ng-dirty .mat-input-element {
  opacity: 1 !important;
}

// .ng-untouched .mat-input-element,
// .ng-touched .mat-input-element {
//   opacity: 0.5;
// }
.center-button {
  max-width: 32px;
  max-height: 32px;
  padding-bottom: 20px !important;
}

.smaller-caption {
  font-style: italic;
  color: var(--grey2);
}

.yt {
  margin-left: 4px;
  height: 24px;
  width: 24px;
}

.top-line {
  margin-bottom: 12px !important;
  margin-top: 12px !important;
}

.clubbed-fields {
  width: 100%;
}

.mat-form-field-infix {
  width: 100%;
}

.photo-container {
  height: 200px;

  img {
    height: 100%;
    width: auto;
    object-fit: contain;
  }
}

.photo_container {
  overflow: hidden;
  border-radius: var(--borderRadiusCard);
  width: 300px;
  height: 400px;
  max-width: 360px;
  max-height: 400px;
  background-color: var(--grey4);
  min-height: 100px;

  .profile-photo-large {
    height: 100%;
    width: auto;
    object-fit: contain;

    @media screen and (min-width: 960px) and (max-width: 1279px) {
      max-height: 360px;
    }
  }

}

.radio-group {
  margin-bottom: 12px;

  .radio-label-text {
    width: 135px;
  }
}

.account-profile-section {
  margin-top: 8px;
}
