<div fxLayout="column" fxLayoutGap="48px" fxLayoutGap.lt-md="24px" class="account-profile-section">

  <app-photo-uploader [url]="photoURL" actionBtnLabel="Upload/Change your photo"
    (changeUpload)="selectPhoto($event)"></app-photo-uploader>

  <mat-divider></mat-divider>

  <form [formGroup]="infoForm" *ngIf="infoForm" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap.gt-sm="20px">
    <div class="names" fxLayout="row" fxLayoutGap="20px">
      <mat-form-field fxFlex.gt-sm="30%" fxFlex.lt-md="50%" appearance="outline" color="primary">
        <mat-label>Full Name</mat-label>
        <input type="text" matInput name="name" formControlName="name" />
        <mat-error *ngIf="infoForm.get('name')?.hasError('pattern')">
          Only letters, and spaces are allowed!
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex.gt-sm="30%" fxFlex="auto" appearance="outline" color="primary">
        <mat-label>Add Nickname</mat-label>
        <input type="text" matInput name="nickname" formControlName="nickname" />
        <mat-error *ngIf="infoForm.get('nickname')?.hasError('pattern')">
          Only letters, number & spaces are allowed!
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex.gt-sm="100%" class="radio-group" fxLayout fxLayoutGap="16px" fxLayoutAlign.lt-md="start center">
      <span class="radio-label-text mat-caption"> Select Gender (*) : </span>
      <mat-radio-group formControlName="gender" color="primary" aria-label="Select gender" fxLayoutGap="8px">
        <mat-radio-button value="M">Male</mat-radio-button>
        <mat-radio-button value="F">Female</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-form-field>
      <mat-label>Add birth date</mat-label>
      <input matInput name="born" formControlName="born" [matDatepicker]="picker" [max]="maxDate"
        (focus)="picker.open()" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="multi-year" touchUi="true"></mat-datepicker>
      <mat-error *ngIf="infoForm.get('born')?.errors?.underAg || infoForm.get('born')?.errors?.max">
        Minimum Age must be 6 years!
      </mat-error>
    </mat-form-field>

    <div fxFlex.gt-sm="auto" class="radio-group" fxLayout fxLayoutGap="16px" fxLayoutAlign.lt-md="start center">
      <span class="radio-label-text mat-caption"> Select Strong Foot (*) :</span>
      <mat-radio-group color="primary" aria-label="Select Stronger Foot" fxLayoutGap="8px" formControlName="strongFoot">
        <mat-radio-button value="L" selected>Left</mat-radio-button>
        <mat-radio-button value="R">Right</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="clubbed-fields" fxLayout="row" fxLayoutGap="20px">
      <mat-form-field fxFlex.gt-sm="33%" fxFlex.lt-md="50%" appearance="outline" color="primary" floatLabel="always">
        <mat-label>Add Playing Position</mat-label>
        <mat-select formControlName="position" placeholder="Select Position">
          <mat-optgroup *ngFor="let group of positions" [label]="group.position">
            <mat-option *ngFor="let name of group.pos_name" [value]="name">
              {{ name }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex.gt-sm="33%" fxFlex="auto" appearance="outline" color="primary" floatLabel="always">
        <mat-label>Add Jersey Number</mat-label>
        <input type="tel" matInput name="jerseyNo" formControlName="jerseyNo" placeholder="Add Jersey #" />
        <mat-error *ngIf="infoForm.get('jerseyNo')?.hasError('pattern')">
          Only numbers are allowed!
        </mat-error>
      </mat-form-field>
    </div>

    <!-- <div class="clubbed-fields" fxLayout="row" fxLayoutGap="20px">
        <mat-form-field fxFlex.gt-sm="33%" fxFlex.lt-md="50%" appearance="outline" color="primary">
          <mat-label>My Height</mat-label>
          <input type="tel" matInput name="height" formControlName="height" />

          <span matSuffix>cms</span>
          <mat-error *ngIf="infoForm.get('height')?.hasError('pattern')">
            Only numbers are allowed!
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="auto" appearance="outline" color="primary">
          <mat-label>My Weight</mat-label>
          <input type="tel" matInput name="weight" formControlName="weight" />
          <mat-error *ngIf="infoForm.get('weight')?.hasError('pattern')">
            Only numbers are allowed!
          </mat-error>
          <span matSuffix>kg</span>
        </mat-form-field>
      </div> -->

    <div fxFlex.gt-sm="100%" formGroupName="location" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.gt-sm="20px">
      <div class="dropdown-container" fxFlex.gt-sm="33%" fxFlex.lt-md="100%">
        <app-searchable-form-field label="Add Location Country" [list]="countries" [control]="locationCountry"
          (selectionChange)="onSelectCountry($event)"></app-searchable-form-field>
      </div>

      <div class="dropdown-container" fxFlex-gt-sm="33%" fxFlex.lt-md="100%" fxLayout="row" fxLayoutGap="20px">
        <app-searchable-form-field fxFlex="50%" label="Add Location State" [list]="states" [control]="locationState"
          (selectionChange)="onSelectState($event)"></app-searchable-form-field>
        <app-searchable-form-field fxFlex="auto" label="Add Location City" [list]="cities"
          [control]="locationCity"></app-searchable-form-field>
      </div>
    </div>

    <mat-form-field fxFlex.gt-sm="100%" appearance="outline" color="primary">
      <mat-label>Add Bio</mat-label>
      <textarea matInput name="bio" formControlName="bio"></textarea>
      <mat-hint align="end">{{infoForm.get('bio')?.value?.length}} / {{BIO_MAX_LIMIT}}</mat-hint>
      <mat-error *ngIf="infoForm.get('bio')?.hasError('pattern')">
        Only letters, spaces and numbers are allowed!
      </mat-error>
    </mat-form-field>
  </form>
</div>
<app-loading *ngIf="isLoaderShown"></app-loading>