.mat-column-season {
  width: 300px;
  text-align: left;
}

.mat-column-actions,
.mat-column-sno {
  text-align: center;
}

a.disabled {
  cursor: not-allowed !important;
  color: grey !important;
}

.row {
  cursor: pointer;
}

.row:hover span,
.row:hover div .material-icons-round {
  color: var(--primaryDarkColor);
}

.red {
  color: var(--red);
}

.season-ended .row:hover span,
.season-ended .row:hover div .material-icons-round,
.season-ended span,
.season-ended div .material-icons-round {
  opacity: 0.5;
}
