.mat-card {
  border-radius: var(--dashCardBorder);
  overflow: hidden;
}
.filled {
  color: var(--primaryColor);
}
.seperate {
  margin-top: 16px;
}
.bar {
  height: calc(56px / 2);
  border-radius: var(--borderRadiusCard);
  background-color: white;
  border: 2px solid var(--primaryColor);
  overflow: hidden;
}
.progress {
  height: 100%;
  background-color: var(--primaryColor);
  transition: width 0.8s ease-in-out;
}
.maxh-cards-r {
  height: 350px;
  max-height: 350px;
}
._inside {
  height: 100%;
  width: 100%;
}

._bar {
  height: 72px;
  width: 100%;
  max-width: 740px;
}

._progress {
  height: 32px;
  width: 100%;
}
._step {
  height: 24px;
  width: 100%;
}
._circle-small {
  height: 24px;
  min-width: 24px;
  width: 24px;
  min-height: 24px;
  margin-right: 16px;
  border-radius: 50%;
}

@media only screen and (min-width: 960px) and (max-width: 1279px) {
  .cards-r {
    max-width: 360px;
    height: 300px;
  }
}
@media only screen and (min-width: 1280px) {
  .cards-r {
    max-width: 360px;
    height: 300px;
  }
}
