<ng-template #compProfileLoading>
  <mat-card class="_stats cards-r maxh-cards-r">
    <div class="_inside" fxLayoutGap="16px" fxLayout="column">
      <div fxLayout="column" fxLayoutGap="16px">
        <div *ngFor="let step of [1, 2, 3, 4, 5]" fxLayout="row nowrap" fxLayoutAlign="start center">
          <span class="_circle-small shine"> </span>
          <span class="shine _step"></span>
        </div>
        <div class="_progress shine"></div>
      </div>
    </div>
  </mat-card>
</ng-template>

<mat-card *ngIf="!isLoading; else compProfileLoading" fxHide.lt-md="true" class="mat-elevation-z8 maxh-cards-r cards-r">
  <div fxLayout fxLayoutAlign="space-between center" fxLayoutAlign.lt-md="center center">
    <span class="dash-h5 align">Complete your profile</span>
    <a [matMenuTriggerFor]="verticalMenu" fxHide.lt-md="true" class="material-icons-round">more_vert</a>
  </div>
  <div class="seperate" fxLayout="column" fxLayoutGap="8px">
    <!-- step -->
    <div fxLayoutAlign="start center" fxLayoutGap="8px">
      <span class="material-icons-round filled"> check_circle </span>
      <a class="mat-body-1"> Setup Account </a>
    </div>
    <!-- step -->

    <!-- step -->
    <div fxLayoutAlign="start center" fxLayoutGap="8px">
      <span class="material-icons-round" [ngClass]="{ filled: (data$ | async)?.photo == true }">
        {{
        (data$ | async)?.photo == true
        ? "check_circle"
        : "radio_button_unchecked"
        }}
      </span>
      <a (click)="onUploadProfilePhoto()" class="mat-body-1">
        Upload your profile photo
      </a>
    </div>
    <!-- step -->

    <!-- step -->
    <div fxLayoutAlign="start center" fxLayoutGap="8px">
      <span class="material-icons-round" [ngClass]="{ filled: (data$ | async)?.profile == true }">
        {{
        (data$ | async)?.profile == true
        ? "check_circle"
        : "radio_button_unchecked"
        }}
      </span>
      <a [routerLink]="['/dashboard', 'account', 'profile']" class="mat-body-1">
        Complete your profile
      </a>
    </div>
    <!-- step -->

    <!-- step -->
    <div fxLayoutAlign="start center" fxLayoutGap="8px">
      <span class="material-icons-round" [ngClass]="{ filled: (data$ | async)?.team == true }">
        {{
        (data$ | async)?.team == true
        ? "check_circle"
        : "radio_button_unchecked"
        }}
      </span>
      <a (click)="onOpenTeamBox()" class="mat-body-1">
        Join or create a team
      </a>
    </div>
    <!-- step -->

    <!-- step -->
    <div fxLayoutAlign="start center" fxLayoutGap="8px">
      <span class="material-icons-round" [ngClass]="{ filled: profileProgress >= 100 || profileShared }">
        {{
        profileProgress >= 100 || profileShared
        ? "check_circle"
        : "radio_button_unchecked"
        }}
      </span>
      <a (click)="onShareProfile()" class="mat-body-1"> Share your Profile </a>
    </div>
    <!-- step -->
    <!-- step -->

    <!-- progress bar -->
    <div class="seperate">
      <span class="overline">{{
        profileProgress.toString() + "% Completed"
        }}</span>
      <div class="bar">
        <div class="progress" [style.width]="profileProgress.toString() + '%'"></div>
      </div>
    </div>
    <!-- progress bar -->
  </div>
</mat-card>

<mat-menu #verticalMenu>
  <a mat-menu-item [routerLink]="['/support']">Report problem</a>
</mat-menu>
