<div fxHide.lt-md="true" fxLayout="column" fxLayoutGap="20px">
  <div
    fxLayout
    fxLayoutAlign="space-between center"
    fxLayoutAlign.lt-md="center center"
  >
    <span class="dash-h5 align">My Freestyle Contests</span>
    <a
      fxHide.lt-md="true"
      [matMenuTriggerFor]="verticalMenu"
      class="material-icons-round"
    >
      more_vert
    </a>
  </div>
  <app-my-contest></app-my-contest>
</div>
<mat-menu #verticalMenu>
  <a mat-menu-item [routerLink]="['/support']">Report problem</a>
</mat-menu>
