<form [formGroup]="searchForm" class="container">
  <mat-form-field appearance="outline" color="primary">
    <mat-label>{{ placeholder }}</mat-label>
    <input formControlName="searchKey" #searchInputAutocompleteElement [disabled]="isDisabled" type="text" matInput
      [matAutocomplete]="options" />
    <mat-autocomplete (optionSelected)="onSelectionChange($event)" #options="matAutocomplete">
      <mat-option *ngFor="let option of optionsList" [value]="option">
        {{option.viewValue}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
