.mat-sidenav-content {
  background-color: var(--grey4);
}

.gap {
  margin: 0 16px;
}

.icon {
  font-size: 48px;
}

.icon-small {
  font-size: 32px;
}

.second_divider {
  width: 100%;
  margin: 20px 0;
}

.mat-divider {
  width: 100%;
}

.mat-nav-list {
  width: 100%;
}

.mat-nav-list a {
  color: black;
  margin: 8px 0;
  width: 100%;
  border-radius: var(--borderRadiusCard);
}

.mat-nav-list a:hover,
.mat-nav-list a:active,
.active {
  margin: 8px 0;
  width: 100% !important;
  border-radius: var(--borderRadiusCard) !important;
  background-color: #bfdfc3 !important;
  color: var(--primaryColor) !important;
}

.player-name {
  max-width: 300px;
  text-align: center;
}

.sidepanel {
  padding: 8px 4px;
  width: 56px;
  // position: absolute;
  left: 0px;
  // height: 100%;
  background-color: white;
}

.router-link-active-md {
  width: 100% !important;
  border-radius: var(--borderRadiusCard) !important;
  background-color: #bfdfc3 !important;
  color: var(--primaryColor) !important;
}

.sidenavCloseButton {
  margin-top: 8px;
}

.box {
  height: 150px;
  width: 100%;
  margin-top: 20px;
}

.red {
  color: var(--secondaryColor);
}

.bottom-nav {
  position: sticky;
  bottom: 0px;
  margin: auto;
  width: 100%;
  z-index: 200;
}

.bottom-nav a {
  color: white;
  opacity: 0.5;
  margin: 0 !important;
}

.router-link-active {
  opacity: 1 !important;
  color: white !important;
}

@media only screen and (min-width: 960px) and (max-width: 1279px) {
  mat-sidenav {
    max-width: 350px;
    width: 350px;
    padding: 0 8px;
  }

  .prof_pic {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1919px) {
  mat-sidenav {
    max-width: 250px;
    width: 250px;
    padding: 0 8px;
  }

  .prof_pic {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 1920px) and (max-width: 5000px) {
  mat-sidenav {
    max-width: 350px;
    width: 350px;
    padding: 0 8px;
  }

  .prof_pic {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 600px) {
  .side-padding {
    transition: 0.15s all ease;
    // padding: 0 20px;
  }
}
