<!-- <mat-sidenav-container *ngIf="!onMobile">
  <mat-sidenav #sidenav [(opened)]="sidenavOpenState" [mode]="getMode()" position="start">
    <div (window:resize)="onResizeScreen()" fxLayoutAlign="center center" fxLayout="column">
      <div class="box" fxLayoutAlign="center center" fxLayout="column">
        <app-account-avatar [dataImg]="dataImg$ | async"></app-account-avatar>
        <span [matTooltip]="playerName | titlecase" class="mat-body-2 ellipsis player-name"> {{ playerName | titlecase
          }} </span>
        <a *ngIf="(dataPos$ | async) == null; else plPos" [routerLink]="['/dashboard', 'account']" class="mat-caption">
          Add Playing Position
        </a>
        <ng-template #plPos>
          {{ dataPos$ | async }}
        </ng-template>
        <button class="sidenavCloseButton" color="primary" mat-icon-button (click)="sidenav.close()">
          <mat-icon class="material-icons-round">
            keyboard_arrow_left
          </mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <a [routerLink]="['/dashboard', 'home']" routerLinkActive="active" mat-list-item>
          <span class="material-icons-round gap">dashboard</span>
          <span class="mat-body-1">Dashboard</span>
        </a>
        <a [routerLink]="['/dashboard', 'team-management']" routerLinkActive="active" mat-list-item>
          <span class="material-icons-round gap">groups</span>
          <span class="mat-body-1">My Team</span>
        </a>
        <a [routerLink]="['/dashboard', 'participate']" routerLinkActive="active" mat-list-item>
          <span class="material-icons-round gap">sports_soccer</span>
          <span class="mat-body-1">Participate</span>
        </a>
        <mat-divider class="second_divider"></mat-divider>

        <a [routerLink]="['/dashboard', 'account']" routerLinkActive="active" mat-list-item>
          <span class="material-icons-round gap">settings</span>
          <span class="mat-body-1">Account & Settings</span>
        </a>
        <a [routerLink]="['/support']" routerLinkActive="active" mat-list-item>
          <span class="material-icons-round gap">help_center</span>
          <span class="mat-body-1">Help & Support</span>
        </a>
        <a (click)="onLogout()" mat-list-item>
          <span class="material-icons-round gap red">exit_to_app</span>
          <span class="mat-body-1 red">Logout</span>
        </a>
      </mat-nav-list>
      <button [routerLink]="['/dashboard', 'participate']" class="buttonText primaryButton" fxLayout="row"
        fxLayoutAlign="center center" fxLayoutGap="16px">
        <span>{{ "Participate" }}</span>
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="side-padding">
    <aside fxFlex="56px" class="sidepanel mat-elevation-z4" fxLayoutAlign="start center" fxLayout="column"
      *ngIf="!sidenav.opened">
      <div class="box" fxLayoutAlign="center center" fxLayout="column">
        <app-account-avatar [dataImg]="dataImg$ | async"></app-account-avatar>
        <button color="primary" mat-icon-button (click)="sidenav.open()">
          <mat-icon class="material-icons-round">
            keyboard_arrow_right
          </mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <a [routerLink]="['/dashboard', 'home']" routerLinkActive="router-link-active-md" mat-list-item
          fxLayoutAlign="center center" matTooltip="Dashboard">
          <span class="material-icons-round">dashboard</span>
        </a>
        <a [routerLink]="['/dashboard', 'team-management']" routerLinkActive="router-link-active-md" mat-list-item
          fxLayoutAlign="center center" matTooltip="Team Management">
          <span class="material-icons-round">groups</span>
        </a>
        <a [routerLink]="['/dashboard', 'participate']" routerLinkActive="router-link-active-md" mat-list-item
          fxLayoutAlign="center center" matTooltip="Participate">
          <span class="material-icons-round">sports_soccer</span>
        </a>
        <mat-divider class="second_divider"></mat-divider>

        <a [routerLink]="['/dashboard', 'account', 'profile']" routerLinkActive="router-link-active-md" mat-list-item
          fxLayoutAlign="center center" matTooltip="Account & Settings">
          <span class="material-icons-round">settings</span>
        </a>
        <a [routerLink]="['/support']" routerLinkActive="router-link-active-md" mat-list-item
          fxLayoutAlign="center center" matTooltip="Support">
          <span class="material-icons-round">help_center</span>
        </a>
        <a matTooltip="Logout" (click)="onLogout()" mat-list-item fxLayoutAlign="center center">
          <span class="material-icons-round red">exit_to_app</span>
        </a>
      </mat-nav-list>
    </aside>

    <div class="container section-space-bottom section-space-top">
      <router-outlet></router-outlet>
      <footer>
        <app-dash-footer></app-dash-footer>
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<div class="container product grey-bg">
  <router-outlet></router-outlet>
</div>
<footer>
  <app-dash-footer></app-dash-footer>
</footer>

<!-- bottom-nav-xs-screen -->
<mat-toolbar class="bottom-nav" color="primary" fxLayoutAlign="space-evenly">
  <a [routerLink]="['/dashboard', 'home']" routerLinkActive="router-link-active" fxLayout="column"
    fxLayoutAlign="center center" fxLayoutGap="0" matTooltip="Dashboard">
    <span class="material-icons-round"> dashboard </span>
    <span class="mat-caption">Dashboard</span>
  </a>
  <a [routerLink]="['/dashboard', 'team-management']" routerLinkActive="router-link-active" fxLayout="column"
    fxLayoutAlign="center center" fxLayoutGap="0" matTooltip="Team Management">
    <span class="material-icons-round"> groups </span>
    <span class="mat-caption">My Team</span>
  </a>
  <a [routerLink]="['/dashboard', 'participate']" routerLinkActive="router-link-active" fxLayout="column"
    fxLayoutAlign="center center" fxLayoutGap="0" matTooltip="Participate">
    <span class="material-icons-round">sports_soccer</span>
    <span class="mat-caption">Participate</span>
  </a>
  <a [routerLink]="['/dashboard','account']" routerLinkActive="router-link-active" fxLayout="column"
    fxLayoutAlign="center center" fxLayoutGap="0" matTooltip="Settings">
    <span class="material-icons-round"> settings </span>
    <span class="mat-caption">Settings</span>
  </a>
</mat-toolbar>
<!-- bottom-nav-xs-screen -->