.banner {
  height: 100%;
  width: 100%;
  max-width: 450px;
  max-height: 523px;
  overflow: hidden;
}
@media only screen and (max-width: 599px) {
  .banner {
    height: 100%;
    width: 100%;
    max-height: 300px;
    margin: 20px 0 0 0;
    overflow: hidden;
  }
}
@media only screen and (min-width: 599px) and (max-width: 959px) {
  .banner {
    height: 100%;
    width: 100%;
    max-height: 450px;
    margin: 20px 0 0 0;
    overflow: hidden;
  }
}
