section {
  padding: 12px;
  max-height: calc(100vh - 157px);
  overflow-y: auto;
}

.content {
  margin-top: 20px;

  .activity-container {
    margin-bottom: 20px;

    ol {
      list-style-type: disc !important;
    }
  }

  .table {
    margin-top: 8px;

    mat-divider {
      position: initial !important;
    }

    mat-divider.top-bar {
      padding: 4px;
    }

    .sentiment {
      margin-bottom: 12px;
    }

    .sentiment:last-child {
      margin-top: 16px;
    }
  }
}

.dashboard-card {
  height: auto !important;
}

.mat-card-actions {
  margin-right: 0 !important;
}

.footer-container {
  padding: 12px;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: var(--grey3);
}

.success-message {
  margin-bottom: 20px;
}

.need-help-message {
  width: 100%;
  margin-top: 20px;
}

.cancel-message,
.warnings {
  width: 100%;
  margin-top: 8px;
}

.warnings {
  width: 100%;
  background-color: var(--grey4);
  margin-bottom: 12px;
  padding: 12px;
  height: 60px;
}