<div class="back-button" fxLayoutAlign="start center">
  <button (click)="goBack()" mat-button fxLayoutAlign="start center" fxLayoutGap="8px">
    <span class="material-icons-round">chevron_left</span>
    <span>
      View All Orders
    </span>
  </button>
  <span class="dash-h5 heading">Order Summary</span>
</div>
<section>
  <div class="success-message" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center"
    *ngIf="!isLoaderShown && showSuccess">
    <app-tick-animation></app-tick-animation>
    <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="12px">
      <span class="mat-body-1">
        Your order is successful!
      </span>
      <span class="mat-caption" *ngIf="order?.id">
        Order ID:<br> #{{order?.id}}
      </span>
    </div>
  </div>
  <mat-card class="dashboard-card mat-elevation-z8" *ngIf="order">
    <mat-card-header>
      <mat-card-title fxLayoutAlign="space-between center" fxLayoutGap="5px">
        <div class="dash-h5" *ngIf="order?.notes?.itemName">
          {{order?.notes?.itemName}}
        </div>
        <div class="mat-body-1" *ngIf="!order?.notes?.itemName">
          New Order#{{order?.id }}
        </div>
        <button color="primary" mat-raised-button (click)="triggerAction()" *ngIf="order?.notes?.itemType >= 0">
          <span [ngSwitch]="order?.notes?.itemType">
            <span *ngSwitchCase="type.pickupSlot">View Game</span>
            <span *ngSwitchCase="type.pointsPurchase">Redeem</span>
          </span>
        </button>
      </mat-card-title>
      <mat-card-subtitle *ngIf="order?.notes?.itemType >= 0">
        <span *ngIf="order?.notes?.itemType === type.pickupSlot">
          {{ order?.notes?.itemQty}} Slot(s) for {{order?.notes?.seasonName}}
        </span>
        <span *ngIf="order?.notes?.itemType === type.pointsPurchase">
          Added {{order?.notes?.itemQty}} to Rewards Wallet
        </span>
        <span *ngIf="order?.notes?.itemType === type.pickupSlotWaiting">
          Added in waiting list of {{order?.notes?.seasonName}}
        </span>
        <span *ngIf="order?.notes?.itemType === type.leagueOrKnockout">
          Team participation confirmed for {{order?.notes?.seasonName}}
        </span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="content">
        <div class="activity-container">
          <div class="dash-h5 heading">
            Activity
          </div>
          <div class="mat-caption sec-menu" *ngIf="!order?.notes?.logs?.length">
            No Activity!
          </div>
          <ol *ngIf="order?.notes?.logs?.length">
            <li *ngFor="let item of order?.notes?.logs">
              {{item}}
            </li>
          </ol>
        </div>
        <div class="dash-h5 heading">
          Payment Summary
        </div>
        <div class="table" fxLayout="column">
          <mat-divider class="top-bar"></mat-divider>
          <div fxLayoutAlign="space-between center" fxLayout="row" class="sentiment">
            <span class="mat-body-1 sec-menu">Item Total</span>
            <span class="mat-body-2 sec-menu">{{amount | currency: 'INR'}}</span>
          </div>
          <div fxLayoutAlign="space-between center" fxLayout="row" class="sentiment">
            <span class="mat-body-1 sec-menu">Taxes</span>
            <span class="mat-body-2 sec-menu"> {{ gstAmount | currency: 'INR'}} </span>
          </div>
          <mat-divider class="bottom-bar"></mat-divider>
          <div fxLayoutAlign="space-between center" fxLayout="row" class="sentiment">
            <span class="mat-body-2">Bill Total</span>
            <span class="mat-body-2"> {{(order.amount / 100) | currency: 'INR'}} </span>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <div class="footer-container">
        Upon cancellation, 50% amount will be deducted and rest will be credited to the original payment source within
        2-3 working days.
      </div>
    </mat-card-footer>
    <!-- <mat-card-actions>
      <div class="buttons-container-alt" fxLayout="column" fxLayoutGap="12px">
        <button class="link-button" fxFlex="100%" (click)="cancelOrder()" mat-stroked-button color="primary">
          Cancel Order
        </button>
      </div>
    </mat-card-actions> -->
  </mat-card>
  <div class="need-help-message" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
    Need help?&nbsp;<a class="mat-body-1" (click)="needHelp()">Contact us!</a>
  </div>
  <div class="need-help-message" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
    <a class="mat-body-1" (click)="viewPolicy()">View Cancellation Policy</a>
  </div>
  <div class="cancel-message" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center"
    *ngIf="isCancellable && order?.notes?.itemType === type.pickupSlot">
    <a (click)="cancelOrder()" class="mat-body-1" mat-button color="warn">
      Cancel Order
    </a>
  </div>
</section>
<app-loading *ngIf="isLoaderShown"></app-loading>