<div
  fxLayoutGap="20px"
  fxlayout="row wrap"
  class="section-space-top section-space-bottom"
>
  <button
    class="buttonText primaryButton"
    [disabled]="completed"
    (click)="onAddTeams()"
  >
    <ng-template #default>
      <span> Add 4 Teams (Auto) </span>
    </ng-template>

    <span class="material-icons-round" *ngIf="completed; else default">
      check_circle
    </span>
  </button>
  <button
    class="buttonText primaryButton"
    [disabled]="completed2"
    (click)="onAddTeam()"
  >
    <ng-template #default2>
      <span> Add Team (Auto) </span>
    </ng-template>

    <span class="material-icons-round" *ngIf="completed2; else default2">
      check_circle
    </span>
  </button>
  <button disabled class="buttonText primaryButton" (click)="onOpenTeamForm()">
    Add Team (Form)
  </button>
  <button class="buttonText secondaryButton" disabled>soon</button>
  <button class="buttonText secondaryButton" disabled>soon</button>
</div>
