.filled {
  color: var(--primaryColor);
}

.nofi {
  margin-top: 20px;
  height: 72px;
  padding: 20px;
  background-color: white;
  box-shadow: 0;
  border-radius: var(--borderRadiusCard);
  opacity: 0.75;
}

.red {
  color: var(--red);
  cursor: pointer;
}
