<mat-form-field color="primary" [appearance]="appearance">
  <mat-label>Select {{label}}</mat-label>
  <mat-select #selector [required]="required" (selectionChange)="onSelect($event.value)" [formControl]="control">
    <mat-option>
      <ngx-mat-select-search [disableInitialFocus]="false" [formControl]="searchControl" (ngModelChange)="filterList()"
        placeholderLabel="Search {{label}}" noEntriesFoundLabel="No {{label}} for selection">
        <span ngxMatSelectSearchClear class="material-icons-round">close</span>
      </ngx-mat-select-search>
    </mat-option>
    <mat-option *ngFor="let option of listOptions" [value]="option">
      {{ option }}
    </mat-option>
  </mat-select>
</mat-form-field>