<mat-card class="dashboard-card mat-elevation-z8" (click)="onNavigate()">
  <mat-card-title *ngIf="data.title" class="dash-h5 season-title">
    {{data.title}}
  </mat-card-title>
  <mat-card-subtitle *ngIf="data.subtitle" class="mat-caption ellipsis">
    {{data.subtitle}}
  </mat-card-subtitle>

  <img mat-card-image [src]="data.imgUrl" alt="Illustration" *ngIf="data.imgUrl" />
  <mat-card-content *ngIf="data.content">
    <p [innerHTML]="data.content" class="sec-menu mat-caption"></p>
  </mat-card-content>
  <mat-card-actions *ngIf="data.cta">
    <button color="primary" mat-button (click)="onNavigate(); $event.stopPropagation()" fxLayout="column"
      fxLayoutAlign="center center" fxLayoutGap="8px">
      <span> {{ data.cta.label }} </span>
      <span class="material-icons-round"> chevron_right </span>
    </button>
  </mat-card-actions>
</mat-card>
