header {
  text-align: center;
  width: 100%;
}

section {
  width: 100%;
  margin-bottom: 40px;

  .submit-button {
    margin: auto;
    margin-top: 20px;
    max-width: 100%;
    width: 100%;
  }
}

.form-container,
.success-container {
  width: 100%;
  max-width: 415px;

  p {
    text-align: center;
  }
}

.shortcut {
  text-align: center;
  margin-top: 16px;
}

.placeholder {
  height: 500px !important;
  width: 600px !important;
  border: none !important;
}

@media screen and (max-width: 600px) {
  .placeholder {
    border: none !important;
    height: 300px !important;
    width: 320px !important;
    max-width: 320px;
    overflow: hidden;
  }
}
