<!-- <mat-card class="cards-r mat-elevation-z8" fxLayout="column">
  <div fxLayout fxLayoutAlign="space-between center">
    <span class="dash-h5">Notification</span>
    <a (click)="onToggleNotifications(null)" class="mat-caption sec-menu" *ngIf="isShowUnread">View All</a>
    <a (click)="onToggleNotifications(1)" class="mat-caption sec-menu" *ngIf="!isShowUnread">View Unread</a>
  </div> -->
<!-- list -->
<!-- <app-no-items-message customText="No {{isShowUnread ? 'unread': ''}} notifications!"
    *ngIf="notifications?.length === 0"></app-no-items-message> -->
<!-- <ul>
    <li class="notification mat-elevation-z4" *ngFor="let notification of notifications"
      (click)="onSelectNotification(notification)" fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="center">
      <div fxLayoutAlign="space-between center" fxLayout>
        <div fxLayout="column" fxLayoutAlign="center start">
          <span class="ellipsis limit-width" ngClass.gt-sm="mat-body-1" ngClass.lt-md="mat-caption"> {{
            formatter?.formatTitle(notification.type) ?
            formatter?.formatTitle(notification.type) : 'NA'
            }}
          </span>
          <span class="ellipsis limit-width sec-menu mat-caption" *ngIf="notification?.senderName">
            By {{ notification?.senderName && notification?.senderName !== 'null' ?
            notification?.senderName :
            ('User#' + (notification.senderID)) }}
          </span>
        </div>
        <div fxLayoutAlign.lt-md="center center" fxLayout.lt-md="row-reverse" fxLayout.gt-sm="column"
          fxLayoutAlign="center end" fxLayoutGap.lt-md="8px" fxLayoutGap.gt-sm="0px">
          <a fxHide.lt-md="true" (click)="changeStatus(notification); $event.stopPropagation()" class="action">
            <ng-container *ngIf="notification.read === 0">
              <span>Mark as Read</span>
            </ng-container>
            <ng-container *ngIf="notification.read === 1">
              <span>Mark as Unread</span>
            </ng-container>
          </a>
          <span fxHide.gt-sm="true" class="no-left material-icons-round">{{notification.read ===
            1?'drafts':'chevron_right'}}</span>
          <span class="mat-body-2 notif_time" ngClass.lt-md="mat-caption time-width">
            {{ notification.date | date: CUSTOM_FORMAT }}
          </span>
        </div>
      </div>
    </li>
  </ul> -->
<!-- list -->
<!-- </mat-card> -->
<!-- <app-loading *ngIf="isLoaderShown"></app-loading> -->
<div class="back-button" fxLayoutAlign="start center">
  <button [routerLink]="['/account']" mat-button fxLayoutAlign="start center" fxLayoutGap="8px">
    <span class="material-icons-round">chevron_left</span>
    <span>
      Go back
    </span>
  </button>
  <span class="dash-h5 heading">All Notifications</span>
</div>
<mat-card class="feature-card my-orders-wrapper" *ngIf="!listCache.length && !isLoaderShown">
  <mat-card-content>
    <app-no-items-message customText="Currently, there are no notifications!"></app-no-items-message>
  </mat-card-content>
</mat-card>
<section>
  <mat-list *ngIf="listCache?.length">
    <mat-list-item *ngFor="let notification of listCache" (click)="openNotification(notification)"
      class="notification mat-elevation-z8 dashboard-card" fxLayoutAlign="space-between center" fxLayout
      [style.opacity]="notification.read === 0 ? '1' : '0.6'">
      <div fxLayout="column" fxLayoutAlign="center start">
        <span class="ellipsis limit-width" ngClass.gt-sm="mat-body-1" ngClass.lt-md="mat-caption"> {{
          formatter?.formatTitle(notification.type) ?
          formatter?.formatTitle(notification.type) : 'NA'
          }}
        </span>
        <span class="ellipsis limit-width sec-menu mat-caption" *ngIf="notification?.senderName">
          By {{ notification?.senderName && notification?.senderName !== 'null' ?
          notification?.senderName :
          ('User#' + (notification.senderID)) }}
        </span>
      </div>
      <div fxLayoutAlign.lt-md="center center" fxLayout.lt-md="row-reverse" fxLayout.gt-sm="column"
        fxLayoutAlign="center end" fxLayoutGap.lt-md="8px" fxLayoutGap.gt-sm="0px">
        <a fxHide.lt-md="true" (click)="changeStatus(notification); $event.stopPropagation()" class="action">
          <ng-container *ngIf="notification.read === 0">
            <span>Mark as Read</span>
          </ng-container>
          <ng-container *ngIf="notification.read === 1">
            <span>Mark as Unread</span>
          </ng-container>
        </a>
        <span fxHide.gt-sm="true" class="no-left material-icons-round">{{notification.read ===
          1?'drafts':'chevron_right'}}</span>
        <span class="mat-body-2 notif_time" ngClass.lt-md="mat-caption time-width">
          {{ notification.date | date: CUSTOM_FORMAT }}
        </span>
      </div>
    </mat-list-item>
  </mat-list>
</section>
<app-loading *ngIf="isLoaderShown"></app-loading>