<div fxLayout="column" class="back-button">
  <button [routerLink]="['/play/teams']" mat-button fxLayoutAlign="start center" fxLayoutGap="8px">
    <span class="material-icons-round">chevron_left</span>
    <span>
      View all Teams
    </span>
  </button>
</div>

<section>
  <mat-card class="dashboard-card mat-elevation-z8" *ngIf="team">
    <mat-card-header>
      <mat-card-title>
        <span class="dash-h5 season-title">
          {{team.tname}}
        </span>
      </mat-card-title>
      <mat-card-subtitle>
        <mat-chip-list>
          <mat-chip *ngIf="team.tageCat">
            {{ formatter.formatAgeCategory(team.tageCat).viewValue}} Team
          </mat-chip>
          <mat-chip *ngIf="team.captainName">
            {{team.captainName}} (C)
          </mat-chip>
        </mat-chip-list>

      </mat-card-subtitle>
      <img mat-card-avatar [src]="team.imgpath_logo" alt="{{team.tname}}'s Logo">
    </mat-card-header>
    <img mat-card-image [src]="team.imgpath" alt="Team image" appFallbackImg
      (click)="enlargePhoto(); $event.stopPropagation()">
    <mat-card-content>
      <p innerHTML="'{{team.tslogan}}'" *ngIf="team.tslogan"></p>
      <p class="mat-caption" [innerHTML]="team.tdesc" *ngIf="team.tdesc"></p>
      <div class="actionscontainer" fxLayoutAlign="start center" fxLayoutGap="8px">

        <div *ngIf="team.locCity && team.locState" class="location-container" fxLayoutAlign="start center"
          fxLayoutGap="4px">
          <span class="material-icons-round">
            place
          </span>
          <span class="mat-body-1 center ellipsis">
            {{ (team.locCity) + ", " + (team.locState) }}
          </span>
        </div>
      </div>
      <div class="buttons-container" fxLayout="column">
        <button class="link-button" *ngIf="!userTeamID" (click)="joinTeam(); $event.stopPropagation()"
          mat-stroked-button color="primary">
          <span class="material-icons-round">add_circle</span>
          Join Team
        </button>
        <button class="link-button" [disabled]="!isUserCaptain"
          *ngIf="userTeamID && !isSelectedTeamMember && !isSelectedTeamCaptain"
          (click)="challengeTeam(); $event.stopPropagation()" mat-stroked-button color="primary">
          <span class="material-icons-round">outlined_flag</span>
          Challenge Team
          <span *ngIf="!isUserCaptain">(Captain only)</span>
        </button>
        <ng-container *ngIf="isSelectedTeamMember">
          <button [disabled]="!isSelectedTeamCaptain" class="link-button"
            (click)="manageTeam(); $event.stopPropagation()" mat-stroked-button color="primary">
            <span class="material-icons-round">settings</span>
            Manage Team
          </button>
          <button class="link-button" (click)="manageTeam(true); $event.stopPropagation()" mat-stroked-button
            color="primary">
            <span class="material-icons-round">send</span>
            Chat with Members
          </button>
        </ng-container>
        <button class="link-button" (click)="share(); $event.stopPropagation()" mat-stroked-button color="primary">
          <span class="material-icons-round">share</span>
          Share with friends
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</section>

<section *ngIf="team?.members?.length">
  <mat-card class="dashboard-card mat-elevation-z8">
    <mat-card-title>
      <div class="title" fxLayoutAlign="space-between center" fxLayout="row">
        <span class="dash-h5 align">Team Members</span>
        <span class="mat-caption sec-menu">Count: {{team.memCount}}</span>
      </div>
    </mat-card-title>
    <mat-card-content>
      <app-team-player-members-list [captainID]="team.captainId" [list]="team.members"></app-team-player-members-list>
    </mat-card-content>
  </mat-card>
</section>

<section [ngClass]="{'last-section': !teamMedia?.length}">
  <app-my-stats-card [data]="teamStats" label="Team Statistics">
  </app-my-stats-card>
</section>

<section class="last-section" *ngIf="teamMedia?.length">
  <mat-card class="dashboard-card mat-elevation-z8">
    <mat-card-title>
      <div class="title" fxLayoutAlign="space-between center" fxLayout="row">
        <span class="dash-h5 align">Team Gallery</span>
      </div>
    </mat-card-title>
    <mat-card-content>
      <ng-image-slider [images]="teamMedia"></ng-image-slider>
    </mat-card-content>
  </mat-card>
</section>

<app-loading *ngIf="isLoaderShown"></app-loading>