section {
  padding: 0 10px;
  margin-top: 16px;
}

img {
  max-height: 320px;
}

.back-button {
  margin-bottom: 16px;
  padding: 0 16px;
}

.sub-important-text {
  color: rgba(0, 0, 0, 0.54)
}

.no-padding-card {
  padding: 0 !important;
}

.mat-card-title.spacy-title {
  padding: 12px 12px 0 12px;
}

.last-section {
  margin-bottom: 20px;
}