.external-icon {
  font-size: 18px;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.custom-button-container {
  width: 100%;
}

.example-tree-ul {
  color: var(--grey1);
  margin-left: 12px;

}

.main-text {
  padding-left: 10px !important;
}

.payment-option-container {
  min-height: 50vh;

  .heading {
    margin-top: 16px;

  }

  .details-container {
    width: 100%;
    margin: 16px 0;

  }

  .detail {
    width: 100%;
  }

}

.end-icon {
  margin-left: auto;
}