<section class="payment-option-container">
  <span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="heading dash-h5">
    Booking Summary:
  </span>
  <div class="details-container" *ngIf="dialogData" fxLayout="column" fxLayoutGap="8px">
    <div class="detail" fxLayoutAlign="space-between center">
      <span class="mat-caption">Slots</span>
      <span class="mat-body-1"> {{dialogData.slotsCount}} </span>
    </div>
    <div class="detail" fxLayoutAlign="space-between center">
      <span class="mat-caption">Payable Amount</span>
      <span class="mat-body-1"> {{dialogData.amount | currency :'INR'}} </span>
    </div>
  </div>

  <mat-divider></mat-divider>

  <span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="heading">
    <span class="dash-h5">Payment Options:</span>
    <span (click)="openInfo()" class="material-icons-round sec-menu">info</span>
  </span>

  <div class="links-container" fxLayout="column" fxLayoutGap="4px">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <li class="mat-tree-node" (click)="dismiss(node);treeControl.collapseAll()">
          <div mat-button class="custom-button-container" fxLayoutAlign="space-between center">
            <span class="material-icons-round external-icon filled" *ngIf="node.icon">{{node.icon}}</span>
            <span class="mat-body-1 main-text">
              {{node.label}}
            </span>
            <span class="material-icons-round end-icon">
              chevron_right
            </span>
          </div>
        </li>
      </mat-tree-node>
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <li>
          <div fxLayoutAlign="start center" fxLayoutGap="8px" class="mat-tree-node" matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.label">
            <span class="mat-icon-rtl-mirror material-icons-round">
              {{treeControl.isExpanded(node) ? 'expand_less' : 'expand_more'}}
            </span>
            <span class="mat-body-1">
              {{node.label}}
            </span>
          </div>
          <ul class="example-tree-ul" [class.example-tree-invisible]="!treeControl.isExpanded(node)">
            <ng-container matTreeNodeOutlet></ng-container>
          </ul>
        </li>
      </mat-nested-tree-node>
    </mat-tree>
  </div>
</section>