<form [formGroup]="seasonForm" class="form-container" fxLayout="column">
  <section class="section-container" fxLayoutGap="20px" fxLayout fxLayout.lt-md="column"
    fxLayoutAlign="space-between start">
    <div class="field-container" fxLayout="column">
      <div fxLayout fxLayout.lt-md="column" fxLayoutGap.gt-sm="20px" class="state-city-container">
        <mat-form-field appearance="outline" color="primary">
          <mat-label>Enter Season Name</mat-label>
          <input type="text" matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="outline" color="primary">
          <mat-label>Select State</mat-label>
          <mat-select formControlName="state">
            <mat-option *ngFor="let state of states" [value]="state">
              {{ state }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" color="primary">
          <mat-label>Select City</mat-label>
          <mat-select formControlName="city">
            <mat-option *ngFor="let city of cities" [value]="city">
              {{ city }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout fxLayout.lt-md="column" fxLayoutGap.gt-sm="20px" class="state-city-container">
        <mat-form-field appearance="outline" color="primary">
          <mat-label>Tournament Start Date</mat-label>
          <input matInput [min]="minDate" [max]="maxDate" formControlName="startDate" [matDatepicker]="startDate" />
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" color="primary">
          <mat-label>Enter Season Fees (per team)</mat-label>
          <input type="number" matInput formControlName="fees" />
        </mat-form-field>
        <mat-form-field appearance="outline" color="primary">
          <mat-label>Enter Discount (in %)</mat-label>
          <input type="number" matInput formControlName="discount" />
        </mat-form-field>
      </div>
      <div fxLayout fxLayout.lt-md="column" fxLayoutGap.gt-sm="20px" class="state-city-container">
        <mat-form-field class="text-area-field" appearance="outline" color="primary">
          <mat-label>Mention Season Description in not more than 200 characters</mat-label>
          <textarea matInput formControlName="description"
            placeholder="Mention season description in 300 words"></textarea>
        </mat-form-field>
        <mat-form-field class="text-area-field" appearance="outline" color="primary">
          <mat-label>Mention Season Rules in not more than 500 characters</mat-label>
          <textarea matInput formControlName="rules" placeholder="Mention season rules in 300 words"></textarea>
        </mat-form-field>
      </div>
    </div>
    <app-photo-uploader [defaultImgUrl]="seasonImageUrl" (changeUpload)="onChangeImage($event)"></app-photo-uploader>
  </section>
  <section class="section-container" fxLayoutAlign="center center">
    <div fxLayoutAlign="center center" fxLayout fxLayout.lt-md="column" class="team-selection" fxLayoutGap="20px">
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Select Participating Teams</mat-label>
        <mat-select formControlName="participatingTeamsCount" (selectionChange)="onRestrictTournamentTypes($event)">
          <mat-option *ngFor="let team of teamsList" [value]="team">
            {{ team }} teams
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Select Containing Tournaments</mat-label>
        <mat-select
          [disabled]="!seasonForm.get('participatingTeamsCount').value || !seasonForm.get('participatingTeamsCount').dirty"
          formControlName="containingTournaments" multiple>
          <mat-option *ngFor="let type of tourTypesFiltered" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </section>
</form>
