<form [formGroup]="seasonForm">
  <div *ngIf="!isLoading" class="form-container" fxLayout="column">
    <section class="section-container" fxLayoutGap="20px" fxLayout fxLayout.lt-md="column"
      fxLayoutAlign="space-between center">
      <div class="field-container" fxLayout="column">
        <mat-form-field appearance="outline" color="primary">
          <mat-label>Enter Season Name</mat-label>
          <input type="text" matInput formControlName="name" />
        </mat-form-field>
        <div fxLayout fxLayout.lt-md="column" fxLayoutGap.gt-sm="20px" class="state-city-container">
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Select State</mat-label>
            <mat-select [disabled]="isDisableSelection" formControlName="locState">
              <mat-option *ngFor="let state of states" [value]="state">
                {{ state }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Select City</mat-label>
            <mat-select [disabled]="isDisableSelection" formControlName="locCity">
              <mat-option *ngFor="let city of cities" [value]="city">
                {{ city }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline" color="primary">
          <mat-label> Enter Season Description</mat-label>
          <textarea matInput formControlName="description"
            placeholder="Mention season description in 300 words"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" color="primary">
          <mat-label> Enter Season Rules</mat-label>
          <textarea matInput formControlName="rules" placeholder="Mention season rules in 300 words"></textarea>
        </mat-form-field>
        <div fxLayout fxLayout.lt-md="column" fxLayoutGap.gt-sm="20px" class="state-city-container">
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Tournament Start Date</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" formControlName="start_date" [matDatepicker]="startDate" />
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Enter Season Fees (per team)</mat-label>
            <input type="number" matInput formControlName="feesPerTeam" />
          </mat-form-field>
        </div>
      </div>
      <app-photo-uploader [defaultImgUrl]="seasonImageUrl" (changeUpload)="onGetImage($event)"></app-photo-uploader>
    </section>
    <section class="section-container" fxLayoutAlign="center center">
      <div fxLayoutAlign="center center" fxLayout fxLayout.lt-md="column" class="team-selection" fxLayoutGap="20px">
        <mat-form-field appearance="outline" color="primary">
          <mat-label>Select Participating Teams</mat-label>
          <mat-select [disabled]="isDisableSelection" formControlName="p_teams"
            (selectionChange)="onRestrictTournamentTypes($event)">
            <mat-option *ngFor="let team of teamsList" [value]="team">
              {{ team }} teams
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" color="primary">
          <mat-label>Select Containing Tournaments</mat-label>
          <mat-select [disabled]="!seasonForm.get('p_teams').value || isDisableSelection" formControlName="cont_tour"
            multiple>
            <mat-option *ngFor="let type of tourTypesFiltered" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </section>
  </div>
  <div *ngIf="!isLoading" class="buttons-container" fxLayoutAlign="end center" fxLayout fxLayoutGap="20px">
    <button *ngIf="seasonID" [disabled]="isSaveChangesDisabled" (click)="onSaveChanges()" type="button"
      class="primaryButton buttonText">Save Changes</button>
    <button [disabled]="isSubmitDisabled" (click)="onNext()" type="button"
      class="primaryButton buttonText">Next</button>
  </div>
  <app-loading *ngIf="isLoading"></app-loading>
</form>
