<form [formGroup]="seasonForm" (ngSubmit)="onSubmit()">
  <div
    fxLayoutAlign="center center"
    fxLayoutGap="20px"
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="center stretch"
  >
    <button
      type="button"
      (click)="onAutofill()"
      class="primaryButton buttonText"
    >
      Autofill and Submit
    </button>
    <button
      [disabled]="seasonForm.invalid"
      type="submit"
      class="primaryButton buttonText"
    >
      Submit
    </button>
    <button
      type="button"
      (click)="seasonForm.reset()"
      class="secondaryButton buttonText"
    >
      Reset
    </button>
  </div>
  <div class="form-container" fxLayout="column">
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Enter Season Name</mat-label>
      <input type="text" matInput formControlName="name" />
    </mat-form-field>
    <div class="photo" fxLayoutAlign="space-between center">
      <input
        hidden
        type="file"
        name="fileInput1"
        accept="image/*"
        #fileInputImage
        (change)="onBrowsePhoto($event)"
        id="file1"
      />
      <button
        type="button"
        (click)="fileInputImage.click()"
        class="buttonText secondaryButton"
      >
        Upload Season Cover Image
      </button>
    </div>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Select State</mat-label>
      <mat-select formControlName="locState">
        <mat-option *ngFor="let state of states" [value]="state">
          {{ state }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Select City</mat-label>
      <mat-select formControlName="locCity">
        <mat-option *ngFor="let city of cities" [value]="city">
          {{ city }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" color="primary">
      <mat-label>Select Containing Tournaments</mat-label>
      <mat-select formControlName="cont_tour" multiple>
        <mat-option *ngFor="let tour of ['FKC', 'FPL', 'FCP']" [value]="tour">
          {{ tour }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary">
      <mat-label> Enter Season Description</mat-label>
      <textarea
        matInput
        formControlName="desc"
        placeholder="Mention season description in 300 words"
      ></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary">
      <mat-label> Enter Season Rules</mat-label>
      <textarea
        matInput
        formControlName="rules"
        placeholder="Mention season rules in 300 words"
      ></textarea>
    </mat-form-field>
    <mat-radio-group
      formControlName="paymentMethod"
      aria-label="Select an option"
      fxLayoutGap="20px"
    >
      <span class="mat-body">Payment Method for Participants:</span>
      <mat-radio-button value="Online">Online</mat-radio-button>
      <mat-radio-button value="Offline">Offline</mat-radio-button>
    </mat-radio-group>

    <mat-radio-group
      formControlName="premium"
      aria-label="Select an option here"
      fxLayoutGap="20px"
    >
      <span class="mat-body">Season Type:</span>
      <mat-radio-button [value]="true">Premium</mat-radio-button>
      <mat-radio-button [value]="false">Non-Premium</mat-radio-button>
    </mat-radio-group>
  </div>
</form>
