<mat-toolbar
  color="primary"
  class="mat-elevation-z4"
  fxLayoutAlign="start center"
  fxLayoutGap="16px"
>
  <button mat-icon-button mat-dialog-close (click)="onCloseDialog()">
    <mat-icon class="material-icons-round"> close </mat-icon>
  </button>
  <span class="mat-body-1">Freekyk Street Style Contest Details</span>
</mat-toolbar>

<div class="container-2">
  <div class="dialogData seperator" fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutGap="8px">
      <span class="mat-body-1 left">Prizes</span>

      <div fxLayout>
        <span
          fxLayoutAlign="center center"
          [matTooltip]="(moreInfo$ | async)?.prizes.first"
          class="prizes first mat-caption"
        >
          1st
        </span>
        <span
          fxLayoutAlign="center center"
          [matTooltip]="(moreInfo$ | async)?.prizes.second"
          class="prizes second mat-caption"
        >
          2nd
        </span>
        <span
          fxLayoutAlign="center center"
          [matTooltip]="(moreInfo$ | async)?.prizes.third"
          class="prizes third mat-caption"
        >
          3rd
        </span>
      </div>
    </div>
    <div fxLayout="column" fxLayoutGap="8px">
      <span class="mat-body-1 left">Brands Involved</span>

      <div>
        <img
          [src]="brand.imgpath"
          [alt]="brand.name"
          [matTooltip]="brand.name"
          class="brands"
          *ngFor="let brand of (moreInfo$ | async)?.brands"
        />
      </div>
    </div>
    <div fxLayout="column" fxLayoutGap="8px">
      <span class="mat-body-1 left">Rules</span>

      <p class="mat-body-2 left">
        {{ (moreInfo$ | async)?.rules }}
      </p>
    </div>
    <div fxLayout="column" fxLayoutGap="8px">
      <span class="mat-body-1 left">Score Counting</span>

      <p class="mat-body-2 left">
        {{ (moreInfo$ | async)?.scoreCnt }}
      </p>
    </div>
    <div
      fxLayout.lt-md="column"
      fxLayoutAlign.gt-sm="center center"
      fxLayoutGap="16px"
      fxLayout="row"
    >
      <button
        (click)="onCloseDialog(); navigateToContests()"
        class="buttonText secondaryButton"
      >
        View Submissions
      </button>
      <button
        [disabled]="disablePayment"
        (click)="onPayNow()"
        class="buttonText primaryButton"
      >
        Participate Now
      </button>
    </div>
  </div>
</div>
