<mat-card class="feature-card">
  <img class="play_image" mat-card-image src="assets/svgs/Banner/play_banner_small.svg"
    alt="Freekyk Play Grounds Image">
  <mat-card-content>
    <div fxLayoutAlign="center" fxLayout="column">
      <span class="overline center">Be a part of the football network</span>
      <span class="mat-title center">Freekyk Grounds</span>
      <p class="mat-body-1 center description">
        Find grounds in your area and show up to play!
      </p>
    </div>
  </mat-card-content>
</mat-card>
<section class="features-section">
  <app-no-items-message *ngIf="!grounds.length"></app-no-items-message>
  <app-search-lg searchPlaceholder="Search for a Ground" (searchItem)="applyFilter($event)"></app-search-lg>
  <ul>
    <li *ngFor="let ground of grounds">
      <mat-card class="mat-elevation-z8 dashboard-card" *ngIf="ground"
        (click)="openGround(ground); $event.stopPropagation()">
        <mat-card-header>
          <mat-card-title *ngIf="ground.name">
            <span class="dash-h5 align ellipsis">
              {{ground.name}}
            </span>
          </mat-card-title>

        </mat-card-header>
        <img mat-card-image [src]="ground.imgpath" [alt]="ground.name" appFallbackImg>
        <mat-card-content *ngIf="ground.locCity && ground.locState">
          <div fxLayoutAlign="start center" fxLayoutGap="8px">
            <span class="material-icons-round">
              place
            </span>
            <span class="mat-caption">
              {{ground.locCity}}, {{ground.locState}}
            </span>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button color="primary" mat-button (click)="openGround(ground); $event.stopPropagation()" fxLayout="column"
            fxLayoutAlign="center center" fxLayoutGap="8px">
            <span> View ground </span>
            <span class="material-icons-round"> chevron_right </span>
          </button>
        </mat-card-actions>
      </mat-card>
    </li>
  </ul>
</section>
<app-loading *ngIf="isLoaderShown">
</app-loading>