<form [formGroup]="sellerForm" (ngSubmit)="onSubmit()">
  <div
    fxLayoutAlign="center center"
    fxLayoutGap="20px"
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="center stretch"
  >
    <button
      type="button"
      (click)="onAutofill()"
      class="primaryButton buttonText"
    >
      Autofill and Submit
    </button>
    <button
      [disabled]="sellerForm.invalid"
      type="submit"
      class="primaryButton buttonText"
    >
      Submit
    </button>
    <button
      type="button"
      (click)="sellerForm.reset()"
      class="secondaryButton buttonText"
    >
      Reset
    </button>
  </div>
  <div class="form-container" fxLayout="column">
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Enter Seller Name</mat-label>
      <input type="text" matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Enter Seller License Number</mat-label>
      <input type="tel" matInput formControlName="licNo" />
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Enter Seller Phone Number</mat-label>
      <input type="tel" matInput formControlName="phNo" />
      <span matPrefix>+91</span>
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Select Seller Location State</mat-label>
      <mat-select formControlName="locState">
        <mat-option *ngFor="let state of states" [value]="state">
          {{ state }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary">
      <mat-label> Enter Seller Full Address</mat-label>
      <textarea
        matInput
        formControlName="addr"
        placeholder="Mention seller address"
      ></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Enter Seller Address Pincode</mat-label>
      <input type="tel" matInput formControlName="pincode" />
    </mat-form-field>
  </div>
</form>
