section {
  margin-top: 16px;
}

.back-button {
  margin-left: 16px;
  margin-top: 20px;
}

mat-list {
  width: 100%;
  height: calc(100vh - 230px);
  overflow-y: auto;
  padding: 12px;

  mat-list-item {
    height: 80px;
    width: 100%;
    margin-bottom: 12px;

    .dashboard-card {
      padding: 12px 0 !important;
    }

    .data-container {
      width: 100%;

      .image {
        height: 100px;
        max-height: 81px;
        width: 50px;
        max-width: 50px;
        overflow: hidden;
        background-color: var(--grey5);
        border-radius: var(--dashCardBorder) 0 0 var(--dashCardBorder);
        margin-left: -16px;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      mat-chip {
        width: 100%;

        span.mat-caption {
          white-space: nowrap;
        }
      }
    }

    .description {
      width: 100%;
    }

  }

}