<div class="back-button" fxLayoutAlign="start center">
  <div fxLayout="row" fxLayoutAlign="center center">
    <span class="dash-h5 heading">
      Matches & Tournaments
    </span>
  </div>
</div>

<section>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Upcoming">
      <mat-list>
        <app-no-items-message *ngIf="!upcomingSeasons.length"
          customText="Uh-Oh! You have not created any match or tournament yet."></app-no-items-message>
        <mat-list-item *ngFor="let season of upcomingSeasons" (click)="onSelectSeason(season)">
          <mat-card class="mat-elevation-z8 dashboard-card data-container" fxLayoutAlign="start center"
            fxLayoutGap="12px">
            <div class="image">
              <img [src]="season?.more?.imgpath" [alt]="season.name" appFallbackImg>
            </div>
            <div class="description" fxLayoutAlign="space-between center">
              <div class="description" fxLayout="column" fxLayoutAlign="stretch start">
                <span class="mat-body-1">
                  {{season.name}}
                </span>
                <span class="mat-caption sec-menu" *ngIf="season.city || season.state">
                  {{season.startDate | date: 'medium'}}
                </span>
                <span *ngIf="isSeasonLive(season.status)" matTooltip="Live"
                  class="material-icons-round red">sensors</span>
              </div>
              <div fxLayout="row" fxLayoutAlign="end center">
                <mat-chip-list>
                  <mat-chip>
                    <span class="mat-caption">
                      {{formatter.formatTournamentType(season.type)}}
                    </span>
                  </mat-chip>
                </mat-chip-list>
                <span class="material-icons-round clickable">
                  chevron_right
                </span>
              </div>
            </div>
          </mat-card>

        </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="Finished">
      <mat-list>
        <app-no-items-message *ngIf="!finishedSeasons.length"
          customText="Uh-Oh! Matches are not finished yet."></app-no-items-message>
        <mat-list-item *ngFor="let season of finishedSeasons" (click)="onSelectSeason(season)">
          <app-season-strip [data]="season"></app-season-strip>
        </mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</section>


<!-- <div class="table-container">
  <table mat-table [dataSource]="seasons">
    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef>S.No.</th>
      <td class="row" mat-cell *matCellDef="let i = index; let data">
        <span class="mat-body-2">
          {{ i + 1 }}
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="season">
      <th mat-header-cell *matHeaderCellDef>Season</th>
      <td class="row" mat-cell *matCellDef="let data">
        <div fxLayoutGap="8px" fxLayoutAlign="start center">
          <span *ngIf="isSeasonLive(data.status)" matTooltip="Live" class="material-icons-round red">sensors</span>
          <span *ngIf="isSeasonFinished(data.status)" matTooltip="Finished"
            class="material-icons-round greenLight">assignment_turned_in</span>
          <span *ngIf="isSeasonCancelled(data.status)" matTooltip="Cancelled"
            class="material-icons-round red">event_busy</span>
          <span class="mat-body-2">
            {{ data.name }}
          </span>
          <mat-chip-list>
            <mat-chip>{{formatter.formatTournamentType(data.type)}}</mat-chip>
          </mat-chip-list>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef>Start Date</th>
      <td class="row" mat-cell *matCellDef="let data">
        <span class="mat-body-2">
          {{ data?.startDate | date: 'fullDate' }}
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let data">
        <span class="mat-body-2" [ngClass]="getStatusClass(data.status)">
          {{ data.status }}
        </span>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="cols; sticky: true"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: cols" class="selected-row" routerLink="/seasons/{{myRowData.id}}">
    </tr>
  </table>
</div> -->
<div class="buttons-container" fxLayout="column" fxLayoutGap="12px">
  <button class="full-button buttonText primaryButton" fxFlex="100%" mat-button [routerLink]="['/seasons/create']"
    fxLayoutAlign="center center" fxLayoutGap="4px">
    <span class="material-icons-round external-icon">add_circle</span>
    <span>
      Create New
    </span>
  </button>
</div>