<mat-toolbar color="primary" class="mat-elevation-z4" fxLayoutAlign="start center" fxLayoutGap="16px">
  <button mat-icon-button mat-dialog-close (click)="onCloseDialog()">
    <mat-icon class="material-icons-round"> close </mat-icon>
  </button>
  <span class="mat-body-1">Invite Players to Team</span>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="Send more Invites">
    <app-players-list [cols]="COLS" [players]="players$ | async" (selectionChange)="createInvites($event)"
      [maxLimit]="15">
    </app-players-list>
    <div class="button-container" fxLayoutAlign="center center">
      <button type="button" [disabled]="invitesList.length === 0" (click)="sendInvites()"
        class="primaryButton buttonText">
        Send Invites
      </button>
    </div>
  </mat-tab>
  <mat-tab label="Pending invites">
    <app-invited-players-list></app-invited-players-list>
  </mat-tab>
</mat-tab-group>
<app-loading *ngIf="isLoaderShown"></app-loading>
