<mat-toolbar color="primary" class="mat-elevation-z4" fxLayoutAlign="start center" fxLayoutGap="16px">
  <button mat-icon-button mat-dialog-close (click)="onCloseDialog()">
    <mat-icon class="material-icons-round"> close </mat-icon>
  </button>
  <span class="mat-body-1">Send Join Request to a Freekyk Team</span>
</mat-toolbar>
<div class="container-2">
  <div ngClass.lt-md="dialogData" ngClass.gt-sm="stepdata">
    <mat-vertical-stepper #stepper [linear]="true">
      <mat-step label="Send Join Request to Teams"
        [completed]="selectedTeams.length < 5 && selectedTeams.length >= 1 && !error" [state]="state">
        <div class="content_container" fxLayout="column" fxLayoutGap="16px">
          <app-search-autocomplete [isDisabled]="noTeams" [options]="(teamsList$ | async)"
            (selectionChange)="onAddSelection($event)" placeholder="Enter Team Name to Get Started">
          </app-search-autocomplete>
          <mat-hint *ngIf="selectedTeams.length > 5">
            Maximum teams selected!
          </mat-hint>
          <mat-hint *ngIf="selectedTeams.length > 5">
            You can send join requests to maximum 5 teams
          </mat-hint>
          <mat-list class="list" dense color="primary" *ngIf="selectedTeams.length">
            <i *ngIf="noTeams">
              Currently, there are no team available to join! Please
              try again later
            </i>
            <mat-list-item *ngFor="let team of selectedTeams; let i = index">
              <div fxLayoutAlign="space-between center" fxLayoutGap="4px" class="selection-container">
                <div fxLayoutAlign="start center" fxLayoutGap="8px">
                  <img matListAvatar [src]="team.data.imgpath_logo" alt="Team Logo" appFallbackImg />
                  <span ngClass.gt-sm="mat-body-1" ngClass.lt-md="mat-caption">
                    {{ team.viewValue | textShorten: 50 }}
                  </span>
                </div>
                <div fxLayoutAlign="center center" fxLayoutGap="16px">
                  <a class="material-icons-round remove-icon" matTooltip="remove"
                    (click)="onRemoveSelection(i)">delete</a>
                  <a target="_blank" matTooltip="Open team profile" [routerLink]="['/t', team.data.tname]"
                    class="material-icons-round">
                    open_in_new
                  </a>
                </div>
              </div>
            </mat-list-item>
          </mat-list>

          <button (click)="onSubmit(selectedTeams)"
            [disabled]="selectedTeams.length > 5 || selectedTeams.length < 1 || error" class="primaryButton buttonText">
            Next
          </button>
          <p class="mat-caption left">
            By tapping “Next” above, you acknowledge that you have read and
            understood, and agree to
            <a [routerLink]="['/terms']">Freekyk Team Rules & Regulations</a>.
          </p>
        </div>
      </mat-step>
      <mat-step label="Done">
        <div class="fin_cont" fxLayout="column" fxLayoutGap="16px" *ngIf="isStepOneComplete">
          <ng-template #spinner>
            <app-loading></app-loading>
          </ng-template>
          <app-tick-animation *ngIf="success; else spinner"></app-tick-animation>
          <p class="mat-body-2 center">All Done!</p>
          <p class="mat-body-1 center">
            Captains can now accept your request and send you back a team join
            invite
          </p>
          <p class="mat-caption center">
            (Manage your recieved invites via
            <a (click)="onCloseDialog()" [routerLink]="['/dashboard', 'home']">
              Dashboard
            </a>
            )
          </p>

          <div fxLayoutAlign.gt-sm="center center" fxLayout.lt-md="column">
            <button (click)="onCloseDialog()" class="primaryButton buttonText">
              Finish
            </button>
          </div>
        </div>
      </mat-step>

      <!-- overriding icons -->
      <ng-template matStepperIcon="requests">
        <mat-icon class="material-icons-round"> send </mat-icon>
      </ng-template>

      <ng-template matStepperIcon="complete">
        <mat-icon class="material-icons-round"> check_circle </mat-icon>
      </ng-template>
    </mat-vertical-stepper>
  </div>
</div>
