.selection-container {
  width: 100%;
}

.remove-icon {
  color: var(--red) !important;
}

.list {
  min-height: 150px;
}

.shortcut {
  margin-top: 3px;
}

.or-text {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
