<app-loading *ngIf="isLoaderShown"></app-loading>
<div fxLayoutAlign="start center" class="back-button">
  <mat-icon class="material-icons-round">keyboard_arrow_left</mat-icon>
  <a [routerLink]="['/seasons/list']">Go Back to All Seasons</a>
</div>
<div *ngIf="seasonFixtures.length && isSeasonPublished" class="mat-caption trouble-text">
  Have trouble with any match data? Raise a quest to revoke match data immediately. <a (click)="onRaiseRequest()">Click
    here</a>
</div>
<div *ngIf="seasonFixtures.length" class="trouble-text" fxLayout.lt-md="column" fxLayoutGap="20px"
  fxLayoutAlign="center center">
  <button [routerLink]="['/seasons/list']" class="buttonText secondaryButton">
    Go Back
  </button>
  <button *ngIf="isSeasonFinished || this.isSeasonPublished" (click)="goToURL()" class="buttonText primaryButton">
    View your season
  </button>
  <button *ngIf="this.isSeasonPublished" (click)="onRaiseDeleteRequest()" class="buttonText noResponseButton">
    Delete this season
  </button>
  <button *ngIf="isSeasonFinished === false && this.isSeasonPublished === false" (click)="publishSeason()"
    class="buttonText primaryButton">
    Publish Season
  </button>
  <button *ngIf="isSeasonFinished === false && this.isSeasonPublished === false" (click)="onConfirmDelete()"
    class="buttonText noResponseButton">
    Delete this draft
  </button>
</div>
<mat-card fxLayoutAlign="space-between center" fxLayout="row">
  <span class="mat-subheading-2">
    {{ seasonDraftData?.basicInfo?.name }}
  </span>
  <div fxLayout="column" fxLayoutAlign="center end">
    <span class="mat-subheading-1" [ngClass]="getStatusClass()">
      {{seasonDraftData?.status}}
    </span>
    <span class="mat-body-1">
      Last updated on {{ seasonDraftData?.lastUpdated | date: 'medium' }}
    </span>
  </div>
</mat-card>
<mat-card class="last-date-card" *ngIf="!isSeasonFinished && !isSeasonPublished">
  <h4>
    Select last date for Participation in Season:
  </h4>
  <mat-form-field appearance="standard" color="primary">
    <input matInput [max]="maxRegisDate" [(ngModel)]="lastRegistrationDate" [matDatepicker]="startDate" />
    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
    <mat-datepicker #startDate></mat-datepicker>
  </mat-form-field>
</mat-card>
<mat-card class="info-card">
  <div fxLayoutAlign="space-between start">
    <div class="text-container-parent">
      <div class="text-container">
        <h4>Location</h4>
        <p class="mat-body-1">
          {{ seasonDraftData?.basicInfo?.city + ", " + seasonDraftData?.basicInfo?.state }}
        </p>
      </div>
      <div class="text-container" fxLayoutAlign="start start" fxLayoutGap="30px" fxLayout>
        <div>
          <h4>Fees</h4>
          <p class="mat-body-1">
            {{ seasonDraftData?.basicInfo?.fees }}
          </p>
        </div>
        <div>
          <h4>Apply Discount</h4>
          <p class="mat-body-1">
            {{ seasonDraftData?.basicInfo?.discount}} %
          </p>
        </div>
        <div>
          <h4>Payable Fees (per team)</h4>
          <p class="mat-body-2">
            {{ payableFees | currency: 'INR':true }}
          </p>
        </div>
      </div>
      <div class="text-container">
        <h4>Start Date</h4>
        <p class="mat-body-1">
          {{ seasonDraftData?.basicInfo?.startDate | date: 'fullDate' }}
        </p>
      </div>
      <div class="text-container">
        <h4>Total Participating Teams</h4>
        <p class="mat-body-1">
          {{ seasonDraftData?.basicInfo?.participatingTeamsCount }} Teams
        </p>
      </div>
      <div class="text-container">
        <h4>Tournaments Involved</h4>
        <p class="mat-body-1">
          {{ containingTournaments }}
        </p>
      </div>
      <form [formGroup]="updateEntriesForm">
        <div class="text-container">
          <h4 fxLayoutAlign="start center" fxLayoutGap="4px">
            <span>
              Description
            </span>
            <span class="material-icons-round cursors" (click)="edit()" matTooltip="Edit"
              *ngIf="!isEditMode">edit_note</span>
            <ng-container *ngIf="isEditMode">
              <span class="material-icons-round save" matTooltip="Save" (click)="updateSeason()">save</span>
              <span class="material-icons-round cancel" matTooltip="Cancel" (click)="cancel()">block</span>
            </ng-container>
          </h4>
          <p class="mat-body-1" *ngIf="!isEditMode; else descriptionFormField">
            {{ seasonDraftData?.basicInfo?.description }}
          </p>
          <ng-template #descriptionFormField>
            <mat-form-field class="text-area-field" appearance="outline" color="primary">
              <mat-label>Mention Season Description in not more than 200 characters</mat-label>
              <textarea matInput formControlName="description"
                placeholder="Mention season description in 300 words"></textarea>
            </mat-form-field>
          </ng-template>
        </div>
        <div class="text-container">
          <h4 fxLayoutAlign="start center" fxLayoutGap="4px">
            <span>
              Rules
            </span>
            <span class="material-icons-round cursors" (click)="edit()" matTooltip="Edit"
              *ngIf="!isEditMode">edit_note</span>
            <ng-container *ngIf="isEditMode">
              <span class="material-icons-round save" matTooltip="Save" (click)="updateSeason()">save</span>
              <span class="material-icons-round cancel" matTooltip="Cancel" (click)="cancel()">block</span>
            </ng-container>
          </h4>
          <p class="mat-body-1" *ngIf="!isEditMode; else rulesFormField">
            {{ seasonDraftData?.basicInfo?.rules }}
          </p>
          <ng-template #rulesFormField>
            <mat-form-field class="text-area-field" appearance="outline" color="primary">
              <mat-label>Mention Season Rules in not more than 500 characters</mat-label>
              <textarea matInput formControlName="rules" placeholder="Mention season rules in 300 words"></textarea>
            </mat-form-field>
          </ng-template>
        </div>
      </form>
    </div>
    <app-photo-uploader [defaultImgUrl]="seasonDraftData?.basicInfo?.imgpath">
    </app-photo-uploader>
  </div>
</mat-card>
<mat-card class="info-card season-page-container">
  <h4 *ngIf="seasonFixtures.length">Season Fixtures</h4>
  <span class="mat-caption" *ngIf="!seasonFixtures.length">Fixtures not generated yet!</span>
  <app-fixture-table (actionTrigger)="onUpdateMatchData($event)" *ngIf="seasonFixtures.length" [data]="seasonFixtures"
    [actions]="isSeasonPublished"> </app-fixture-table>
  <div *ngIf="seasonFixtures.length && isSeasonPublished" class="mat-caption trouble-text">
    Have trouble with any match data? Raise a quest to revoke match data immediately. <a
      (click)="onRaiseRequest()">Click here</a>
  </div>
  <div *ngIf="seasonFixtures.length" class="trouble-text" fxLayout.lt-md="column" fxLayoutGap="20px"
    fxLayoutAlign="center center">
    <button [routerLink]="['/seasons/list']" class="buttonText secondaryButton">
      Go Back
    </button>
    <button *ngIf="isSeasonFinished || this.isSeasonPublished" (click)="goToURL()" class="buttonText primaryButton">
      View your season
    </button>
    <button *ngIf="this.isSeasonPublished" (click)="onRaiseDeleteRequest()" class="buttonText noResponseButton">
      Delete this season
    </button>
    <button *ngIf="isSeasonFinished === false && this.isSeasonPublished === false" (click)="publishSeason()"
      class="buttonText primaryButton">
      Publish Season
    </button>
    <button *ngIf="isSeasonFinished === false && this.isSeasonPublished === false" (click)="onConfirmDelete()"
      class="buttonText noResponseButton">
      Delete this draft
    </button>
  </div>
</mat-card>
