.back-button {
  margin: 16px 0;
}

.mat-subheading-2,
.mat-subheading-1 {
  margin-bottom: 0 !important;
}

.photo-container {
  height: 300px;
  width: 100%;
  min-width: 250px;
  max-width: 400px;
  overflow: hidden;
  border: 2px dotted grey;
  box-sizing: border-box;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.info-card {
  margin-top: 20px;
}

.cursors {
  cursor: pointer;
}

.mat-body-1,
.mat-body-2,
h4 {
  margin: 4px !important;
}

.text-container-parent {
  width: 100%;
  margin-right: 20px;
}

.text-container {
  margin-bottom: 20px !important;
}

.trouble-text {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.last-date-card {
  margin-top: 20px;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.text-area-field {
  width: 100%;
}

.save {
  font-size: 18px;
  color: var(--primaryColor);
  cursor: pointer;
  margin-right: 8px !important;
  margin-left: 8px !important;
}

.cancel {
  font-size: 18px;
  color: var(--grey1);
  cursor: pointer;
}
