<mat-list>
  <mat-list-item *ngFor="let teamMember of members; last as last"
    (click)="openPlayerProfile(teamMember.id); $event.stopPropagation()">
    <img matListAvatar [src]="teamMember.imgpath" alt="Player Image" appFallbackImg />
    <p matLine fxLayoutAlign="space-between center">
      <span class="mat-body-1">
        <span class="mat-body-1">
          {{teamMember.name}}
        </span>
        <span class="mat-body-1" *ngIf="captainID === teamMember.id">
          (C)
        </span>
      </span>
      <span class="material-icons-round" *ngIf="showProfileButton"
        (click)="openPlayerProfile(teamMember.id); $event.stopPropagation()">chevron_right</span>
    </p>
    <p matLine fxLayoutAlign="space-between center">
      <span class="mat-caption sec-menu" *ngIf="!teamMember.customText"> {{ teamMember.position }} </span>
      <span class="mat-caption sec-menu" *ngIf="teamMember.customText"> {{ teamMember.customText }} </span>
    </p>
    <mat-divider *ngIf="!last"></mat-divider>
  </mat-list-item>
</mat-list>