<mat-list>
  <mat-list-item *ngFor="let teamMember of members; last as last"
    (click)="openPlayerProfile(teamMember.id); $event.stopPropagation()">
    <img matListAvatar [src]="teamMember.imgpath_sm" alt="Player Image" appFallbackImg />
    <p matLine fxLayoutAlign="space-between center">
      <span class="mat-body-1">
        <span class="mat-body-1">
          {{teamMember.name}}
        </span>
        <span class="mat-body-1" *ngIf="captainID === teamMember.id">
          (C)
        </span>
      </span>
      <span class="material-icons-round" *ngIf="showProfileButton"
        (click)="openPlayerProfile(teamMember.id); $event.stopPropagation()">chevron_right</span>
      <ng-container *ngIf="showRemoveButton">
        <a *ngIf="captainID !== teamMember.id" (click)="removePlayer(teamMember.id); $event.stopPropagation()"
          class="red mat-caption">
          Remove
        </a>
      </ng-container>
    </p>
    <p matLine fxLayoutAlign="space-between center">
      <span class="mat-caption sec-menu"> {{ teamMember.pl_pos }} </span>
    </p>
    <mat-divider *ngIf="!last"></mat-divider>
  </mat-list-item>
</mat-list>