<div class="container primary-bg whiteText compactSpace" *ngIf="content" fxLayout="column" fxLayoutGap="24px">
  <div fxLayout="column" fxLayoutGap="8px">
    <h4 class="mat-subheading-1 left">
      {{ content.heading }}
      <!-- {{ "Why choose Freekyk " + serviceName + "?" }} -->
    </h4>
    <span class="mat-body-1 left">
      {{ content.description }}
    </span>
  </div>
  <ul fxLayout.gt-sm="row wrap" fxLayout="column" fxLayoutGap.lt-md="20px" *ngIf="content.listPoints">
    <li fxFlex="100%" fxFlex.gt-sm="50%" fxLayoutGap="16px" *ngFor="let point of content.listPoints; let i = index"
      fxLayoutAlign="start center">
      <div fxFlex="40px" class="step_number mat-body-1" fxLayoutAlign="center center">
        {{ i + 1 }}
      </div>
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap.lt-md="8px">
        <div fxLayout="column" fxLayoutAlign="start start">
          <span class="left mat-body-2" *ngIf="point.heading">
            {{ point.heading }}
          </span>
          <span class="left mat-caption desc" *ngIf="point.description">
            {{ point.description }}
          </span>
        </div>
      </div>
    </li>
  </ul>
</div>
