<section class="container primary-bg whiteText compactSpace" *ngIf="content" fxLayout="column" fxLayoutGap="12px">
  <div fxLayout="column">
    <span class="dash-h5 ">
      {{ content.heading }}
    </span>
    <span class="mat-caption ">
      {{ content.description }}
    </span>
  </div>
  <ul fxLayout.gt-sm="row wrap" fxLayout="column" fxLayoutGap.lt-md="20px" *ngIf="content.listPoints">
    <li fxFlex="100%" fxFlex.gt-sm="50%" fxLayoutGap="16px" *ngFor="let point of content.listPoints; let i = index"
      fxLayoutAlign="start start">
      <div fxFlex="20px" class="step_number mat-body-2" fxLayoutAlign="center center">
        {{ i + 1 }}
      </div>
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap.lt-md="8px">
        <div fxLayout="column" fxLayoutAlign="start start">
          <span class="left mat-body-2" *ngIf="point.heading">
            {{ point.heading }}
          </span>
          <span class="left mat-caption desc" *ngIf="point.description">
            {{ point.description }}
          </span>
        </div>
      </div>
    </li>
  </ul>
</section>