<div class="cards-container" fxLayout.lt-md="column" fxLayout="row wrap" fxLayoutGap.lt-md="0" fxLayoutGap.gt-sm="20px">
  <div class="shortcuts" fxLayoutGap="12px" fxLayout="column" fxFlex.gt-sm="100%">
    <span class="mat-body-1" *ngIf="playerName">
      Hello, <span class="mat-body-2">{{playerName}}</span>
    </span>
    <app-action-shortcut-button *ngIf="profileShortcutData" [data]="profileShortcutData"
      (actionTrigger)="openProfile()"></app-action-shortcut-button>

    <app-action-shortcut-button *ngIf="teamShortcutData" [data]="teamShortcutData"
      (actionTrigger)="takeTeamAction()"></app-action-shortcut-button>
  </div>

  <app-upcoming-match *ngIf="upcomingFixture" [fixture]="upcomingFixture"
    [description]="upcomingFixtureDescription"></app-upcoming-match>

  <app-my-matches fxFlex.gt-sm="100%" [teamName]="team" [matches]="teamMatches"></app-my-matches>

  <app-my-stats-card [data]="stats"></app-my-stats-card>

  <app-my-team-menu></app-my-team-menu>

  <div class="shortcuts" fxLayoutGap="12px" fxLayout="column" fxFlex.gt-sm="100%">
    <app-action-shortcut-button [data]="ticketShortcutData"
      (actionTrigger)="openTicketDialog()"></app-action-shortcut-button>
  </div>

  <app-my-notifications></app-my-notifications>
</div>
<app-loading *ngIf="isLoaderShown"></app-loading>
