<div class="cards-container" fxLayout.lt-md="column" fxLayout="row wrap" fxLayoutGap.lt-md="12px"
  fxLayoutGap.gt-sm="20px">


  <div class="shortcuts" fxLayoutGap="12px" fxLayout="column" fxFlex.gt-sm="100%">
    <span class="mat-body-1" *ngIf="playerName">
      Hello, {{playerName}}
    </span>
    <app-dashboard-action-shortcut-button [data]="profileShortcutData"
      (actionTrigger)="openProfile()"></app-dashboard-action-shortcut-button>

    <app-dashboard-action-shortcut-button [data]="teamShortcutData"
      (actionTrigger)="takeTeamAction()"></app-dashboard-action-shortcut-button>
  </div>


  <app-upcoming-match *ngIf="upcomingFixture" [fixture]="upcomingFixture"
    [description]="upcomingFixtureDescription"></app-upcoming-match>

  <app-my-matches fxFlex.gt-sm="100%" [teamName]="team" [matches]="teamMatches"></app-my-matches>

  <app-my-stats-card [data]="stats"></app-my-stats-card>

  <app-my-team-menu></app-my-team-menu>


  <div class="shortcuts" fxLayoutGap="12px" fxLayout="column" fxFlex.gt-sm="100%">
    <app-dashboard-action-shortcut-button [data]="ticketShortcutData"
      (actionTrigger)="openTicketDialog()"></app-dashboard-action-shortcut-button>
  </div>
</div>




<!-- <div fxLayoutGap="20px" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign.gt-md="center">
  <div *ngIf="showMobile && isLoading" class="_fixture" fxLayout="column" fxLayoutGap="16px">
    <span class="_button shine" *ngFor="let fixt of [1, 2, 3, 4]"></span>
  </div>

  <div *ngIf="showMobile && !isLoading && nextStatus" fxLayout="column" fxLayoutGap="8px">
    <button (click)="takeAction(nextStatus.action)" class="wide-button" fxLayout fxLayoutAlign="space-between center">
      <div class="b-name" fxLayout fxLayoutGap="20px" fxLayoutGap.lt-sm="4px">
        <span class="mat-body-1"> {{nextStatus.text}} </span>
      </div>

      <span class="mat-caption"> {{currentStatusProfileCompletion.targetValue}}% Done </span>
      <span fxHide.gt-sm="true" class="material-icons-round">chevron_right</span>
    </button>
  </div>

  <div fxLayoutGap="20px" fxLayout="column">
    <app-da-ho-profile></app-da-ho-profile>
    <app-da-ho-all-fixtures></app-da-ho-all-fixtures>
  </div>

  <div fxFlex.gt-sm="360px" fxLayout="column" fxLayoutAlign.md="center start" fxLayout.md="row wrap" fxLayoutGap="20px"
    class="right-boxes-container">
    <div [fxFlexOrder]="order1" class="cards-r maxh-cards-r">
      <app-da-ho-stats-card> </app-da-ho-stats-card>
    </div>

    <app-da-ho-complete-profile fxHide.lt-md="true" [fxFlexOrder]="order2">
    </app-da-ho-complete-profile>

    <mat-card [fxFlexOrder]="order3" class="cards-r side-padding mat-elevation-z8">
      <mat-tab-group [(selectedIndex)]="yourTeamIndex">
        <mat-tab label="Your Team">
          <ng-template matTabContent>
            <mat-grid-list cols="2" rowHeight="96px">
              <mat-grid-tile (click)="joinTeam()">
                <a fxLayout="column" fxLayoutAlign="center center">
                  <span class="material-icons-round">add_circle </span>
                  <span class="mat-body-1">Join a Team </span>
                </a>
              </mat-grid-tile>
              <mat-grid-tile (click)="createTeam()">
                <a fxLayout="column" fxLayoutAlign="center center">
                  <span class="material-icons-round">group_add </span>
                  <span class="mat-body-1">Create a Team </span>
                </a>
              </mat-grid-tile>
              <mat-grid-tile (click)="yourTeamIndex = 2">
                <a fxLayout="column" fxLayoutAlign="center center">
                  <span class="material-icons-round">groups </span>
                  <span class="mat-body-1">View Invites </span>
                </a>
              </mat-grid-tile>
              <mat-grid-tile [routerLink]="['/dashboard', 'team-management']">
                <a fxLayout="column" fxLayoutAlign="center center">
                  <span class="material-icons-round">settings </span>
                  <span class="mat-body-1">Manage Team </span>
                </a>
              </mat-grid-tile>
            </mat-grid-list>
          </ng-template>
        </mat-tab>
        <mat-tab label="Upcoming Match">
          <ng-template matTabContent>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-card>

    <app-da-ho-notifs fxFlex.md="100%" [fxFlexOrder]="order4"></app-da-ho-notifs>
  </div>

  <div *ngIf="showMobile && !isLoading" fxLayout="column" fxLayoutGap="8px">
    <button [routerLink]="['/support']" class="wide-button" fxLayout fxLayoutAlign="space-between center">
      <div class="b-name" fxLayout fxLayoutGap="20px" fxLayoutGap.lt-sm="4px">
        <span class="material-icons-round">live_help</span>
        <span class="mat-body-1"> Need help? Raise a ticket </span>
      </div>

      <span class="material-icons-round"> keyboard_arrow_right </span>
    </button>
  </div>
</div> -->

<app-loading *ngIf="isLoaderShown"></app-loading>
