<div class="cards-container" fxLayout.lt-md="column" fxLayout="row wrap">
  <div class="shortcuts" fxLayoutGap="12px" fxLayout="column" fxFlex.gt-sm="100%">
    <div class="first-row" fxLayoutAlign="space-between center">
      <span class="mat-body-1" *ngIf="player?.name">
        Hello, <span class="mat-body-2">{{player.name || 'New user'}}</span>
      </span>
      <a [routerLink]="['/dashboard', 'account']" class="mat-caption sec-menu">Edit Profile</a>
    </div>
    <!-- <app-action-shortcut-button *ngIf="profileShortcutData" [data]="profileShortcutData"
      (actionTrigger)="openProfile()"></app-action-shortcut-button>

    <app-action-shortcut-button *ngIf="teamShortcutData" [data]="teamShortcutData"
      (actionTrigger)="takeTeamAction()"></app-action-shortcut-button> -->
  </div>

  <app-pending-payment *ngIf="pendingOrdersList.length" [data]="pendingOrdersList"></app-pending-payment>

  <app-upcoming-match *ngIf="upcomingFixture" [fixture]="upcomingFixture"></app-upcoming-match>

  <app-my-matches fxFlex.gt-sm="100%" [matches]="teamMatches"></app-my-matches>

  <app-my-stats-card [data]="stats"></app-my-stats-card>

  <app-my-team-menu></app-my-team-menu>

  <div class="shortcuts" fxLayoutGap="12px" fxLayout="column" fxFlex.gt-sm="100%" *ngIf="ticketShortcutData">
    <app-action-shortcut-button [data]="ticketShortcutData"
      (actionTrigger)="openTicketDialog()"></app-action-shortcut-button>
  </div>
  <div id="notification-dashboard">
    <app-my-notifications></app-my-notifications>
  </div>
</div>
<app-loading *ngIf="isLoaderShown"></app-loading>